<section>

    <div style="background: #FFFFFF" class="relative flex flex-col sm:items-center lg:flex-row px-10 lg:px-32"
    >
        <div class="md:w-4/5 sm:w-4/5 lg:w-1/2 flex flex-col justify-center space-y-2 mt-2">

            <h4 class="text-gray-600 text-sm">OUR COMMUNITY IMPACT</h4>
            <h2 class="text-bold text-xl">
                We are more than a digital banking platform, we help make dreams come true via our community impact program.
                The JAV foundation focuses on impacting Academics, Athletics and Healthcare in the communities we serve.
            </h2>
<!--            <button class="h-10 text-white px-10 w-44 shadow-md text-xs rounded bg-blue-800">-->
<!--                Learn More-->
<!--            </button>-->

        </div>
        <div class="flex justify-center lg:w-1/2 py-16">

            <div class="relative">
                <img src="/images/Football.jpg" class="h-96 rounded-2xl"/>
                <div class="border-4 rounded-2xl border-green-500 absolute -bottom-10 -right-10 left-10 top-10 ">
                </div>

                <img src="/images/Football.jpg" class="absolute rounded-2xl h-96 top-0 left-0 right-0"/>

                <div class="h-9 w-9 z-20 rounded-full bg-yellow-300  absolute top-4 -left-4">
                </div>
            </div>

        </div>


    </div>

</section>