<footer class="p-10 lg:px-32 pt-20 pb-10 bg-blue-900" style="background: #11234B;">

    <div class="grid grid-cols-2 xl:grid-cols-7 gap-4 text-white">

        <div>
            <div>
                <a href="/#products">
                    <h2 class="font-bold text-xl my-2">Who We Are</h2>
                </a>
            </div>
            <div class="mt-1">
                <a href="/#products" class="text-md text-gray-200 ">JAV Infrastructure</a>
            </div>            

            <div class="mt-1">
            <a href="/#products" class="text-md text-gray-200">JAV Tech</a>
            </div>
            
            {{!-- <div class="mt-1">
                <a href="/#products" class="text-md text-gray-200">JAV Finance</a>
            </div> --}}
            <div class="mt-1">
                <a href="/#products" class="text-md text-gray-200">JAV Commodities</a>
            </div>

        </div>


        <div>
            <div>
                <a href="/#platform">
                    <h2 class="font-bold text-xl my-2">Our Tech</h2>
                </a>
            </div>
        
                    <div class="mt-1">
                        <a href="/#platform" class="text-md text-gray-200 ">Digital KYC</a>
                    </div>
                    <div class="mt-1">
                        <a href="/#platform"  class="text-md text-gray-200 ">Country Connect</a>
                    </div>
                    <div class="mt-1">
                        <a href="/#platform"  class="text-md text-gray-200 ">JAV API</a>
                    </div>
                    <div class="mt-1">
                        <a href="/#platform" class="text-md text-gray-200 ">JAV AI</a>
                    </div>
        
        </div>

        <div>
            <div>
                <a href="/#javfinance">
                    <h2 class="font-bold text-xl my-2">JAV Finance</h2>
                </a>
            </div>
        
        </div>


        <div>
            <div>
                <a href="/#agrisection">
                    <h2 class="font-bold text-xl my-2">AgriTech</h2>
                </a>
            </div>

            <div class="mt-1">
                <a href="/#agrisection" class="text-md text-gray-200 ">Overview</a>
            </div>
            <div class="mt-1">
                <a href="/#agrisection" class="text-md text-gray-200 ">Tech</a>
            </div>
        
        
        </div>

        <div>
            <div>
                <h2 class="font-bold text-xl my-2">Solutions</h2>
            </div>

            <div class="mt-1">
                <a href="/#solutions" class="text-md text-gray-200 ">Foreign exchange</a>
            </div>


            <div class="mt-1">
                <a href="/#solutions"  class="text-md text-gray-200">Remittance</a>
            </div>


            <div class="mt-1">
                <a href="/#solutions" class="text-md text-gray-200">Tech as Service</a>
            </div>

        </div>

       

        <!--
            <div>
                <div>
                <h2 class="font-bold text-xl my-2">About us</h2>
                </div>
                <div>
                <a class="text-sm font-light">Security</a>
                </div> 
                <div class="mt-1">
                <a  href="/about-us" class="text-md text-gray-200">Leadership</a>
                </div>

                <div class="mt-1">
                <a href="/about/company" class="text-md text-gray-200">Company</a>
                </div>

                <div class="mt-1">
                <a  href="/about-us" class="text-md text-gray-200">Partners</a>
                </div>

                <div class="mt-1">
                <a  href="/about/clients" class="text-md text-gray-200">Clients</a>
                </div>
            </div>
        -->

            <div>
                <div>
                <h2 class="font-bold text-lg my-2">Resources</h2>
                </div>
                <div class="flex items-center">
                <a href="/#news" class="text-lg ">In the news</a>
                </div>
                <div class="flex items-center">
                <a href="/#news" class="text-md">Community Impact</a>
                </div>
            </div>

        <div>
            <div>
                <h2 class="font-bold text-lg my-2">Contact Us</h2>
            </div>
            <div class="flex items-center">
                <a href="mailto:support@javolin.com" class="text-lg mx-1 hover:underline">admin@javolin.com</a>
            </div>
            <!-- <div class="flex items-center">
                <a href="mailto:support@javolin.com" class="text-lg mx-1 hover:underline">trade@javolin.com</a>
            </div> -->
        </div>


    </div>

    <div class="mt-20 flex flex-col lg:flex-row md:flex-row xl:flex-row items-center justify-between">
        <div class="text-white">

        <div class="flex mt-4 items-center justify-center">
            <a target="_blank" href="https://twitter.com/javolinfintech">
                <svg class="mx-1" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 0.5C5.20156 0.5 0.5 5.20156 0.5 11C0.5 16.7984 5.20156 21.5 11 21.5C16.7984 21.5 21.5 16.7984 21.5 11C21.5 5.20156 16.7984 0.5 11 0.5ZM16.0461 8.41484C16.0531 8.525 16.0531 8.63984 16.0531 8.75234C16.0531 12.193 13.4328 16.1562 8.64453 16.1562C7.16797 16.1562 5.79922 15.7273 4.64609 14.9891C4.85703 15.0125 5.05859 15.0219 5.27422 15.0219C6.49297 15.0219 7.61328 14.6094 8.50625 13.9109C7.3625 13.8875 6.40156 13.1375 6.07344 12.1063C6.47422 12.1648 6.83516 12.1648 7.24766 12.0594C6.65873 11.9397 6.12939 11.6199 5.74957 11.1542C5.36974 10.6885 5.16286 10.1056 5.16406 9.50469V9.47187C5.50859 9.66641 5.91406 9.78594 6.33828 9.80234C5.98166 9.56467 5.6892 9.24268 5.48682 8.86491C5.28445 8.48715 5.17841 8.06528 5.17813 7.63672C5.17813 7.15156 5.30469 6.70859 5.53203 6.32422C6.18571 7.12891 7.0014 7.78705 7.92609 8.25586C8.85078 8.72466 9.86377 8.99364 10.8992 9.04531C10.5312 7.27578 11.8531 5.84375 13.4422 5.84375C14.1922 5.84375 14.8672 6.15781 15.343 6.66406C15.9312 6.55391 16.4937 6.33359 16.9953 6.03828C16.8008 6.64062 16.393 7.14922 15.8516 7.47031C16.3766 7.41406 16.8828 7.26875 17.3516 7.06484C16.9977 7.58516 16.5547 8.04688 16.0461 8.41484Z" fill="#DDDDDD"/>
                </svg>
            </a>

            <a target="_blank" href="https://facebook.com/javolinfintech/">
                <svg class="mx-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.001 2.00195C6.47895 2.00195 2.00195 6.47895 2.00195 12.001C2.00195 16.991 5.65795 21.127 10.439 21.88V14.892H7.89895V12.001H10.439V9.79795C10.439 7.28995 11.932 5.90695 14.215 5.90695C15.309 5.90695 16.455 6.10195 16.455 6.10195V8.56095H15.191C13.951 8.56095 13.563 9.33295 13.563 10.124V11.999H16.334L15.891 14.89H13.563V21.878C18.344 21.129 22 16.992 22 12.001C22 6.47895 17.523 2.00195 12.001 2.00195V2.00195Z" fill="#DDDDDD"/>
                </svg>
            </a>


            <a target="_blank" href="https://www.linkedin.com/in/javolin-group-9981b8224/">
                <svg class="mx-1" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.9212 0.00585938C1.76686 0.00585938 0.00366211 1.76902 0.00366211 3.9234V16.0802C0.00366211 18.2346 1.76682 19.9971 3.9212 19.9971H16.078C18.2324 19.9971 19.9949 18.2346 19.9949 16.0802V3.9234C19.9949 1.76906 18.2324 0.00585938 16.078 0.00585938H3.9212ZM4.90652 3.30482C5.93948 3.30482 6.57574 3.98294 6.59538 4.87432C6.59538 5.74602 5.93944 6.4432 4.88654 6.4432H4.86716C3.85386 6.4432 3.19892 5.74606 3.19892 4.87432C3.19892 3.98296 3.87368 3.30482 4.9065 3.30482H4.90652ZM13.8081 7.47102C15.7947 7.47102 17.2839 8.76946 17.2839 11.5597V16.7687H14.2649V11.909C14.2649 10.6878 13.8279 9.85462 12.7353 9.85462C11.9013 9.85462 11.4041 10.4162 11.1858 10.9587C11.1061 11.1527 11.0865 11.4238 11.0865 11.6953V16.7687H8.06742C8.06742 16.7687 8.10704 8.53646 8.06742 7.68406H11.0871V8.97054C11.4883 8.35154 12.2059 7.471 13.8081 7.471V7.47102ZM3.377 7.68472H6.39606V16.7688H3.377V7.68472Z" fill="#DDDDDD"/>
                </svg>
            </a>


            <a target="_blank" href="https://www.instagram.com/Javolinfintech/">
                <svg class="mx-1" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.9999 8.87531C10.2796 8.87531 8.87565 10.2792 8.87565 11.9995C8.87565 13.7198 10.2796 15.1237 11.9999 15.1237C13.7202 15.1237 15.1241 13.7198 15.1241 11.9995C15.1241 10.2792 13.7202 8.87531 11.9999 8.87531ZM21.3702 11.9995C21.3702 10.7058 21.3819 9.42374 21.3092 8.13234C21.2366 6.63234 20.8944 5.30109 19.7975 4.20421C18.6983 3.10499 17.3694 2.76515 15.8694 2.69249C14.5756 2.61984 13.2936 2.63156 12.0022 2.63156C10.7085 2.63156 9.42643 2.61984 8.13502 2.69249C6.63502 2.76515 5.30377 3.10734 4.2069 4.20421C3.10768 5.30343 2.76784 6.63234 2.69518 8.13234C2.62252 9.42609 2.63424 10.7081 2.63424 11.9995C2.63424 13.2909 2.62252 14.5753 2.69518 15.8667C2.76784 17.3667 3.11002 18.698 4.2069 19.7948C5.30612 20.8941 6.63502 21.2339 8.13502 21.3066C9.42877 21.3792 10.7108 21.3675 12.0022 21.3675C13.296 21.3675 14.578 21.3792 15.8694 21.3066C17.3694 21.2339 18.7006 20.8917 19.7975 19.7948C20.8967 18.6956 21.2366 17.3667 21.3092 15.8667C21.3842 14.5753 21.3702 13.2933 21.3702 11.9995ZM11.9999 16.8066C9.33971 16.8066 7.19284 14.6597 7.19284 11.9995C7.19284 9.33937 9.33971 7.19249 11.9999 7.19249C14.66 7.19249 16.8069 9.33937 16.8069 11.9995C16.8069 14.6597 14.66 16.8066 11.9999 16.8066ZM17.0038 8.11827C16.3827 8.11827 15.8811 7.61671 15.8811 6.99562C15.8811 6.37453 16.3827 5.87296 17.0038 5.87296C17.6249 5.87296 18.1264 6.37453 18.1264 6.99562C18.1266 7.1431 18.0977 7.28917 18.0413 7.42546C17.985 7.56175 17.9023 7.68558 17.798 7.78987C17.6937 7.89415 17.5699 7.97684 17.4336 8.0332C17.2973 8.08955 17.1513 8.11846 17.0038 8.11827Z" fill="#DDDDDD"/>
                </svg>
            </a>

        </div>
        </div>
        <div class="text-slate-400">
            <span>
                <a target="_blank" href="/terms">
                    Terms of Service
                </a>
            </span>  | 
            <span>
                <a target="_blank" href="/privacy">
                    Privacy Policy
                </a>
            </span> 
            
        </div>
    </div>
    

    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
    <div class="flex items-center mt-12 justify-center text-gray-400">


        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 2.25C6.624 2.25 2.25 6.624 2.25 12C2.25 17.376 6.624 21.75 12 21.75C17.376 21.75 21.75 17.376 21.75 12C21.75 6.624 17.376 2.25 12 2.25ZM12 3.75C16.5653 3.75 20.25 7.43475 20.25 12C20.25 16.5653 16.5653 20.25 12 20.25C7.43475 20.25 3.75 16.5653 3.75 12C3.75 7.43475 7.43475 3.75 12 3.75ZM11.9295 7.5C9.4365 7.5 7.4295 9.507 7.4295 12C7.4295 14.493 9.4365 16.5 11.9295 16.5C13.7295 16.5 15.267 15.42 15.984 13.8975L14.625 13.2653C14.1412 14.2935 13.1295 15 11.9295 15C10.2225 15 8.9295 13.707 8.9295 12C8.9295 10.293 10.2225 9 11.9295 9C13.1295 9 14.142 9.7065 14.625 10.7347L15.9847 10.1017C15.2677 8.57925 13.7295 7.49925 11.9295 7.49925V7.5Z" fill="#C2C2C2"/>
        </svg>

        
        <span class="text-sm mx-2">
            2023 Javolin Group Ltd. All rights reserved
        </span>

    </div>

</footer>
