<div class="w-auto min-w-full justify-center items-center gap-3 inline-flex">
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal" style="max-width: 120px;">
        {{>menu/industries}}</div>
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal" style="max-width: 120px;">
        {{>menu/solutions}}</div>
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal " style="max-width: 120px;">
        {{>menu/technology}}</div>
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal " style="max-width: 120px;">
        {{>menu/resources}}</div>
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal " style="max-width: 120px;">
        {{>menu/aboutus}}</div>
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal " style="max-width: 120px;">
        {{>menu/support}}</div>
</div>