<div class="flex w-auto justify-center items-center gap-10 whitespace-nowrap text-slate-950 font-bold">
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal" style="max-width: 120px;">
        {{>menu/products}}
    </div>
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal" style="max-width: 120px;">
        {{>menu/technologies}}
    </div>
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal" style="max-width: 120px;">
        {{>menu/javfinance}}
    </div>
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal" style="max-width: 120px;">
        {{>menu/agribusiness}}
    </div>
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal" style="max-width: 120px;">
        {{>menu/solutions}}
    </div>


    <!--
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal" style="max-width: 120px;">
        {{>menu/aboutus}}
    </div>
    -->
    <!--
    <div class="text-slate-950 text-sm font-medium font-satoshi leading-normal" style="max-width: 120px;">
        {{>menu/support}}
    </div>
    -->
</div>