<div class="hidden lg:block lg:flex">

    {{>menu/solutions}}

    <div>
        <span class="text-sm mx-4 nav-link cursor-pointer">Commodity Trading</span>
    </div>

    {{>menu/investor }}

    <div>
        <a href="/about-us" class="text-sm mx-4 nav-link cursor-pointer" >About us</a>
    </div>
</div>
