<div class="relative" x-data="{
                hoveritem: '',
                open: false,
                toggle() {
                    if (this.open) {
                        return this.close()
                    }
                    $refs.menuHolderolder.classList.remove('hidden')
                    this.open = true
                },
                close(focusAfter) {
                    this.open = false

                    focusAfter && focusAfter.focus()
                }
            }" x-id="['dropdown-button']">


    <button x-on:click="toggle()" :aria-expanded="open" :aria-controls="$id('dropdown-button')"
        class="text-xl mx-4 nav-link cursor-pointer">
        <div class="flex items-center text-black font-medium">

            <a href="/#products">
                <span x-text="language[selectedLang]['Who We Are']">
                    Who We Are
                </span>
            </a>


        </div>
    </button>

    <!--
        <div  x-transition.origin.top.left x-ref="menuHolderolder" x-show="open" x-bind:class="open ? '' : 'hidden'" x-on:click.outside="close($refs.button)" class="hidden absolute z-40 left-0 bg-white border shadow-md rounded-md w-[600px] mt-2 flex flex-row h-[334px]">
            <div class="border-r-[10px] border-r-transparent border-l-[10px] border-l-transparent border-b-[15px] border-b-white absolute -top-2 left-6">

            </div>
            <div class="flex flex-col px-2 py-2 basis-3/4">
                <a href="/solutions/bank" @click="close($refs.button)">
                    <div @mouseover="hoveritem = 'banks'" class="flex my-1 hover:bg-gray-100 p-2 cursor-pointer rounded items-center">
                        <div class="w-10 h-10 bg-white rounded-full flex flex-none overflow-hidden justify-center items-center">
                            <img src="/images/icons/bank.gif" class="h-9 w-9" />
                        </div>

                        
                            <div class="mx-2 flex flex-col leading-none">
                                <h2 class="font-bold text-xl">Financial Institutions</h2>
                            </div>
                    </div>
                </a>
                


                <a href="/solutions/business" @click="close($refs.button)">
                    <div @mouseover="hoveritem = 'business'" class="flex my-1 hover:bg-gray-100 p-2 cursor-pointer rounded items-center ">
                        <div class="w-10 h-10 bg-white rounded-full flex-none overflow-hidden flex justify-center items-center">
                            <img src="/images/icons/businesses.gif" class="h-9 w-9" />
                        </div>
                        
                            <div class="mx-2 flex flex-col leading-none">
                                <h2 class="font-bold text-xl">Businesses</h2>
                            </div>
                    </div>
                </a>
            </div>
            
         
            
             <template x-if="hoveritem=='banks'">
                 <div class="flex flex-col basis-2/4 bg-[#F5F7FA]">
                    <div class="rounded-xl my-6 mx-4 w-[216px] h-[154.7px] relative bg-[url('/images/menu/bank_nav_img.png')] bg-cover">
                    </div>
                    <div>
                        <p class="text-[#5D6066] text-[14px] pb-6 px-4 relative">
                            Connecting the leading financial institutions on the continent and extending their reach to the banked and unbanked sectors.
                        </p>
                    </div>
                </div>
             </template>
            
            <template x-if="hoveritem=='business'">
                 <div x-show="dropdownHover = 'business'" class="flex flex-col basis-2/4 bg-[#F5F7FA]">
                <div class="rounded-xl my-6 mx-4 w-[216px] h-[154.7px] relative bg-[url('/images/menu/business_nav_img.png')] bg-cover">
                </div>
                <div>
                    <!--
                    <p class="text-[#5D6066] text-[14px] pb-6 px-4 relative">
                        Get your business up to speed with products from Javolin
                    </p>
                    -->
    <!--
                                        <p class="text-[#5D6066] text-[14px] pb-6 px-4 relative">
                                            We offer businesses the convenience and services of a versatile digital platform
                                        </p>
                                    </div>
                                </div>
                                </template>
                                <template x-if="hoveritem=='government'">
                                    <div x-show="dropdownHover = 'government'" class="flex flex-col basis-2/4 bg-[#F5F7FA]">
                                    <div class="rounded-xl my-6 mx-4 w-[216px] h-[154.7px] relative bg-[url('/images/menu/gov_nav_img.png')] bg-cover">
                                    </div>
                                    <div>
                                        <p class="text-[#5D6066] text-[14px] pb-6 px-4 relative">
                                            Providing government institutions the digital platform to transform the way they collect revenues and make payments
                                        </p>
                                    </div>
                                </div>
                                </template>
                            </div>
                    -->
</div>