<div class="relative" x-data="{
                open: false,
                toggle() {
                    if (this.open) {
                        return this.close()
                    }

                    this.open = true
                },
                close(focusAfter) {
                    this.open = false

                    focusAfter && focusAfter.focus()
                }
            }"   x-on:keydown.escape.prevent.stop="close($refs.button)"
     x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
     x-id="['dropdown-button']">


    <button x-on:click="toggle()" :aria-expanded="open"
            :aria-controls="$id('dropdown-button')" class="text-sm mx-4 nav-link cursor-pointer">
        <div class="flex items-center">
            <span>
                        Solutions
            </span>

            <svg class="mx-1" width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.00001 6.20042C5.53335 6.20042 5.06668 6.02042 4.71335 5.66708L0.36668 1.32042C0.173346 1.12708 0.173346 0.807083 0.36668 0.61375C0.560013 0.420417 0.880013 0.420417 1.07335 0.61375L5.42001 4.96042C5.74001 5.28042 6.26001 5.28042 6.58001 4.96042L10.9267 0.61375C11.12 0.420417 11.44 0.420417 11.6333 0.61375C11.8267 0.807083 11.8267 1.12708 11.6333 1.32042L7.28668 5.66708C6.93335 6.02042 6.46668 6.20042 6.00001 6.20042Z" fill="#303030"/>
            </svg>

        </div>
    </button>

    <div  x-transition.origin.top.left x-show="open" x-on:click.outside="close($refs.button)"  class="absolute z-40 left-0 bg-white border shadow-md rounded-md w-60 mt-2">

        <div class="flex flex-col px-2 py-2">


            <div class="flex my-1 hover:bg-gray-100 cursor-pointer p-2 rounded">

                <div class="w-10 h-10 bg-white rounded-full flex flex-none overflow-hidden justify-center items-center">
                    <img src="/gifs/consumer.gif" class="h-9 w-9" />
                </div>

                <a href="/solutions/consumer">
                    <div class="mx-2 flex flex-col leading-none">
                        <h2 class="font-bold text-sm">Consumer</h2>
                        <span class="text-xs font-light text-gray-500 leading-tight">
                                    Get your individual account with us
                                </span>
                    </div>
                </a>

            </div>

            <div class="flex my-1 hover:bg-gray-100 p-2 cursor-pointer rounded">

                <div class="w-10 h-10 bg-white rounded-full flex-none overflow-hidden flex justify-center items-center">
                    <img src="/gifs/business-icon.gif" class="h-9 w-9" />
                </div>

                <a href="/solutions/business">
                    <div class="mx-2 flex flex-col leading-none">
                        <h2 class="font-bold text-sm">Business</h2>
                        <span class="text-xs text-gray-500 font-light leading-tight">
                                    Rocket your business with our products
                                </span>
                    </div>
                </a>

            </div>



            <div class="flex my-1 hover:bg-gray-100 p-2 cursor-pointer rounded">

                <div class="w-10 h-10 bg-white rounded-full flex flex-none overflow-hidden justify-center items-center">
                    <img src="/gifs/gov-entity-icon.gif" class="h-9 w-9" />
                </div>

                <a href="/solutions/government">
                    <div class="mx-2 flex flex-col leading-none">
                        <h2 class="font-bold text-sm">Government Entities</h2>
                        <span class="text-xs text-gray-500 font-light leading-tight">
                            Optimizing government revenue
                        </span>
                    </div>
                </a>

            </div>


            <div class="flex my-1 hover:bg-gray-100 p-2 cursor-pointer rounded">

                <div class="w-10 h-10 bg-white rounded-full flex flex-none overflow-hidden justify-center items-center">
                    <img src="/gifs/bank.gif" class="h-9 w-9" />
                </div>

                <a href="/solutions/bank">
                    <div class="mx-2 flex flex-col leading-none">
                        <h2 class="font-bold text-sm">Banks</h2>
                        <span class="text-xs text-gray-500 font-light leading-tight">
                            We are around the world
                        </span>
                    </div>
                </a>

            </div>



        </div>

    </div>

</div>