<div class="relative" x-data="{
                hoveritem: 'jav center',
                open: false,
                toggle() {
                    if (this.open) {
                        return this.close()
                    }
                    $refs.menuHolderolder.classList.remove('hidden')
                    this.open = true
                },
                close(focusAfter) {
                    this.open = false

                    focusAfter && focusAfter.focus()
                }
            }"
     x-id="['dropdown-button']">


    <button x-on:click="toggle()" :aria-expanded="open"
            :aria-controls="$id('dropdown-button')" class="text-xl mx-4 nav-link cursor-pointer">
        <div class="flex items-center text-black font-medium">
            <span
            x-text="language[selectedLang]['Support']"
            >
                        Support
            </span>

           
        </div>
    </button>

    <div  x-transition.origin.top.left x-ref="menuHolderolder" x-show="open" x-bind:class="open ? '' : 'hidden'" x-on:click.outside="close($refs.button)" class="hidden absolute z-40 right-0 bg-white border shadow-md rounded-md w-[600px] mt-2 flex flex-row min-h-[312px]">
        <div class="border-r-[10px] border-r-transparent border-l-[10px] border-l-transparent border-b-[15px] border-b-white absolute -top-2 right-10">

        </div>
        <div class="flex flex-col px-2 py-2 basis-3/4">
            <div @mouseover="hoveritem = 'jav center'"  x-on:click="toggleSupport(), close($refs.button)"  class="flex my-1 hover:bg-gray-100 cursor-pointer p-2 rounded items-center ">
                <div class="w-10 h-10 bg-white rounded-full flex flex-none overflow-hidden justify-center items-center">
                    <img src="/gifs/consumer.gif" class="h-9 w-9" />
                </div>

                <div class="cursor-pointer">
                    <div class="mx-2 flex flex-col leading-none">
                        <h2 class="font-bold text-xl">Jav center</h2>
                    </div>
                </div>
            </div>

        </div>
        
        <template x-if="hoveritem=='jav center'">
            <div class="flex flex-col basis-2/4 bg-[#F5F7FA]">
            <div class="rounded-xl my-6 mx-4 w-[216px] h-[154.7px] relative bg-[url('/images/menu/consumer_nav_img.png')] bg-cover">
            </div>
            <div>
                <p class="text-[#5D6066] text-[14px] pb-6 px-4 relative">
                   Our team is here to help when you need us.
                </p>
            </div>
        </div>
        </template>
    </div>
</div>