<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/favicon.ico"/>
    <title>Javolin - Digital Wallet that works for you</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" type="text/css" href="../../styles/index.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    {{!-- <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script> --}}
    {{!-- <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script> --}}
    {{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js"></script>
    
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <meta name="author" content="Javolin LLC | smith sese" />
    <meta name="description" content="Digital Wallet that works for you">
    <style>
        @font-face { font-family: 'Product-Sans'; src: url('/fonts/product-sans/font-regular.ttf'); }
        @font-face { font-family: 'Product-Sans'; font-weight: bold; src: url('/fonts/product-sans/font-bold.ttf');}
        @font-face { font-family: 'Satoshi'; src: url('/fonts/satoshi/Satoshi-Medium.ttf'); }
        @font-face { font-family: 'Satoshi'; font-weight: bold; src: url('/fonts/satoshi/Satoshi-Bold.ttf');}
        @font-face { font-family: 'Satoshi'; font-weight:lighter; src: url('/fonts/satoshi/Satoshi-Light.ttf');}

        body{
            font-family: 'Satoshi', sans-serif;
            margin: 0;
        }
        h2 {
            font-family: 'Satoshi';
            font-weight: bold;
            font-size: 54px;
        }
        .nav-link {
            font-family: 'Satoshi';
        }


        button {
            font-family: 'Satoshi';
        }

        

        /*.nav-link:hover {*/
        /*    border-bottom: 2px solid #0032A0;*/
        /*    cursor: pointer;*/
        /*}*/
    </style>
</head>

<body x-data="{
                playerOpened: false,
                comingSoonOpened: false,
                waitListOpened: false,
                togglePlayer() {
                    if (this.open) {
                        return this.closePlayer()
                    }
                    $refs.javolinVideoHolder.classList.remove('hidden')
                    this.playerOpened = true
                },
                toggleWaitList() {
                    if (this.waitListOpened) {
                        this.waitListOpened = false
                        return
                    }
                    $refs.waitListHolder.classList.remove('hidden')
                    this.waitListOpened = true
                },
                toggleComingSoon() {
                    if (this.comingSoonOpened) {
                        this.comingSoonOpened = false
                        return;
                    }
                    $refs.comingSoonHolder.classList.remove('hidden')
                    this.comingSoonOpened = true
                },
                closePlayer(focusAfter) {
                    this.playerOpened = false
                    this.waitListOpened = false
                    var video = document.getElementById('mJavolinVideo');
                    video.pause();
                    video.currentTime = 0;
                    focusAfter && focusAfter.focus()
                }
            }"
      x-id="['dropdown-button']">


<header class="h-20 w-full py-4 flex justify-between items-center px-10 my-0 px-0 lg:px-12 xl:px-24  bg-transparent absolute top-0 z-30" x-data="{ solutionsOpened: false,investorOpened: false,navOpened: false }">
    {{!-- <div class="flex h-full justify-center items-center"> --}}
        <a class="lg:mr-12 flex-none" href="/">
            <img class="h-16 w-60" src="/images/JAVOLIN_LOGO_RGB_REV.png" />
        </a>

        {{> nav }}

    {{!-- </div> --}}


    {{!-- <div class="lg:flex justify-center align-center items-center hidden lg:inline-block"> --}}

        <!--
        <a target="_blank" href="https://staging.app.javolin.com/login" class="text-xs flex items-center text-indigo-700 bg-blue-100 shadow-sm xl:px-8 lg:px-8 font-bold  rounded-md h-9 font-heading">
            Login
        </a>
        -->
        <a href="https://app.forex.javolin.com/" class="cursor-pointer bg-[#040723] md:px-6 px-2 md:py-4 lg:px-6 lg:py-4 rounded-full lg:text-lg text-sm font-bold flex items-center text-white justify-center lg:mx-5">
            Client Log-in
        </a>

    {{!-- </div> --}}


    <button class="lg:hidden" @click=" navOpened = !navOpened ">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M4 6h16M4 12h16M4 18h16" /></svg>
    </button>

    <div x-show="navOpened" class="absolute z-40 block lg:hidden bg-blue-800 w-full left-0 px-10 text-white right-0 top-20" style="font-family: 'Satoshi">

        <div class=" flex flex-col space-y-3 px-3 py-5">

            <div>
               <button @click=" solutionsOpened = !solutionsOpened " class="font-bold text-sm">Industries</button>
               <div x-show="solutionsOpened"
                   x-transition:enter="transition ease-out duration-100"
                   x-transition:enter-start="scale-0"
                   x-transition:enter-end="scale-100"
                   class="flex flex-col space-y-2 ml-2 mt-2">
                   <a href="/solutions/bank" class="text-gray-200 text-sm">Banks</a>
                   <a href="/solutions/government" class="text-gray-200 text-sm">Government Entities</a>
                   <a href="/solutions/business" class="text-gray-200 text-sm">Businesses</a>
                   <a href="/solutions/customer" class="text-gray-200 text-sm">Constumer</a>
               </div>
            </div>
            <div>
               <button @click=" solutionsOpened = !solutionsOpened " class="font-bold text-sm">Solutions</button>
               <div x-show="solutionsOpened"
                   x-transition:enter="transition ease-out duration-100"
                   x-transition:enter-start="scale-0"
                   x-transition:enter-end="scale-100"
                   class="flex flex-col space-y-2 ml-2 mt-2">
                   <a href="/solutions/consumer" class="text-gray-200 text-sm">Consumer</a>
                   <a href="/solutions/business" class="text-gray-200 text-sm">Business</a>
                   <a href="/solutions/government" class="text-gray-200 text-sm">Government</a>
                   <a href="/solutions/bank" class="text-gray-200 text-sm">Banks</a>
               </div>
            </div>

            <div>
                <button @click = "investorOpened = !investorOpened" class="font-bold text-sm">Investor Relations</button>
                <div x-show="investorOpened"
                      x-transition:enter="transition ease-out duration-100"
                      x-transition:enter-start="translate-y-full"
                      x-transition:enter-end="translate-y-0"
                      class="flex flex-col space-y-1 ml-1 mt-2">

                    <button class="bg-white h-9 flex w-44  justify-center items-center text-blue-800 shadow-md rounded">
                        <span class="text-xs">Login to get started</span>

                        <svg class="w-4 h-4 mx-2 text-black" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22 2.75H2C1.59 2.75 1.25 2.41 1.25 2C1.25 1.59 1.59 1.25 2 1.25H22C22.41 1.25 22.75 1.59 22.75 2C22.75 2.41 22.41 2.75 22 2.75Z"/>
                            <path d="M16.67 22.34C16.54 22.6 16.27 22.75 16 22.75C15.89 22.75 15.77 22.72 15.67 22.67L12 20.84L8.33001 22.67C8.23001 22.72 8.11001 22.75 8.00001 22.75C7.73001 22.75 7.46001 22.6 7.33001 22.34C7.14001 21.96 7.29001 21.51 7.67001 21.33L11.25 19.54V17H12.75V19.54L16.33 21.33C16.71 21.51 16.86 21.96 16.67 22.34Z" fill="#0032A0"/>
                            <path d="M3 2V14.1C3 16 4 17 5.9 17H18.1C20 17 21 16 21 14.1V2H3ZM16.98 8.58L13.83 11.21C13.54 11.45 13.17 11.55 12.82 11.49C12.46 11.43 12.15 11.21 11.96 10.89L10.91 9.14L7.98 11.58C7.84 11.7 7.67 11.75 7.5 11.75C7.29 11.75 7.07 11.66 6.92 11.48C6.65 11.16 6.7 10.69 7.02 10.42L10.17 7.79C10.46 7.55 10.83 7.45 11.18 7.51C11.54 7.57 11.85 7.79 12.04 8.11L13.09 9.86L16.02 7.42C16.34 7.15 16.81 7.2 17.08 7.52C17.34 7.84 17.3 8.31 16.98 8.58Z" fill="#0032A0"/>
                        </svg>

                    </button>
            </div>
            </div>

            <div>
                <a class="font-bold text-sm">About Us</a>
            </div>


        </div>

    </div>

</header>



{{{ body }}}

{{!-- {{>download-app}} --}}

{{>footer}}

{{>pop-ups/javolin-video}}
{{>pop-ups/coming-soon}}
{{>pop-ups/wait-list}}



<script>

   
    document.addEventListener('alpine:init', () => {
        Alpine.data('waitList', () => ({
            isLoading: false,
            first_name: '',
            last_name : '',
            email : '',
            referral_code: '',
            phone_number : '',
            toggle() {
                this.isLoading = !this.isLoading
            },
            joinWaitList() {
                this.toggle();
                axios.post("https://staging.api.javolin.com/api/waitlist/create",{
                    first_name: this.first_name,
                    last_name: this.last_name,
                    email: this.email,
                    phone_number: this.phone_number,
                    referral_code: this.referral_code
                }).then(res => {
                    this.toggle();
                    console.log(res);
                    alert("Success: Joined successfully");
                    this.first_name = "";
                    this.last_name = "";
                    this.phone_number = "";
                    this.email = "";
                    this.referral_code = "";
                }).catch(err => {
                    this.toggle();
                    console.error(err);
                    alert("Error: "+err.message)
                })
            }
        }))
    })



     $(document).ready(function() {


       

        var $animationElements = $('.animation-element');
        var $window = $(window);

        // ps: Let's FIRST disable triggering on small devices!
        var isMobile = window.matchMedia("only screen and (max-width: 768px)");
        if (isMobile.matches) {
            $animationElements.removeClass('animation-element');
        }

        function checkIfInView() {

            var windowHeight = $window.height();
            var windowTopPosition = $window.scrollTop();
            var windowBottomPosition = (windowTopPosition + windowHeight);

            $.each($animationElements, function () {
                var $element = $(this);
                var elementHeight = $element.outerHeight();
                var elementTopPosition = $element.offset().top;
                var elementBottomPosition = (elementTopPosition + elementHeight);

    //check to see if this current container is within viewport
                if ((elementBottomPosition >= windowTopPosition) &&
                    (elementTopPosition <= windowBottomPosition)) {
                    $element.addClass('in-view');
                } else {
                    $element.removeClass('in-view');
                }
            });
        }

        $window.on('scroll resize', checkIfInView);
        $window.trigger('scroll');
    });
            
</script>




</body>



</html>