<section class="bg-blue-100">

    <div class="flex">
        <div class="w-3/5 py-20 ml-32 pr-32">
            <h4 class="text-gra-700">ABOUT JAVOLIN GROUP</h4>
            <h2 class="text-2xl leading-none my-2">
                We are happy to see you <br/>here
            </h2>
            <p class="text-sm text-gray-600 font-light">
                Quis in pellentesque faucibus lorem vitae, mi. Quam turpis sed a, amet, viverra pretium maecenas arcu et.
                Urna interdum non neque urna scelerisque at. Blandit enim, est suspendisse netus ac dictum amet, ut.
                Eu ornare nisl faucibus a malesuada ornare. Suspendisse sit urna aenean feugiat lorem magna.
                Sed nunc, egestas id maecenas fermentum, accumsan morbi amet. Morbi leo orci vulputate est sapien pretium posuere.
                Vitae in integer ultrices id lorem. Velit diam ullamcorper libero tellus. Dui bibendum mattis ut consequat vulputate.

                Aenean ultrices mattis arcu euismod egestas cursus dui lectus dapibus.
                In ut volutpat ut ornare aliquam. Donec in lacinia varius sed maecenas. Id sit a, ipsum quis.
                Ante mattis mattis in eget pharetra cursus nunc. Massa condimentum bibendum sagittis sit ultrices. Leo, hendrerit volutpat,
                nisi adipiscing orci sit diam lacus nunc. Morbi mauris quam sed quam molestie tortor elementum nibh dui.
                Urna velit egestas laoreet aliquam consectetur dictumst sollicitudin imperdiet risus.
                Nunc a justo nascetur massa felis quis.
            </p>
        </div>

        <div class="w-2/5 bg-red-500">
            <img src="/images/about-us/team.jpg" class="h-full w-full contain object-top" />
        </div>
    </div>

</section>

<section style="height: 200px">

    <div class="flex flex-col items-center justify-center h-full">
        <h4 class="text-gray-500 text-sm">
            WE BELIEVE WE CAN WORK TOGETHER
        </h4>
        <h2 class="text-3xl">
            Our company mantra goes here
        </h2>
    </div>


</section>