<section class="bg-blue-100">

    <div class="flex">
        <div class="w-3/5 py-20 ml-32 pr-32">
            <h4 class="text-gray-700 text-sm">ABOUT JAVOLIN GROUP</h4>
            <h2 class="text-4xl font-bold leading-none my-4">
                We are happy to see you <br/>here
            </h2>
            <p class="text-md text-gray-600 mt-2 font-light">
                Javolin is a financial services technology company providing digital services/products via our mobile and web application.
                We are focused on the Continent of Africa and other emerging markets with our Relationship Manager Protocols
                in the Javolin wallet. Through our Digital Infrastructure (proprietary API and cloud-based platform) we connect banks,
                businesses, and government entities to their customers. Our solutions include remittance, loans, digital infrastructure
                and settlement services.
            </p>
        </div>

        <div class="w-2/5">
            <img src="/images/about-us/team.jpg" class="h-full w-full contain object-top" />
        </div>
    </div>

</section>

<section style="height: 200px">

    <div class="flex flex-col items-center justify-center h-full">
        <h4 class="text-gray-500 text-sm">
            WE BELIEVE WE CAN WORK TOGETHER
        </h4>
        <h2 class="text-3xl">
            Let your wallet work for you
        </h2>
    </div>


</section>

{{>community}}
