<section class="bg-[#0032A0]">

    <div class="flex">
        <div class="py-20 ml-32 pr-32">
            <h4 class="text-white text-sm">ABOUT JAVOLIN GROUP</h4>
            <h2 class="text-4xl font-bold text-white leading-none my-4">
                Welcome to Javolin
            </h2>
            <p class="text-md text-white mt-2 font-light">
                Javolin is a financial services technology company providing digital services/products via our mobile and web application.
                We are focused on the Continent of Africa and other emerging markets with our Relationship Manager Protocols
                in the Javolin wallet. Through our Digital Infrastructure (proprietary API and cloud-based platform) we connect banks,
                businesses, and government entities to their customers. Our solutions include remittance, loans, digital infrastructure
                and settlement services.
            </p>
        </div>

        {{!-- <div class="w-1/2 bg-blue-200"> --}}

            {{!-- <img class="h-full object-cover object-left-top" src="/images/about_us.jpeg"  /> --}}
<!--            <svg class="p-20" width="538" height="532" viewBox="0 0 538 532" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--                <path opacity="0.07" d="M374.163 332.207C129.566 17.9078 306.489 -95.5893 374.236 88.5458C441.983 -17.5916 618.906 299.811 374.163 332.207Z" fill="url(#paint0_linear_989_4327)"/>-->
<!--                <path opacity="0.4" d="M351.027 361.069C106.429 46.7691 283.352 -66.728 351.099 117.407C418.846 11.2697 595.769 328.672 351.027 361.069Z" fill="url(#paint1_linear_989_4327)"/>-->
<!--                <path opacity="0.2" d="M70.2779 223.111C74.6161 225.564 78.0865 231.625 78.0865 236.603V258.61L92.6916 266.98C97.0297 269.433 100.5 275.494 100.5 280.472C100.5 285.451 97.0297 287.471 92.6916 285.018L78.0865 276.648V298.655C78.0865 303.634 74.6161 305.654 70.2779 303.201C65.9398 300.748 62.4693 294.687 62.4693 289.708V267.701L47.8643 259.332C43.5262 256.878 40.0557 250.817 40.0557 245.839C40.0557 240.86 43.5262 238.84 47.8643 241.293L62.4693 249.663V227.656C62.4693 222.606 65.9398 220.585 70.2779 223.111Z" fill="url(#paint2_linear_989_4327)"/>-->
<!--                <path opacity="0.25" d="M129.854 200.096L264.987 277.949V527.816L129.854 449.89V200.096Z" fill="url(#paint3_linear_989_4327)"/>-->
<!--                <path opacity="0.15" d="M143.158 348.369L251.684 410.854V420.667L143.158 358.182V348.369Z" fill="white"/>-->
<!--                <path opacity="0.15" d="M150.75 371.676L244.092 425.43V435.243L150.75 381.489V371.676Z" fill="white"/>-->
<!--                <path d="M190.155 418.791L96.1621 364.604V392.527L190.155 446.714V418.791Z" fill="#F2C94C"/>-->
<!--                <path d="M212.785 298.296C212.785 310.418 205.772 316.118 197.096 311.067C188.42 306.016 181.406 292.163 181.406 280.041C181.406 267.919 188.42 262.219 197.096 267.27C205.772 272.321 212.785 286.174 212.785 298.296Z" fill="#F2C94C"/>-->
<!--                <path d="M197.096 320.808C183.142 312.655 171.646 320.303 169.549 337.836C169.188 340.867 171.501 344.907 174.321 346.495L219.799 373.047C222.619 374.706 224.932 373.336 224.571 369.944C222.619 349.958 211.05 328.889 197.096 320.808Z" fill="#F2C94C"/>-->
<!--                <path opacity="0.25" d="M513.851 420.09L298.607 296.131V408.041L513.851 532V420.09Z" fill="url(#paint4_linear_989_4327)"/>-->
<!--                <path opacity="0.15" d="M368.523 376.148L430.486 411.864V421.677L368.523 385.961V376.148Z" fill="white"/>-->
<!--                <path opacity="0.15" d="M368.523 394.98L494.98 467.783V477.596L368.523 404.793V394.98Z" fill="white"/>-->
<!--                <path d="M538 455.013L444.008 400.826V428.749L538 482.937V455.013Z" fill="#F2994A"/>-->
<!--                <path d="M349.581 380.189C349.581 392.6 342.278 398.516 333.313 393.321C324.347 388.126 317.045 373.84 317.045 361.429C317.045 349.019 324.347 343.102 333.313 348.298C342.278 353.493 349.581 367.779 349.581 380.189Z" fill="#F2994A"/>-->
<!--                <path opacity="0.25" d="M215.243 153.123L0 29.1641V141.074L215.243 265.033V153.123Z" fill="url(#paint5_linear_989_4327)"/>-->
<!--                <path opacity="0.15" d="M69.9893 110.047L175.767 171.016V180.829L69.9893 119.86V110.047Z" fill="white"/>-->
<!--                <path opacity="0.15" d="M69.9893 128.879L196.446 201.682V211.494L69.9893 138.692V128.879Z" fill="white"/>-->
<!--                <path d="M40.7066 87.8965C40.7066 86.6698 39.8389 85.2268 38.8267 84.6496L30.512 79.8874C29.4997 79.3102 28.6321 79.7431 28.6321 80.9697V89.1952C28.6321 90.8547 26.8246 91.937 25.3785 91.0712L20.2451 88.1129C19.2329 87.5357 18.3652 87.9686 18.3652 89.1952V101.533C18.3652 102.76 19.2329 104.203 20.2451 104.78L27.5476 108.965C28.1983 109.326 28.6321 110.048 28.6321 110.841V121.592C28.6321 122.819 29.4997 124.262 30.512 124.839L38.8267 129.601C39.8389 130.178 40.7066 129.745 40.7066 128.519V120.293C40.7066 118.634 42.5141 117.551 43.9602 118.417L49.0936 121.376C50.1058 121.953 50.9735 121.52 50.9735 120.293V107.955C50.9735 106.728 50.1058 105.285 49.0936 104.708L41.7911 100.523C41.1404 100.163 40.7066 99.441 40.7066 98.6473V87.8965Z" fill="#F2994A"/>-->
<!--                <defs>-->
<!--                    <linearGradient id="paint0_linear_989_4327" x1="493.647" y1="82.0772" x2="284.866" y2="199.194" gradientUnits="userSpaceOnUse">-->
<!--                        <stop stop-color="white"/>-->
<!--                        <stop offset="1" stop-color="white" stop-opacity="0"/>-->
<!--                    </linearGradient>-->
<!--                    <linearGradient id="paint1_linear_989_4327" x1="470.509" y1="110.939" x2="261.729" y2="228.055" gradientUnits="userSpaceOnUse">-->
<!--                        <stop stop-color="white"/>-->
<!--                        <stop offset="1" stop-color="white" stop-opacity="0"/>-->
<!--                    </linearGradient>-->
<!--                    <linearGradient id="paint2_linear_989_4327" x1="85.4021" y1="251.216" x2="47.6065" y2="281.106" gradientUnits="userSpaceOnUse">-->
<!--                        <stop stop-color="white"/>-->
<!--                        <stop offset="1" stop-color="white" stop-opacity="0"/>-->
<!--                    </linearGradient>-->
<!--                    <linearGradient id="paint3_linear_989_4327" x1="279.434" y1="222.058" x2="159.848" y2="429.668" gradientUnits="userSpaceOnUse">-->
<!--                        <stop stop-color="white"/>-->
<!--                        <stop offset="1" stop-color="white" stop-opacity="0"/>-->
<!--                    </linearGradient>-->
<!--                    <linearGradient id="paint4_linear_989_4327" x1="406.039" y1="319.466" x2="406.356" y2="505.63" gradientUnits="userSpaceOnUse">-->
<!--                        <stop stop-color="white"/>-->
<!--                        <stop offset="1" stop-color="white" stop-opacity="0"/>-->
<!--                    </linearGradient>-->
<!--                    <linearGradient id="paint5_linear_989_4327" x1="107.436" y1="52.4994" x2="107.752" y2="238.664" gradientUnits="userSpaceOnUse">-->
<!--                        <stop stop-color="white"/>-->
<!--                        <stop offset="1" stop-color="white" stop-opacity="0"/>-->
<!--                    </linearGradient>-->
<!--                </defs>-->
<!--            </svg>-->


        {{!-- </div> --}}

    </div>

</section>

<section style="height: 200px">

    <div class="flex flex-col items-center justify-center h-full">
        <h4 class="text-gray-500 text-sm">
<!--            WE BELIEVE WE CAN WORK TOGETHER-->
        </h4>
        <h2 class="text-3xl">
            Let your wallet work for you
        </h2>
    </div>


</section>

{{>community}}
