<section style="height: 450px;" class="relative">

    <video autoplay muted loop id="myVideo" class="w-full h-full object-cover">
        <source src="/videos/banking.mov" type="video/mp4">
    </video>

    <div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(93.28deg, #3D475C 2.46%, rgba(61, 71, 92, 0) 98.34%);">

    </div>

    <div class="flex absolute top-0 z-20 left-0 text-white flex-col justify-center h-full mx-10 lg:mx-24">

        <h2 style="font-weight: bold;" class="text-5xl">
            Our Banks Trust Us
        </h2>

        <p class="flex-none lg:w-1/2 font-light leading-tight text-2xl mt-2 text-gray-300">
            Javolin is connecting with many of the leading financial institutions on the continent through API’s and our client service 
            offerings for such things as foreign exchange and cross border settlements
        </p>
    </div>

</section>


<section class="px-10 lg:px-24 py-10">
    <div class="leading-none">
        <h2 style="font-weight: bold;" class="text-3xl leading-12 mb-4">
            Simple and Secured System Integration
        </h2>
        <span class="text-lg font-light mt-4 text-gray-600 leading-6">
Our platform extends the reach of our banking partners to the un-banked sector and expands access to other <br/> products to the banked segment. 
We also provide B2B technology services directly to our banking  clients facilitating <br/>  expansion into new geographical markets and more efficient settlement services        </span>
    </div>

</section>


<section class="mx-10 lg:mx-24">

    <div class="rounded-2xl bg-green-200 overflow-hidden my-5 flex flex-col lg:flex-row">

        <div class="lg:w-2/5 bg-[#3F8026] relative">

            <img src="/images/business/Illustration.png" class="  object-contain h-full py-10"/>

        </div>

        <div class="lg:w-3/5 alpha-90" style="background: #E9F6E4">

            <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mx-12 my-5">


                <div class="flex flex-col">

                    <p class="font-light text-lg text-gray-500 pt-10">
                        Javolin is connecting with many of the leading financial institutions on the continent via API and 
                        leveraging our App and digital infrastructure to facilitate loans and services to their current 
                        customers and tapping the unbanked customers in local and international markets. Because of the 
                        lack of physical branch locations in certain markets, banks can now reach their customers and cut 
                        down on the acquisition cost
                    </p>

                    <p class="font-light text-lg text-gray-500 pt-2">
                        We help our partners expand their business channels by offering wider payment capabilities and tap new revenue streams.
                    </p>

                    {{!-- <p class="font-light text-md text-gray-500 pt-2">
                        Because of the lack of physical branch locations in certain markets, banks can now reach their customers
                        and cut down on the acquisition cost. Customers also win by making the financial institutions compete for
                        their business resulting in better terms and more options.

                    </p>

                    <p class="font-light text-md text-gray-500 pt-2">
                        We also assist our banking partners with foreign exchange solutions that can be accessed directly through our platforms.

                    </p>

                    <div class="mt-5 font-bold text-lg italic font-italic pb-32 text-gray-600">
                        Let your wallet work for you!
                    </div> --}}



                </div>

            </div>

        </div>




    </div>


</section>