<section class="bg-blue-100 h-72 px-10 lg:px-32">


    <div class="leading-none pt-10">
        <h2>
            Javolin Partners with Ecobank on Diaspora Loans
        </h2>
        <span class="text-gray-500 text-sm"> Published: 13 March 2021 </span>
    </div>
    
    <img src="/images/blog-item/header.png" class="h-full object-fit w-full mt-4">




</section>

<section class="px-10 lg:px-32 pt-24 flex flex-col text-gray-700 mt-5 space-y-2 text-sm pb-10">

    <p>
        The future of mankind is digital. Digital banking is now and here to stay. We have invested heavily in digital infrastructure, security, AI and machine learning, and partnered with Ecobank to bring you premier banking right at the comfort of your homes and smartphone. No matter where you find yourself, no matter who you are, wherever you live in the world, you can now open a bank account, save, transfer and receive money, apply for a mortgage loan to buy a property in select markets in Africa and do all your banking on the Javolin platform.
    </p>

    <p>
        The future of mankind is digital. Digital banking is now and here to stay. We have invested heavily in digital infrastructure, security, AI and machine learning, and partnered with Ecobank to bring you premier banking right at the comfort of your homes and smartphone. No matter where you find yourself, no matter who you are, wherever you live in the world, you can now open a bank account, save, transfer and receive money, apply for a mortgage loan to buy a property in select markets in Africa and do all your banking on the Javolin platform.
    </p>

    <p>
        The future of mankind is digital. Digital banking is now and here to stay. We have invested heavily in digital infrastructure, security, AI and machine learning, and partnered with Ecobank to bring you premier banking right at the comfort of your homes and smartphone. No matter where you find yourself, no matter who you are, wherever you live in the world, you can now open a bank account, save, transfer and receive money, apply for a mortgage loan to buy a property in select markets in Africa and do all your banking on the Javolin platform.
    </p>

    <p>
        The future of mankind is digital. Digital banking is now and here to stay. We have invested heavily in digital infrastructure, security, AI and machine learning, and partnered with Ecobank to bring you premier banking right at the comfort of your homes and smartphone. No matter where you find yourself, no matter who you are, wherever you live in the world, you can now open a bank account, save, transfer and receive money, apply for a mortgage loan to buy a property in select markets in Africa and do all your banking on the Javolin platform.
    </p>

</section>


<div class="flex items-center justify-center py-5">


    <div style="height: 3px; background: #E5E9F1; width: 319px; " >

    </div>

</div>