<section class="h-screen relative lg:h-[600px]">

    <video autoplay muted loop id="myVideo" class="w-full h-full object-cover object-top">
        <source src="/videos/Business.mov" type="video/mp4">
    </video>

    <div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(93.28deg, #3D475C 2.46%, rgba(61, 71, 92, 0) 98.34%);">

    </div>



    <div class="flex absolute top-0 left-0 text-white flex-col justify-center z-20 h-full mx-10 lg:mx-24">

        <h2 style="font-weight: bold;" class="text-3xl lg:text-5xl">
            Upgrade your business with innovative <br/> financial solutions from <span class="p-2 -ml-2">Javolin</span>
           
        </h2>
        <p class="flex-none lg:w-1/2 font-light leading-tight text-2xl mt-2 text-gray-300">
            We offer businesses a digital platform for cross border remittances, revenue collection and other financial products such as visa cards.
        </p>

    </div>

</section>

<section class="px-10 lg:px-24 relative my-12">

    <div class="flex flex-col h-full justify-center" >
        <h2 style="font-weight: bold;" class="text-3xl leading-12">
            Digital products across borders
        </h2>
        <span class="text-2xl text-gray-600 mt-2">
            In the United States and certain select countries of Africa, we are working with businesses to improve their access to financial services across borders and make global payments
        </span>
    </div>

</section>


<section class="mx-10 lg:mx-24 mb-32">


    <div class="rounded-md bg-green-200 overflow-hidden my-4 flex flex-col lg:flex-row">

        <div class="lg:w-1/4 bg-[#3F8026] relative">

            <img src="/images/business/Illustration.png" class="absolute -left-5 top-0 bottom-0 object-contain h-full py-24"/>

        </div>

        <div class="lg:w-3/4  alpha-90 bg-green-100">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-12 my-20">
                <div>

                    <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            1
                        </h2>

                        <h3 class="font-bold text-xl">Digital Payment & Remittances</h3>


                    </div>

                    <p class="font-light text-lg text-gray-500">
                        Javolin allows businesses to make digital payments to suppliers and
                        employees across borders from our platforms. Businesses can track the inflow and outflow of money
                        from their wallet using a simplified dashboard with supportive analytic components.
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            2
                        </h2>

                        <h3 class="font-bold text-xl">Multi Currency Accounts</h3>


                    </div>
                    <p class="font-light text-base text-gray-500 text-lg">
                        Receive and hold foreign funds in multiple currency accounts
                    </p>

                </div>

                

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            3
                        </h2>

                        <h3 class="font-bold text-xl">Foreign exchange services</h3>


                    </div>

                    <p class="font-light text-lg text-gray-500">
                        Purchase and send over 130 currencies all around the world through our integrated forex partnerships
                    </p>

                </div>

                </div>
                

                <div class="fadeLeft animation-element">
                    <img src="/images/AfricaGraphic.png" alt="african map"/>
                </div>

            </div>

        </div>




    </div>


</section>