<section style="height: 450px;" class="relative">

    <video autoplay muted loop id="myVideo" class="w-full h-full object-cover">
        <source src="/videos/Business.mov" type="video/mp4">
    </video>

    <div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(93.28deg, #3D475C 2.46%, rgba(61, 71, 92, 0) 98.34%);">

    </div>



    <div class="flex absolute top-0 left-0 text-white flex-col justify-center z-20 h-full mx-10 lg:mx-32">

        <h2 class="text-4xl">
            Get your business up to speed with products from <br/>with <span class="p-2 -ml-2">Javolin</span>
        </h2>
        <p class="flex-none lg:w-1/2 font-light leading-tight text-md mt-2 text-gray-300">
            We offer businesses a digital platform to manage their revenue collections, pay bills and get visa cards and apply for import/export loans.
        </p>

    </div>

</section>

<section style="height: 200px;" class="mx-10 lg:mx-32">

    <div class="flex flex-col h-full justify-center">
        <h2 class="text-2xl">
            Digital products for all your banking needs
        </h2>
        <span class="text-md mt-2 text-gray-600 lg:w-3/5">
            Grow your business with Javolin.
            We help you complete your financial transactions with ease.
            Alleviate all the bureaucratic traditional banking processes by using Javolin for your business.
        </span>
    </div>

</section>


<section class="mx-10 lg:mx-32">


    <div class="rounded-md bg-green-200 overflow-hidden my-4 flex flex-col lg:flex-row">

        <div class="lg:w-1/4 bg-green-500 relative">

            <img src="/images/business/Illustration.png" class="absolute -left-5 top-0 bottom-0 object-contain h-full py-24"/>

        </div>

        <div class="lg:w-3/4 bg-green-100 alpha-90">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-12 my-20">

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            1
                        </h2>

                        <h3 class="font-bold text-sm">Loans</h3>


                    </div>
                    <p class="font-light text-sm text-gray-500">
                        Javolin allows businesses to apply and secure business
                        loans for their operations.
                        Use Javolin to apply, secure, and manage your loan payment with ease.
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            2
                        </h2>

                        <h3 class="font-bold text-sm">Digital Payment & Remittances</h3>


                    </div>

                    <p class="font-light text-sm text-gray-500">
                        Javolin allows businesses to make digital payments to suppliers and
                        employees across borders from our platforms. Businesses can track the inflow and outflow of money
                        from their wallet using a simplified dashboard with supportive analytic components.
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            3
                        </h2>

                        <h3 class="font-bold text-sm">Foreign exchange services</h3>


                    </div>

                    <p class="font-light text-sm text-gray-500">
                        Exchange money from one currency to another on Javolin. For example,
                        you can swap you Ghana Cedis for US dollars and vice versa using Javolin.
                    </p>

                </div>

            </div>

        </div>




    </div>


</section>