<section class=" h-screen relative lg:h-[600px] relative">
    <video autoplay muted loop id="myVideo" class="w-full h-full object-cover">
        <source src="/videos/Clients.mov" type="video/mp4">
    </video>
    <div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(93.28deg, #3D475C 2.46%, rgba(61, 71, 92, 0) 98.34%);">
        </div>

        <div class="flex absolute top-0 left-0 flex-col text-white justify-center z-20 h-full mx-10 lg:mx-24">
            <div class="">
                <h2 class="text-5xl font-bold text-white leading-none my-4">
                    About us | Clients
                </h2>
                <p class="text-2xl text-white mt-2 font-light">
                    We work with companies disrupting the fintech space.
                </p>
            </div>

            
        </div>

</section>

<section  >
    <div class="bg-[#000B6B] lg:py-12 md:py-12 text-white py-12 lg:px-24 ">
        <h2 class="text-[42px] font-bold">
            Some of Our Clients:
        </h2>
    </div>
    <div class=" flex flex-col justify-center " x-data="{
                hoveritem: '1',
                clickCard(para){
                    const elem = document.getElementById(para);
                    elem.classList.add('bg-blue-700');
                }
                }"
                
            >

        {{!-- <div class="flex justify-center text-[#000B6B] my-12">
            <h2 class="text-[42px] font-bold">Our Clients</h2>
        </div>  --}}

        <div class=" flex flex-col justify-center gap-4 overflow-x-auto">
            <div class="grid px-4 justify-end lg:grid-cols-3 md:grid-cols-3 lg:justify-center lg:items-center lg:py-12 md:py-12 bg-[#E2ECFE] py-12 lg:px-24">
                <div class="slide fadeRight animation-element lg:col-start-1 lg:col-end-3">
                    <h2 class="text-[42px] text-[#000B6B] font-bold">
                        ABSA Bank Ghana Limited
                    </h2>
                    <p class="text-[24px] text-[#3B404A]">
                    Absa Group Limited is a South African-based financial services group, offering personal and business banking, credit
                    cards, corporate and investment banking, wealth and investment management, as well as bank assurance. Absa is well
                    positioned in Africa with locations in Botswana, Ghana, Kenya, Mauritius, Mozambique, Seychelles, South Africa, Tanzania
                    (two entities), Uganda and Zambia. They also have international offices in London and New York with assets of $91billion
                    USD. </p>
                </div>
                <div class="flex flex-col justify-end lg:items-end">
                    <div class="bg-white w-32 h-32 lg:w-64 lg:h-64  rounded-full flex flex-col justify-center items-center">
                        <img src="/images/partners/absa_logo.png" class="object-fit w-24" />
                    </div>
                </div>
            </div>

            <div class="grid px-4 justify-center items-center lg:py-12 md:py-12 bg-white py-12 lg:px-24 lg:grid-cols-3 md:grid-cols-3">
                 <div class="flex flex-col justify-center lg:items-center lg:col-start-1">
                    <div class="bg-[#F3F5FA] w-32 h-32 lg:w-64 lg:h-64  rounded-full flex flex-col justify-center items-center">
                        <img src="/images/partners/zenith.png" class="object-fit p-6 lg:p-12" />
                    </div>
                </div>
                <div class="slide fadeRight animation-element lg:col-start-2 lg:col-end-4">
                    <h2 class="text-[42px] text-[#000B6B] font-bold">
                        Zenith Bank
                    </h2>
                    <p class="text-[24px] text-[#3B404A]">
                    Zenith Bank Plc, headquartered in Lagos, Nigeria, has grown astronomically to become one of the leading financial
                    institutions in Africa. They blazed the trail in digital banking in Nigeria; scoring several firsts in the deployment of
                    Information and Communication Technology (ICT) infrastructure to create innovative products that meet the needs of its
                    teeming customers. Zenith Bank has subsidiaries in Ghana, Sierra Leone, Gambia, and a representative office in China,
                    with plans to take the Zenith brand to other African countries as well as the European and Asian markets.</p>
                </div>
               
            </div>
            <div class="grid px-4 lg:grid-cols-3 md:grid-cols-3 justify-center items-center lg:py-12 md:py-12 bg-[#E2ECFE] py-12 lg:px-24">
                <div class="slide fadeRight animation-element lg:col-start-1 lg:col-end-3">
                    <h2 class="text-[42px] text-[#000B6B] font-bold">
                        Paps
                    </h2>
                    <p class="text-[24px] text-[#3B404A]">
                    PAPS is a transportation and logistics company based in Senegal, Ivory Coast and Benin, that offers technology-driven
                    solutions to help their customers manage their missions. With a commitment to providing end-to-end logistics solutions
                    for businesses of all sizes, they are revolutionizing the logistics sector in Africa. Their aim is to become the largest
                    distribution service throughout West Africa and eventually expand intercontinentally.</p>
                </div>
                <div class="flex flex-col justify-center lg:items-center">
                    <div class="bg-white w-32 h-32 lg:w-64 lg:h-64  rounded-full flex flex-col justify-center items-center">
                        <img src="/images/partners/paps.png" class="object-fit p-2" />
                    </div>
                </div>
            </div>

            
            
            <div class="grid px-4 lg:grid-cols-3 md:grid-cols-3 justify-center items-center lg:py-12 md:py-12 bg-white py-12 lg:px-24">
                 <div class="flex flex-col justify-center lg:items-center">
                    <div class="bg-[#F3F5FA] w-32 h-32 lg:w-64 lg:h-64  rounded-full flex flex-col justify-center items-center">
                        <img src="/images/uba_logo.png" class="object-fit p-4 lg:p-12" />
                    </div>
                </div>
                <div class="slide fadeRight animation-element lg:col-start-2 lg:col-end-4">
                    <h2 class="text-[42px] text-[#000B6B] font-bold">
                        UBA Kenya
                    </h2>
                    <p class="text-[22px] text-[#3B404A]">
                    UBA Kenya Bank Limited is a subsidiary of United Bank for Africa Plc. The UBA Group is a leading Pan-African financial
                    services group with presence in 20 African countries, as well as the United Kingdom, the United States of America,
                    France and Dubai. Using their expertise and the Group’s extensive spread across the continent, UBA Kenya aims to
                    facilitate inter and intra African trade and also be the pivot for inflow of investment capital into Kenya. UBA Kenya
                    plays a significant role in the quest to build the strongest domestic and African banking brand.</p>
                </div>
               
            </div>

            <div class="grid px-4 lg:grid-cols-3 md:grid-cols-3 justify-center items-center lg:py-12 md:py-12 bg-[#E2ECFE] py-12 lg:px-24">
                <div class="slide fadeRight animation-element lg:col-start-1 lg:col-end-3">
                    <h2 class="text-[42px] text-[#000B6B] font-bold">
                        Coris Bank
                    </h2>
                    <p class="text-[22px] text-[#3B404A]">
                    Coris Bank International is the largest banking group in Burkina Faso. They are dedicated to improving the quality of
                    life of their customers through tailored service offerings that meet their needs. Coris Bank supports economic
                    development projects in a number of areas, including construction, agriculture and trade. True to its origins, Coris
                    Bank International Burkina Faso retains a strong sense of loyalty to its customers due to its proximity to local
                    entrepreneurs.  With its subsidiaries established in the sub-regional market and a focus on conquering the African
                    market, CBI is well-positioned to become the most successful and accessible bank in Africa through good country
                    coverage. </p>
                </div>
                <div class="flex flex-col justify-center lg:items-center">
                    <div class="bg-white w-32 h-32 lg:w-64 lg:h-64  rounded-full flex flex-col justify-center items-center">
                        <img src="/images/coris_bank.png" class="object-fit p-4" />
                    </div>
                </div>
            </div>

            <div class="grid px-4 lg:grid-cols-3 md:grid-cols-3 justify-center items-center lg:py-12 md:py-12 bg-white py-12 lg:px-24">
                 <div class="flex flex-col justify-center lg:items-center">
                    <div class="bg-[#F3F5FA] w-32 h-32 lg:w-64 lg:h-64  rounded-full flex flex-col justify-center items-center">
                        <img src="/images/stanbic.png" class="object-fit p-6 lg:p-12" />
                    </div>
                </div>
                <div class="slide fadeRight animation-element lg:col-start-2 lg:col-end-4">
                    <h2 class="text-[42px] text-[#000B6B] font-bold">
                        Stanbic Bank Ghana
                    </h2>
                    <p class="text-[22px] text-[#3B404A]">
                    Stanbic Bank Ghana is part of Standard Bank Group Limited, which is Africa’s biggest lender by assets. As a leading
                    Africa-focused financial services organization, Stanbic Bank has earned a well-deserved reputation as a customer
                    oriented, business friendly and socially relevant bank.</p>
                </div>
               
            </div>
        <!--
        <div
            class="grid px-4 lg:grid-cols-2 md:grid-cols-2 justify-center items-center lg:py-12 md:py-12 bg-[#E2ECFE] py-12 lg:px-24">
            <div class="slide fadeRight animation-element">
                <h2 class="text-[42px] text-[#000B6B] font-bold">
                    Stanbic Bank Ghana
                </h2>
                <p class="text-[24px] text-[#3B404A]">
                    Stanbic Bank Ghana is part of Standard Bank Group Limited, which is Africa’s biggest lender by assets. As a leading
                    Africa-focused financial services organization, Stanbic Bank has earned a well-deserved reputation as a customer
                    oriented, business friendly and socially relevant bank.
                </p>
            </div>
            <div class="flex flex-col justify-center lg:items-center">
                <div class="bg-white w-32 h-32 lg:w-64 lg:h-64  rounded-full flex flex-col justify-center items-center">
                    <img src="/images/stanbic.png" class="object-fit p-4" />
                </div>
            </div>
        </div>
        -->

            {{!-- <div x-on:click="hoveritem = '1', clickCard(1)" id="1" :style="`${hoveritem}=='1' ?? background-color: green`"   class="cursor-pointer bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center ml-[400px]">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/corpay.png" style="width: 130px; height: 63px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '2'"  class="bg-[#F6F6F6] cursor-pointer w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/uba_logo.png" style="width: 130px; height: 63px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '3'"  class="bg-[#F6F6F6] cursor-pointer w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/zenith.png" />
                </div>
            </div>
            <div x-on:click="hoveritem = '4'"  class="bg-[#F6F6F6] cursor-pointer w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/paps.png" style="width: 130px; height: 63px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '5'"  class="bg-[#F6F6F6] cursor-pointer w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/absa_logo.png" />
                </div>
            </div>
            <div x-on:click="hoveritem = '6'"  class="bg-[#F6F6F6] w-64 h-24 cursor-pointer rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/integral.png" />
                </div>
            </div>
            <div x-on:click="hoveritem = '1'"   class="bg-[#F6F6F6] w-64 h-24 cursor-pointer rounded-2xl flex flex-col justify-center items-center ml-28">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/corpay.png" style="width: 130px; height: 63px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '2'"  class="bg-[#F6F6F6] w-64 h-24 cursor-pointer rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/uba_logo.png" style="width: 90px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '3'"  class="bg-[#F6F6F6] w-64 h-24 cursor-pointer rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/zenith.png" style="height: 70px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '4'"  class="bg-[#F6F6F6] w-64 h-24 cursor-pointer rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/paps.png" style="width: 130px; height: 63px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '5'"  class="bg-[#F6F6F6] w-64 h-24 cursor-pointer rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/absa_logo.png"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '6'"  class="bg-[#F6F6F6] w-64 h-24 cursor-pointer rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/integral.png" />
                </div>
            </div> 
            <div x-on:click="hoveritem = '7'"  class="bg-[#F6F6F6] w-64 h-24 cursor-pointer rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/monex_logo_head_b.png" style="height: 70px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '8'"  class="bg-[#F6F6F6] w-64 h-24 cursor-pointer rounded-2xl flex flex-col justify-center items-center mr-32">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/coris_bank.png" />
                </div>
            </div>
            

        </div>

        <div class="mt-10">

        
        <template x-if="hoveritem=='1'">
            <div class="text-[#3B404A] text-[28px] leading-[38px] text-center lg:mx-32 y">
            Corpay lorem vel sagittis libero scelerisque fusce et. Id ac justo quis ipsum at a enim nisl. Amet sagittis sed mauris mus purus nunc augue consectetur proin. Sed molestie bibendum nulla vitae consequat est tortor consequat sagittis. Cursus mus eu quis a nullam in et dictum. Ullamcorper cursus scelerisque sed sodales risus vitae enim.
        </div>
        </template>
        <template x-if="hoveritem=='2'">
            <div class="text-[#3B404A] text-[28px] leading-[38px] text-center lg:mx-32 y">
            UBA lorem vel sagittis libero scelerisque fusce et. Id ac justo quis ipsum at a enim nisl. Amet sagittis sed mauris mus purus nunc augue consectetur proin. Sed molestie bibendum nulla vitae consequat est tortor consequat sagittis. Cursus mus eu quis a nullam in et dictum. Ullamcorper cursus scelerisque sed sodales risus vitae enim.
        </div>
        </template>
        <template x-if="hoveritem=='3'">
            <div class="text-[#3B404A] text-[28px] leading-[38px] text-center lg:mx-32 y">
            Zenith lorem vel sagittis libero scelerisque fusce et. Id ac justo quis ipsum at a enim nisl. Amet sagittis sed mauris mus purus nunc augue consectetur proin. Sed molestie bibendum nulla vitae consequat est tortor consequat sagittis. Cursus mus eu quis a nullam in et dictum. Ullamcorper cursus scelerisque sed sodales risus vitae enim.
        </div>
        </template>
        <template x-if="hoveritem=='4'">
            <div class="text-[#3B404A] text-[28px] leading-[38px] text-center lg:mx-32 y">
            Paps lorem vel sagittis libero scelerisque fusce et. Id ac justo quis ipsum at a enim nisl. Amet sagittis sed mauris mus purus nunc augue consectetur proin. Sed molestie bibendum nulla vitae consequat est tortor consequat sagittis. Cursus mus eu quis a nullam in et dictum. Ullamcorper cursus scelerisque sed sodales risus vitae enim.
        </div>

        </template>
        <template x-if="hoveritem=='5'">
            <div class="text-[#3B404A] text-[28px] leading-[38px] text-center lg:mx-32 y">
            Absa lorem vel sagittis libero scelerisque fusce et. Id ac justo quis ipsum at a enim nisl. Amet sagittis sed mauris mus purus nunc augue consectetur proin. Sed molestie bibendum nulla vitae consequat est tortor consequat sagittis. Cursus mus eu quis a nullam in et dictum. Ullamcorper cursus scelerisque sed sodales risus vitae enim.
        </div>
        
        </template>
        <template x-if="hoveritem=='6'">
            <div class="text-[#3B404A] text-[28px] leading-[38px] text-center lg:mx-32 y">
            Integral lorem vel sagittis libero scelerisque fusce et. Id ac justo quis ipsum at a enim nisl. Amet sagittis sed mauris mus purus nunc augue consectetur proin. Sed molestie bibendum nulla vitae consequat est tortor consequat sagittis. Cursus mus eu quis a nullam in et dictum. Ullamcorper cursus scelerisque sed sodales risus vitae enim.
        </div>
        
        </template>

        </div>
         --}}
    </div>


</section>

