<section style="height: 450px;" class="bg-[#0032A0] bg-[url('/images/about_img.png')] relative">
<div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(90.18deg, #0032A0 0.14%, rgba(0, 50, 160, 0.7) 59.23%, rgba(0, 50, 160, 0) 124.53%);">

    </div>

    <div class="flex absolute top-0 left-0 flex-col text-white justify-center z-20 h-full mx-10 lg:mx-24">
        <div class="">
            <h2 class="text-4xl font-bold text-white leading-none my-4">
                About us | Clients
            </h2>
            <p class="text-md text-white mt-2 font-light">
                We work with companies disrupting the fintech space
            </p>
        </div>


    </div>

</section>

<section class="min-h-[900px]" >

    <div class="m-10 flex flex-col justify-center " x-data="{
                hoveritem: '1'
                }"
            >

        <div class="flex justify-center text-[#000B6B] my-12">
            <h2 class="text-[42px] font-bold">Our Clients</h2>
        </div> 

        <div class=" flex flex-row justify-center gap-4 overflow-x-auto  mx-32 py-8">

            <div x-on:click="hoveritem = '1'"   class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center ml-32">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/corpay.png" style="width: 130px; height: 63px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '2'"  class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/uba_logo.png" style="width: 130px; height: 63px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '3'"  class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/zenith.png" style="width: 130px; height: 63px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '4'"  class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/paps.png" style="width: 130px; height: 63px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '5'"  class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/absa_logo.png" style="width: 130px; height: 63px;"/>
                </div>
            </div>
            <div x-on:click="hoveritem = '6'"  class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center mr-32">
                <div class="bg-[#F6F6F6] w-64 h-24 rounded-2xl flex flex-col justify-center items-center">
                    <img class="relative" src="/images/partners/integral.png" style="width: 130px; height: 63px;"/>
                </div>
            </div>

        </div>

        <template x-if="hoveritem=='1'">
            <div class="text-[#3B404A] text-[28px] leading-[38px] text-center mx-32 y">
            Corpay lorem vel sagittis libero scelerisque fusce et. Id ac justo quis ipsum at a enim nisl. Amet sagittis sed mauris mus purus nunc augue consectetur proin. Sed molestie bibendum nulla vitae consequat est tortor consequat sagittis. Cursus mus eu quis a nullam in et dictum. Ullamcorper cursus scelerisque sed sodales risus vitae enim.
        </div>
        </template>
        <template x-if="hoveritem=='2'">
            <div class="text-[#3B404A] text-[28px] leading-[38px] text-center mx-32 y">
            UBA lorem vel sagittis libero scelerisque fusce et. Id ac justo quis ipsum at a enim nisl. Amet sagittis sed mauris mus purus nunc augue consectetur proin. Sed molestie bibendum nulla vitae consequat est tortor consequat sagittis. Cursus mus eu quis a nullam in et dictum. Ullamcorper cursus scelerisque sed sodales risus vitae enim.
        </div>
        </template>
        <template x-if="hoveritem=='3'">
            <div class="text-[#3B404A] text-[28px] leading-[38px] text-center mx-32 y">
            Zenith lorem vel sagittis libero scelerisque fusce et. Id ac justo quis ipsum at a enim nisl. Amet sagittis sed mauris mus purus nunc augue consectetur proin. Sed molestie bibendum nulla vitae consequat est tortor consequat sagittis. Cursus mus eu quis a nullam in et dictum. Ullamcorper cursus scelerisque sed sodales risus vitae enim.
        </div>
        </template>
        <template x-if="hoveritem=='4'">
            <div class="text-[#3B404A] text-[28px] leading-[38px] text-center mx-32 y">
            Paps lorem vel sagittis libero scelerisque fusce et. Id ac justo quis ipsum at a enim nisl. Amet sagittis sed mauris mus purus nunc augue consectetur proin. Sed molestie bibendum nulla vitae consequat est tortor consequat sagittis. Cursus mus eu quis a nullam in et dictum. Ullamcorper cursus scelerisque sed sodales risus vitae enim.
        </div>

        </template>
        <template x-if="hoveritem=='5'">
            <div class="text-[#3B404A] text-[28px] leading-[38px] text-center mx-32 y">
            Absa lorem vel sagittis libero scelerisque fusce et. Id ac justo quis ipsum at a enim nisl. Amet sagittis sed mauris mus purus nunc augue consectetur proin. Sed molestie bibendum nulla vitae consequat est tortor consequat sagittis. Cursus mus eu quis a nullam in et dictum. Ullamcorper cursus scelerisque sed sodales risus vitae enim.
        </div>
        
        </template>
        <template x-if="hoveritem=='6'">
            <div class="text-[#3B404A] text-[28px] leading-[38px] text-center mx-32 y">
            Integral lorem vel sagittis libero scelerisque fusce et. Id ac justo quis ipsum at a enim nisl. Amet sagittis sed mauris mus purus nunc augue consectetur proin. Sed molestie bibendum nulla vitae consequat est tortor consequat sagittis. Cursus mus eu quis a nullam in et dictum. Ullamcorper cursus scelerisque sed sodales risus vitae enim.
        </div>
        
        </template>
        
    </div>


</section>

