<section style="height: 450px;" class="relative">



    <video autoplay muted loop id="myVideo" class="w-full h-full object-fill">
        <source src="/videos/digi-infrastructure.mp4" type="video/mp4">
    </video>


    <div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(93.28deg, #3D475C 2.46%, rgba(61, 71, 92, 0) 98.34%);">

    </div>


    <div class="flex absolute top-0 left-0 flex-col text-white justify-center z-20 h-full mx-10 lg:mx-24">
        <h2 class="text-4xl">
            Collections
        </h2>
        <p class="flex-none lg:w-1/2 font-light leading-tight text-md mt-2 text-gray-300">
            OOur Collections feature enables seamless payment collections for businesses operating in Africa, both locally and across
            borders. We provide secure and efficient cross-border remittance and foreign exchange settlement services, making
            transactions within and to Africa hassle-free. Choose our Collections service for a fast and reliable payment collection
            experience.
        </p>
    </div>



</section>

<section style="height: 200px;" class="mx-10 lg:mx-24">

    <div class="flex flex-col h-full justify-center">
        <h2 class="text-2xl">
            Streamline your payments in and to Africa with our Collections service.
        </h2>
        <span class="text-md text-gray-600 mt-2 lg:w-3/5">
            Our Collections service is designed to simplify payment collection for businesses operating in Africa, whether locally
            or cross-border. With our expertise in cross-border remittance and foreign exchange settlement services, we ensure that
            transactions are fast, secure, and efficient. Our aim is to facilitate seamless payment collection experiences within
            and to Africa, enabling businesses to focus on their core operations. Choose our Collections service for a hassle-free
            payment collection process.
        </span>
    </div>

</section>


<section class="mx-10 lg:mx-24">


    <div class="rounded-md overflow-hidden my-4 flex flex-col lg:flex-row" style="background: #E9F6E4">

        <div class="lg:w-1/4 bg-[#3F8026] relative">

            <img src="/images/consumer/Illustration.png" class="absolute -left-5 top-0 bottom-0 object-contain h-full py-24"/>

        </div>

        <div class="lg:w-3/4 bg-green-100 alpha-90">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-12 my-20">

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            1
                        </h2>

                        <h3 class="font-bold text-lg">Mobile Wallet</h3>


                    </div>

                    <p class="font-light text-md text-gray-500">
                        Our mobile wallet allows users to store, send and receive money using their smartphones. With features like instant
                        notifications, transaction history, and fund transfers, our mobile wallet simplifies the way you manage your money.
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            2
                        </h2>

                        <h3 class="font-bold text-lg">International Remittance</h3>


                    </div>

                    <p class="font-light text-md text-gray-500">
                        Our international remittance service enables users to send and receive money from anywhere in the world. With
                        competitive exchange rates and a fast and secure transfer process, our remittance service ensures that your money
                        reaches its destination quickly and conveniently.
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0 85%; ">
                        <h2 class="font-bold text-5xl" style=" color: #6CC24A; font-family: 'Inter', sans-serif">
                            3
                        </h2>

                        <h3 class="font-bold text-lg">Payment Gateway</h3>

                    </div>


                    <p class="font-light text-md text-gray-500">
                        Our payment gateway provides a seamless integration between businesses and customers, enabling fast and secure online
                        payments. With advanced fraud detection and real-time reporting, our payment gateway is a reliable solution for
                        e-commerce businesses of all sizes.
                        
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0 85%; ">
                        <h2 class="font-bold text-5xl" style=" color: #6CC24A; font-family: 'Inter', sans-serif">
                            4
                        </h2>

                        <h3 class="font-bold text-lg">Secured Credit & debit card</h3>

                    </div>

                    <p class="font-light text-md text-gray-500">
                        Our virtual prepaid cards provide a secure and flexible way to make online payments. With no credit checks or bank
                        accounts required, anyone can use our virtual prepaid cards to shop online, pay bills, or transfer funds.
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0 85%; ">
                        <h2 class="font-bold text-5xl" style=" color: #6CC24A; font-family: 'Inter', sans-serif">
                            5
                        </h2>

                        <h3 class="font-bold text-lg">POS Terminal</h3>

                    </div>


                    <p class="font-light text-md text-gray-500">
                        Our POS terminal is a compact and portable device that enables businesses to accept card payments on the go. It comes
                        with multiple connectivity options and supports various payment methods, making it an ideal solution for businesses of
                        all sizes.
                    </p>

                </div>

                <!--
                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0 85%; ">
                        <h2 class="font-bold text-5xl" style=" color: #6CC24A; font-family: 'Inter', sans-serif">
                            6
                        </h2>

                        
                        <h3 class="font-bold text-sm">Cryptocurriencies</h3>

                    </div>

                    <p class="font-light text-sm text-gray-500">
                        Our crypto platform facilitates crypto wallets for our consumer
                        and business clients enabling the purchase,
                        sale, and transfer of the most popular cryptocurrencies on the market.

                        <div class="text-xs text-red-300 mt-1">
                            *Available in select markets only
                        </div>

                    </p>

                </div>
                -->

            </div>

        </div>




    </div>


</section>