<section class="h-screen relative lg:h-[600px]">


    <video autoplay muted loop id="myVideo" class="w-full h-full object-cover object-top">
        <source src="/videos/collections1.mp4" type="video/mp4">
    </video>


    <div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(93.28deg, #3D475C 2.46%, rgba(61, 71, 92, 0) 98.34%);">

    </div>


    <div class="flex absolute top-0 left-0 flex-col text-white justify-center z-20 h-full mx-10 lg:mx-24">
        <h2 class="text-3xl lg:text-5xl font-bold">
            Collections
        </h2>
        <p class="flex-none lg:w-1/2 font-light leading-tight text-xl lg:text-2xl mt-2 text-gray-300">
            Our collections feature enables seamless payment collections for businesses and other financial service
            partners.
        </p>
    </div>



</section>

<section class="px-10 lg:px-24 relative my-20 mb-20">
    <div class="flex flex-col h-full justify-center" >
        <h2 style="font-weight: bold;" class="text-3xl leading-12">
            No matter the type or size of your business, accounts receivable and collections is a valuable part
            of your operations and cash flow.
        </h2>
        <span class="text-xl text-gray-600 mt-2">
            
        </span>
    </div>

</section>



<section class="mx-10 lg:mx-24 mb-32">

    <div class="rounded-2xl overflow-hidden my-5 flex flex-col lg:flex-row ">

        <div class="lg:w-1/4 bg-[#3F8026] relative">

            <img src="/images/business/Illustration.png" class="absolute -left-5 top-0 bottom-0 object-cover h-full py-40"/>

        </div>

        <div class="lg:w-3/4 alpha-90 bg-green-100">

            <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mx-12 my-5">
                 <div class="flex flex-col">

                    <p class="font-light text-2xl text-gray-500 pt-10">
                            Revenue collection is no easy task, but it is a necessary one. Having a comprehensive system, ensuring proper data
                            tracking and customer communication will dramatically facilitate your revenue collection process, and help you avoid
                            major and unnecessary losses.
                            
                            Additionally, proper management of your revenue collection will have a positive impact on your relationships with your
                            customers, adding value to your business.
                    </p>

                    <p class="font-light text-2xl text-gray-500 pt-6">
                            Some of the advantages of collections platform:
                    </p>

                    

                        <ul style="list-style-image: url('/images/icons/ArrowRightGreen.svg')" class="mt-4 ml-6 font-light text-lg text-gray-500">
                            <li class="p-2"> Reduce fraud and cash leakage.</li>
                            <li class="p-2"> Increase collection percentages and cash flow.</li>
                            <li class="p-2"> Payment Tracker: track status via our online platform</li>
                            <li class="p-2"> Grow revenue across the customer base.</li>
                            <li class="p-2"> Build real time analytics for improved business decisions.</li>
                        </ul> 

                

            </div>

        </div>




    </div>


</section>
        


</section>