<section style="height: 450px;" class="bg-[#0032A0] bg-[url('/images/about_img.png')] relative">
<div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(90.18deg, #0032A0 0.14%, rgba(0, 50, 160, 0.7) 59.23%, rgba(0, 50, 160, 0) 124.53%);">

    </div>

    <div class="flex absolute top-0 left-0 flex-col text-white justify-center z-20 h-full mx-10 lg:mx-24">
        <div class="">
            <h2 class="text-4xl font-bold text-white leading-none my-4">
                About us | Company
            </h2>
            <p class="text-md text-white mt-2 font-light">
                We are a financial services technology company
            </p>
        </div>


    </div>

</section>

<section class="  bg-[#E2ECFE] " >

    <div class="grid lg:grid-cols-2 md:grid-cols-2 justify-center items-center lg:mx-24 pt-12">
        
        
        <div class="slide fadeRight animation-element px-4">
            <h2 class="text-[56px] text-[#000B6B] font-bold">
                Our Company
            </h2>
            <p class="text-[28px] text-[28px] text-[#3B404A] ">
                Javolin is a financial services technology company providing services and products through our digital platform and mobile and web-based applications for Businesses, Banks, Government Entities, and Consumers            </p>
            
        </div>
        <div class="fadeLeft animation-element">
            <img src="/images/AfricaGraphic.png" alt="african map"/>
        </div>
    </div>


</section>

