<section class="bg-[#0032A0]  h-screen relative lg:h-[600px]  bg-[url('/images/about_img.png')] relative bg-cover">
<div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(90.18deg, #0032A0 0.14%, rgba(0, 50, 160, 0.7) 59.23%, rgba(0, 50, 160, 0) 124.53%);">

    </div>

    <div class="flex absolute top-0 left-0 flex-col text-white justify-center z-20 h-full mx-10 lg:mx-24">
        <div class="">
            <h2 class="text-5xl font-bold text-white leading-none my-4">
                About us | Company
            </h2>
            <p class="text-2xl text-white mt-2 font-light">
                Who is Javolin?
            </p>
            <p><br></p>
            <p class="text-2xl text-white mt-2 font-light">
                Javolin was created to address the opportunities in the financial services market on the continent of Africa regarding
                inter-connectivity of countries on the Continent and to other western Markets such as the United States.
                
                Our Wallet based system allows a user-friendly interactive process that’s accessible on our platform via any Apple or
                Android mobile phone and via our web portal.
                
                Our product offerings and services facilitate financial access and efficiency for consumers, businesses, and
                municipalities on the continent of Africa and the US.
            </p>

            
        </div>


    </div>

</section>

<section class="  bg-[#E2ECFE] pb-32 " >

    <div class="grid lg:grid-cols-2 md:grid-cols-2 justify-center items-center lg:mx-12 pt-12 ">
        

        <p class="px-4">
            <p class="text-[25px] text-[#000B6B] font-bold">
                Our Mission
            </p>
            <p class="text-[28px] text-[28px] text-[#3B404A] ">
                Our mission is to increase efficiencies in the financial services sector by connecting with many of the leading
                financial institutions via our proprietary APIs, and to decrease fees and cost for all integrated parties. </p>
        
        </p>


        <div class="slide fadeRight animation-element px-4">
            <h2 class="text-[56px] text-[#000B6B] font-bold">
                Our Company
            </h2>
            <p class="text-[28px] text-[28px] text-[#3B404A] ">
                Javolin is a financial services technology company providing services and products through our digital platform and mobile and web-based applications for Businesses, Banks, Government Entities, and Consumers            </p>
            
        </div>
        <div class="fadeLeft animation-element">
            <img src="/images/AfricaGraphic.png" alt="african map"/>
        </div>
    </div>


</section>

