<section class="bg-[#0032A0]  h-screen lg:h-[600px]  bg-[url('/images/about_img.png')] relative bg-cover">
<div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(90.18deg, #0032A0 0.14%, rgba(0, 50, 160, 0.7) 59.23%, rgba(0, 50, 160, 0) 124.53%);">

    </div>

    <div class="flex absolute top-0 left-0 flex-col text-white justify-center z-20 h-full mx-10 lg:mx-24">
        <div class="">
            <h2 class="text-5xl font-bold text-white leading-none my-4">
                About us | Company
            </h2>
            <p class="text-2xl text-white mt-2 font-bold">
                JAVOLIN is a financial services technology company.
            </p>
            <p><br></p>
            {{!-- <p class="text-2xl text-white mt-2 font-light">
                Javolin was created to address the opportunities in the financial services market on the continent of Africa regarding
                inter-connectivity of countries on the Continent and to other western Markets such as the United States.
                
                Our Wallet based system allows a user-friendly interactive process that’s accessible on our platform via any Apple or
                Android mobile phone and via our web portal.
                
                Our product offerings and services facilitate financial access and efficiency for consumers, businesses, and
                municipalities on the continent of Africa and the US.
            </p> --}}
        </div>
    </div>
</section>

<section class="pb-32 px-6" >

    <div class="grid lg:grid-cols-2 md:grid-cols-2 justify-center items-center lg:mx-24 pt-12 gap-8 ">
        <div>
            <h2 class="text-[42px] text-[#000B6B] font-bold">
                Message From Our Chairman 
            </h2>
            <p class="text-3xl pb-6 text-[#000638] font-bold ">Carl L. Powell</p>
            <p class="text-2xl">
                The team and I started Javolin from our offices in Atlanta GA with the goal of increasing efficiencies in the way
                businesses, banks, and government institutions engage in and transact financial services domestically and across
                borders. Over the past 25 years of traveling, and conducting business internationally, I noted big impediments facing
                this client group on the Continent of Africa. So, we embarked upon making a difference… and in a very short period of
                time, we have.
                
                During our journey, we’ve noticed that the challenges we are addressing are just as germane for clients in emerging
                areas of the United States, such as municipal cash collections, to financial service companies needing to connect in
                neighboring countries in Africa. Today we have great partners and great clients. We believe we are making an impact one
                transaction at a time. </p>
                <br>

                    <p class ="text-2xl text-[#000638] font-bold">We welcome you to join our journey!!</p>
                
                
        </div>

        <div class="flex justify-center">
            <div class=" p-4 shadow-xl rounded-3xl" >
                <img  class="object-cover  w-96 h-[680px] rounded-3xl" src="/images/Carl_pic.jpg" alt="carl"/>
            </div>
        </div>

    </div>
</section>
<section class="  bg-[#E2ECFE] pb-32 px-6" >

     <h2 class="text-[42px] lg:mx-24 text-[#000B6B] pt-12 font-bold">
                Our Company 
    </h2>
    <div class="flex flex-col justify-center items-center lg:mx-24  ">
        
         {{!-- <div class="fadeLeft animation-element">
            <img src="/images/AfricaGraphic.png" alt="african map"/>
        </div> --}}
       
        <div class="slide fadeRight animation-element  mt-6">
            <h2 class="text-3xl  font-bold">
                Who is Javolin? 
            </h2>
            <p class="text-2xl text-[#3B404A] ">
                    Headquartered in Atlanta, GA, Javolin was created to address the opportunities in the financial services market on the continent of Africa regarding inter-connectivity of countries on the Continent and to other western Markets such as the United States.  

                    Our Wallet based system allows a user-friendly interactive process that’s accessible on our platform via any Apple or Android mobile phone and via our web portal.  

                    Our product offerings and services facilitate financial access and efficiency for consumers, businesses, and municipalities on the continent of Africa and the US.             
            </p>
        </div>

        

       
        
       
    </div>
    <div class=" grid grid-cols-2 lg:mx-24  mt-4">
        <div class="slide fadeRight animation-element mt-6">
            <h2 class="text-3xl font-bold">
                Our Mission
            </h2>
            <p class="text-2xl text-[#3B404A] ">
            Our mission is to increase efficiencies in the financial services sector by connecting with many of the leading financial institutions via our proprietary APIs, and to decrease fees and cost for all integrated parties.              
            </p>
        </div>
        <div class="slide fadeRight animation-element mt-6 lg:mx-24">
            <h2 class="text-3xl font-bold">
                Our Customers
            </h2>
            <p class="text-2xl text-[#3B404A] ">
            Our customers are major financial institutions, businesses, and municipalities in the US, Ghana, Kenya, Uganda, and Senegal.                
            </p>
        </div>
    </div>
     


</section>

