<section class="h-screen relative lg:h-[600px]">

    <video autoplay muted loop id="myVideo" class="w-full h-full object-cover ">
        <source src="/videos/lady-consumer.mov" type="video/mp4">
    </video>

    <div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(93.28deg, #3D475C 2.46%, rgba(61, 71, 92, 0) 98.34%);">

    </div>


    <div class="flex absolute top-0 left-0 flex-col text-white justify-center z-20 h-full mx-10 lg:mx-24">
        <h2 style="font-weight: bold;" class="text-3xl lg:text-5xl">
            Build financial stability with <span class="p-2 -ml-2">Javolin</span>
        </h2>
        <p class="flex-none lg:w-1/2 font-light leading-tight text-2xl mt-2 text-gray-300">
            Get a Javolin personal account today to unveil a whole new world of financial products and services that will simplify
            the way you save, invest, pay bills and transfer money across borders.
        </p>
    </div>



</section>

<section class="px-10 lg:px-24 relative my-12">

    <div class="flex flex-col h-full justify-center" >
        <h2 style="font-weight: bold;" class="text-3xl leading-12">
            Digital products for all your banking needs
        </h2>
        <span class="text-xl text-gray-600 mt-2 lg:w-3/5">
            We are creating a financial market place for the products and services of our partners with custom offerings that meet your personal finance needs.
        </span>
    </div>

</section>


<section class="mx-10 lg:mx-24 mb-32">


    <div class="rounded-md overflow-hidden my-4 flex flex-col lg:flex-row" style="background: #E9F6E4">

        <div class="lg:w-1/4 bg-[#3F8026] relative">

            <img src="/images/consumer/Illustration.png" class="absolute -left-5 top-0 bottom-0 object-contain h-full py-24"/>

        </div>

        <div class="lg:w-3/4 bg-green-100 alpha-90">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-12 my-20">

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            1
                        </h2>

                        <h3 class="font-bold text-xl">Save</h3>


                    </div>

                    <p class="font-light text-lg text-gray-500">
                        Your Javolin account allows you to save money conveniently via various sources such as mobile money,
                        prepaid card and cash deposits at our local agents.
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            2
                        </h2>

                        <h3 class="font-bold text-xl">Interest</h3>


                    </div>

                    <p class="font-light text-lg text-gray-500">
                        Interest on deposits in your wallet and on your prepaid visa card deposits.
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0 85%; ">
                        <h2 class="font-bold text-5xl" style=" color: #6CC24A; font-family: 'Inter', sans-serif">
                            3
                        </h2>

                        <h3 class="font-bold text-xl">Send Across Africa</h3>

                    </div>


                    <p class="font-light text-lg text-gray-500">
                        With Javolin you can send money across 33 countries of Africa and from the United States to these countries.
                        
                        <!--
                        <div class="text-xs mt-2 text-gray-400">
                            Launching May 1, 2022
                        </div>
                        -->
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0 85%; ">
                        <h2 class="font-bold text-5xl" style=" color: #6CC24A; font-family: 'Inter', sans-serif">
                            4
                        </h2>

                        <h3 class="font-bold text-xl">Secured Credit & debit card</h3>

                    </div>

                    <p class="font-light text-lg text-gray-500">
                        Apply for a Secured Credit/ Debit card on the Javolin platform and get both
                        a physical and virtual card in your wallet that can
                        be used for cash payments and money transfers.
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0 85%; ">
                        <h2 class="font-bold text-5xl" style=" color: #6CC24A; font-family: 'Inter', sans-serif">
                            5
                        </h2>

                        <h3 class="font-bold text-xl">Loans</h3>

                    </div>


                    <p class="font-light text-lg text-gray-500">
                        Apply for Mortgages and Personal loans on the Javolin platform.
                        Javolin provides a comprehensive process that comprises of the application,
                        underwriting and services of all loans.
                    </p>

                </div>

                <!--
                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0 85%; ">
                        <h2 class="font-bold text-5xl" style=" color: #6CC24A; font-family: 'Inter', sans-serif">
                            6
                        </h2>

                        
                        <h3 class="font-bold text-sm">Cryptocurriencies</h3>

                    </div>

                    <p class="font-light text-sm text-gray-500">
                        Our crypto platform facilitates crypto wallets for our consumer
                        and business clients enabling the purchase,
                        sale, and transfer of the most popular cryptocurrencies on the market.

                        <div class="text-xs text-red-300 mt-1">
                            *Available in select markets only
                        </div>

                    </p>

                </div>
                -->

            </div>

        </div>




    </div>


</section>