<section style="height: 450px;" class="bg-blue-200">


    <div class="flex flex-col justify-center h-full mx-32">
        <h2 class="text-4xl">
            Build financila stability <br/>with Javolin
        </h2>
        <p class="flex-none w-1/2 font-light leading-tight text-sm mt-2 text-gray-600">
            Sed faucibus ac volutpat phasellus sed. Ullamcorper amet augue leo, adipiscing velit non mus.
            Elementum eget faucibus tortor tellus scelerisque sed nec molestie.
            Ipsum tellus ipsum nullam lorem aenean at pretium.
            Mattis ipsum lectus a, senectus tincidunt diam, imperdiet gravida.
        </p>
    </div>

</section>

<section style="height: 200px;" class="mx-32">

    <div class="flex flex-col h-full justify-center">
        <h2 class="text-2xl">
            Digital products for all your <br/>banking needs
        </h2>
        <span class="text-sm text-gray-600 w-3/5">
            Cras a convallis semper euismod lobortis molestie posuere.
            Pellentesque quis est amet praesent interdum.
            Adipiscing venenatis cras pulvinar venenatis eget elit tortor quis scelerisque.
        </span>
    </div>

</section>


<section class="mx-32">


    <div class="rounded-md bg-green-200 overflow-hidden my-10 flex">

        <div class="w-1/4 bg-green-500 relative">

            <img src="/images/consumer/illustration.png" class="absolute -left-5 top-0 bottom-0 object-contain h-full py-24"/>

        </div>

        <div class="w-3/4 bg-green-100 alpha-90">

            <div class="grid grid-cols-2 gap-4 mx-12 my-20">

                <div class="flex flex-col">

                    <h2 class="font-bold text-green-600 text-4xl">
                        1
                    </h2>

                    <h3 class="font-bold text-sm">Save</h3>
                    <p class="font-light text-sm text-gray-500">
                        Lacus id phasellus luctus massa sit aliquam sed ut vel.
                        Malesuada ut fringilla in tristique
                        nulla sagittis aenean tincidunt nunc.
                        Lectus sit dui odio at quam amet gravida.
                    </p>

                </div>

                <div class="flex flex-col">

                    <h2 class="font-bold text-green-600 text-4xl">
                        1
                    </h2>

                    <h3 class="font-bold text-sm">Save</h3>
                    <p class="font-light text-sm text-gray-500">
                        Lacus id phasellus luctus massa sit aliquam sed ut vel.
                        Malesuada ut fringilla in tristique
                        nulla sagittis aenean tincidunt nunc.
                        Lectus sit dui odio at quam amet gravida.
                    </p>

                </div>

                <div class="flex flex-col">

                    <h2 class="font-bold text-green-600 text-4xl">
                        1
                    </h2>

                    <h3 class="font-bold text-sm">Save</h3>
                    <p class="font-light text-sm text-gray-500">
                        Lacus id phasellus luctus massa sit aliquam sed ut vel.
                        Malesuada ut fringilla in tristique
                        nulla sagittis aenean tincidunt nunc.
                        Lectus sit dui odio at quam amet gravida.
                    </p>

                </div>

                <div class="flex flex-col">

                    <h2 class="font-bold text-green-600 text-4xl">
                        1
                    </h2>

                    <h3 class="font-bold text-sm">Save</h3>
                    <p class="font-light text-sm text-gray-500">
                        Lacus id phasellus luctus massa sit aliquam sed ut vel.
                        Malesuada ut fringilla in tristique
                        nulla sagittis aenean tincidunt nunc.
                        Lectus sit dui odio at quam amet gravida.
                    </p>

                </div>

                <div class="flex flex-col">

                    <h2 class="font-bold text-green-600 text-4xl">
                        1
                    </h2>

                    <h3 class="font-bold text-sm">Save</h3>
                    <p class="font-light text-sm text-gray-500">
                        Lacus id phasellus luctus massa sit aliquam sed ut vel.
                        Malesuada ut fringilla in tristique
                        nulla sagittis aenean tincidunt nunc.
                        Lectus sit dui odio at quam amet gravida.
                    </p>

                </div>

                <div class="flex flex-col">

                    <h2 class="font-bold text-green-600 text-4xl">
                        1
                    </h2>

                    <h3 class="font-bold text-sm">Save</h3>
                    <p class="font-light text-sm text-gray-500">
                        Lacus id phasellus luctus massa sit aliquam sed ut vel.
                        Malesuada ut fringilla in tristique
                        nulla sagittis aenean tincidunt nunc.
                        Lectus sit dui odio at quam amet gravida.
                    </p>

                </div>

            </div>

        </div>




    </div>


</section>