<section class="bg-[#0032A0]  h-screen relative lg:h-[600px]  bg-[url('/images/blog_banner.png')] bg-cover relative">
<div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(90.18deg, #0032A0 0.14%, rgba(0, 50, 160, 0.7) 59.23%, rgba(0, 50, 160, 0) 124.53%);">

    </div>

    <div class="flex absolute top-0 left-0 flex-col text-white justify-center z-20 h-full mx-10 lg:mx-24">
        <div class="">
            <h2 class="text-5xl font-bold text-white leading-none my-4">
                In The News
            </h2>
            <p class="text-3xl text-white mt-2 font-light">
                Trending fintech news and stories from around the globe.
            </p>
        </div>
    </div>

</section>

<section class="px-10 lg:px-32 flex flex-col text-gray-700 mt-24 space-y-2 text-sm pb-10">

    <div class="lg:grid lg:grid-cols-4 lg:gap-12">
        <div class="lg:col-start-1 lg:col-end-4 lg:border-r lg:pr-12">
            <div class="rounded-3xl w-full h-[427px] bg-[url('/images/blog/podcast.jpg')] bg-cover bg-right-top">
                {{!-- <img src="/images/blog/podcast.jpg" class="rounded-3xl w-full h-full object-cover"/> --}}
            </div>
            
            <h2 style="font-weight: bold;" class="mx-auto text-3xl mt-6 text-black">
            Developing Fintech in Africa with Carl Powell
            </h2>

            <p class="text-xl text-left text-[#5D6066]">
                Hosts Kevin Plunkett and Lenna Turner talk to Carl about how he went from small-town Mississippi, to Harvard Business School, to International businessman, developing fintech in western and southern Africa.
            </p>
   
            <figure class="mt-4">
                <audio
                    controls
                    src="/audio/CarlPodcastFintechInAfrica.mp3" class="mx-auto">
                        <a href="/audio/CarlPodcastFintechInAfrica.mp3.mp3">
                            Download audio
                        </a>
                </audio>
            </figure>
            
        </div>
        <div class="mt-24 lg:col-start-4 lg:col-end-5 lg:mt-0">
            <div style="font-weight: bold;" class="bg-[#3F8026] text-white py-6 px-4 mb-4 text-lg">
                Read More News
            </div>
           
            <div class="border-b-[0.4px] mt-8 border-[#AAAEB6]">
                <a href="/blog/javolin-opens-new-office-in-dakar-senegal">
                    <div style="font-weight: bold;" class="text-2xl text-[#B5490D] text-left">
                    Javolin Opens New Office In Dakar, Senegal
                </div>
                <div class="text-xl text-left text-[#5D6066]">
                    We are expanding on the continent of Africa with a new office in Dakar, Senegal to serve the digital banking needs of the French speaking West Africa. 
                </div>
                <div class="flex flex-row py-4 justify-end">
                    <div style="font-weight: bold;" class="text-[20px] text-[#0032A0] mr-4">
                        Learn more
                    </div>
                    <div class="flex rounded-full w-9 h-9 justify-center items-center bg-[#0032A0]">
                        <img src="/images/ArrowSquareOut.svg"/>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>





