<section class="h-96 px-10 lg:px-32" style="background: #0c2968;">


    <div class="leading-none py-20">
        <h2 style="font-weight: bold;" class="text-2xl text-white">
            Developing Fintech in Africa with Carl Powell
        </h2>
        <span class="text-gray-500 text-sm"> Published: 1 August 2022 </span>
    </div>


    <img src="/images/blog/podcast.jpg" class="flex items-center mx-auto h-full object-fill lg:object-fit w-6/12 mt-4">




</section>

<section class="px-10 lg:px-32 pt-36 flex flex-col text-gray-700 mt-32 space-y-2 text-sm pb-10">
    <h2 style="font-weight: bold;" class="mx-auto text-2xl text-black">
            Developing Fintech in Africa with Carl Powell
    </h2>
   
    <figure>
    <audio
        controls
        src="/audio/CarlPodcastFintechInAfrica.mp3" class="mx-auto">
            <a href="/audio/CarlPodcastFintechInAfrica.mp3.mp3">
                Download audio
            </a>
    </audio>
</figure>



</section>


<div class="flex items-center justify-center py-5">


    <div style="height: 3px; background: linear-gradient(90.18deg, #0032A0 0.14%, rgba(0, 50, 160, 0.7) 59.23%, rgba(0, 50, 160, 0) 124.53%); width: 319px; " >

    </div>

</div>


