<section class="h-screen relative lg:h-[600px]">

    <video autoplay muted loop id="myVideo" class="w-full h-full object-cover object-top">
        <source src="/videos/DigitalPayments2.mov" type="video/mp4">
    </video>


    <div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(93.28deg, #3D475C 2.46%, rgba(61, 71, 92, 0) 98.34%);">

    </div>


    <div class="flex absolute top-0 left-0 flex-col text-white justify-center z-20 h-full mx-4 lg:mx-24">
        <h2 style="font-weight: bold;" class="text-3xl lg:text-5xl">
            Agri-Commodities
        </h2>
        <p class="flex-none lg:w-1/2 font-light leading-tight text-2xl mt-2 text-gray-300">
            In today's digital age, traditional payment methods are being replaced by more secure and convenient digital payment options. 
            Our digital payment and remittance services make it easier for individuals and businesses to send and receive money across borders. 
            With a focus on the US and Africa, we ensure fast and secure transactions both to and within the continent. 
            
        </p>
    </div>

</section>

<section  class="mx-10 lg:mx-24 relative my-20 mb-20">

    <div class="flex flex-col h-full justify-center">
        <h2 style="font-weight: bold;" class="text-3xl">
            Connecting Africa with seamless digital payments and remittance solutions.
        </h2>
        <span class="text-xl text-gray-600 mt-2">
            Only about 12% of inter-Africans payments are cleared on the continent. The rest are routed through overseas banks.
        </span>
    </div>

</section>


<section class="mx-10 lg:mx-24 mb-32">


    <div class="rounded-md overflow-hidden my-4 flex flex-col lg:flex-row" style="background: #E9F6E4">

        <div class="lg:w-1/4 bg-[#3F8026] relative">

            <img src="/images/business/Illustration.png" class="absolute -left-5 top-0 bottom-0 object-contain h-full py-24"/>

        </div>

        <div class="lg:w-3/4 bg-green-100 alpha-90">

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-12 my-20">

                <div>
                    <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            1
                        </h2>

                        <h3 class="font-bold text-lg">International Remittance</h3>


                    </div>

                    <p class="font-light text-lg text-gray-500">
                            Our international remittance service enables users to send and receive money. With competitive exchange rates and a fast
                            and secure transfer process, our remittance service ensures that your money reaches its destination quickly and
                            conveniently.
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            2
                        </h2>

                        <h3 class="font-bold text-lg">B2B Payments</h3>


                    </div>

                    <p class="font-light text-lg text-gray-500">
                            Businesses in the United States can send payments to affiliates and/or vendors around the world with same day settlement
                            in most cases. Certain countries are excluded.
                    </p>

                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0 85%; ">
                        <h2 class="font-bold text-5xl" style=" color: #6CC24A; font-family: 'Inter', sans-serif">
                            3
                        </h2>

                        <h3 class="font-bold text-lg">Payment to Debit Cards</h3>

                    </div>


                    <p class="font-light text-lg text-gray-500">
                            On the continent of Africa, businesses and consumers can send payments directly to MOMO money accounts as well as Visa
                            cards.
                        
                    </p>

                </div>
                </div>

                

                
                <div class="flex flex-col justify-center ">

                    <div class="relative object-left">
                        <img src="/images/digi-infra.png"  alt="african map" class="object-left">

                    </div>
                </div>
                
                <!--
                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0 85%; ">
                        <h2 class="font-bold text-5xl" style=" color: #6CC24A; font-family: 'Inter', sans-serif">
                            5
                        </h2>

                        <h3 class="font-bold text-lg">POS Terminal</h3>

                    </div>


                    <p class="font-light text-md text-gray-500">
                        Our POS terminal is a compact and portable device that enables businesses to accept card payments on the go. It comes
                        with multiple connectivity options and supports various payment methods, making it an ideal solution for businesses of
                        all sizes.
                    </p>

                </div>
                -->

                <!--
                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0 85%; ">
                        <h2 class="font-bold text-5xl" style=" color: #6CC24A; font-family: 'Inter', sans-serif">
                            6
                        </h2>

                        
                        <h3 class="font-bold text-sm">Cryptocurriencies</h3>

                    </div>

                    <p class="font-light text-sm text-gray-500">
                        Our crypto platform facilitates crypto wallets for our consumer
                        and business clients enabling the purchase,
                        sale, and transfer of the most popular cryptocurrencies on the market.

                        <div class="text-xs text-red-300 mt-1">
                            *Available in select markets only
                        </div>

                    </p>

                </div>
                -->

            </div>

        </div>




    </div>


</section>