<section class="h-screen relative lg:h-[600px]">
    <video autoplay muted loop id="myVideo" class="w-full h-full object-cover object-top">
        <source src="/videos/Forex-woman.mov" type="video/mp4">
    </video>


    <div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(93.28deg, #3D475C 2.46%, rgba(61, 71, 92, 0) 98.34%);">

    </div>

    <div class="flex absolute top-0 left-0 flex-col text-white justify-center z-20 h-full mx-10 lg:mx-24">
        <h2 style="font-weight: bold;" class="text-3xl lg:text-5xl">
                Foreign Exchange
        </h2>
        <p class="flex-none lg:w-1/2 font-light leading-tight text-2xl mt-2 text-gray-300">
            Globally cross-border payments are predicted to grow to $250 trillion by 2027, driving demand for foreign exchange and settlement services for businesses, banks, and consumers.
        </p>
    </div>



</section>

<section class="px-10 lg:px-24 relative my-20 mb-20">
    <div class="flex flex-col h-full justify-center" >
        <h2 style="font-weight: bold;" class="text-3xl leading-12">
            Navigate the global markets effortlessly with our advanced foreign exchange platform
        </h2>
       
    </div>

</section>


<section >


    <div class="rounded-md overflow-hidden  flex flex-col lg:flex-row" >

        <div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pl-4 pt-4 lg:pl-20 my-20 items-center bg-[#E0EAFF]">

                <div>
                    <div class="flex flex-col">

                   

                    <h3 class="font-bold text-5xl text-[#000B6B]">Our FX services </h3>
                    


                        <ul style="list-style-image: url('/images/icons/ArrowRight.svg')" class="mt-4 ml-6 text-2xl">
                            <li class="p-2"> FX rates available 24x7</li>
                            <li class="p-2"> Payment services in 130 currencies (SWIFT, Wires, ACH)</li>
                            <li class="p-2"> Payment Tracker: track status via our online platform</li>
                            <li class="p-2"> Real time validation of beneficiary banking information</li>
                            <li class="p-2"> Full service offering available via API</li>
                        </ul> 
                    </div>
                   
                </div>

                <div class="flex justify-end">
                    <img src="/images/fxphone_bg.png"  alt="forex app"  class="object-right">
                </div>

            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mx-4 lg:mx-0 pt-4 lg:pr-20  items-center ">
                <div class="flex justify-start">
                    <img src="/images/fxphone_bg2.png"  alt="forex app"  class="object-right">
                </div>

                <div>

                    <div class="flex flex-col">


                            <h3 class="font-bold text-5xl text-[#000B6B]">How it works</h3>



                         <ul style="list-style-image: url('/images/icons/ArrowRight.svg')" class="mt-4 ml-6 text-2xl">
                            <li class="p-2"> Establish an account by clearing the required KYC and AML documentation for businesses.</li>
                            <li class="p-2"> Book your FX deal in less than five minutes, either online or with a personal FX specialist.</li>
                            <li class="p-2"> Flexibly transact with us via email, online, phone, chat or fax.</li>
                            <li class="p-2"> Fast, efficient transfers via the SWIFT payment network, with end-to-end tracking, ensure your funds get to where they need to be, when they need to be.</li>
                         </ul> 

                    </div>
                </div>

                

            </div>

        </div>




    </div>


</section>