<section class="h-screen relative lg:h-[600px]">

    <video autoplay muted loop id="myVideo" class="w-full h-full object-cover object-top">
        <source src="/videos/government.mov" type="video/mp4">
    </video>

    <div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(93.28deg, #3D475C 2.46%, rgba(61, 71, 92, 0) 98.34%);">

    </div>

    <div class="flex absolute top-0 z-20 left-0 text-white flex-col justify-center h-full mx-10 lg:mx-24">

        <h2 style="font-weight: bold;" class="text-3xl lg:text-5xl">
            Assisting Governments with<br/>optimizing <span class="p-2 -ml-2">revenue</span>
        </h2>
        <p class="flex-none lg:w-1/2 font-light leading-tight text-2xl mt-2 text-gray-300">
            Javolin provides government institutions the digital platform to positively
            transform the way they collect revenues and make payment.
        </p>
    </div>

</section>

<section class="mx-10 lg:mx-24 relative my-20 mb-20">
    <div class="flex flex-col h-full justify-center">
        <h2 class="text-3xl font-bold">
            Digital infrastructure for governments
        </h2>
        <span class="text-xl text-gray-600 mt-2">
            Our platform facilitates collections in all revenue areas and provides supportive analytics to optimize the process. Via our proprietary APIs, we integrate with government entities,
            mobile carriers and banking partners to reduce areas of fraud and collection leakage. 
            The digital wallets offered to our government partners integrate into current systems, facilitating access and insight.
        </span>
    </div>

</section>


<section class="mx-10 lg:mx-24 mb-32">


    <div class="rounded-md bg-green-200 overflow-hidden my-2 flex flex-col lg:flex-row">

        <div class="lg:w-1/4 bg-[#3F8026] relative">

            <img src="/images/business/Illustration.png" class="absolute -left-5 top-0 bottom-0 object-contain h-full py-24"/>

        </div>

        <div class="lg:w-3/4 alpha-90 bg-green-100">

            <div class="grid grid-cols-1 md:grid-cols-1 gap-4 mx-12 my-20">

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-black text-green-600 text-6xl" style="color: #6CC24A;">
                            1
                        </h2>

                        <h3 class="font-bold text-xl">Sustainable Development</h3>


                    </div>
                    <p class="font-light text-lg text-gray-500">
                        Domestic revenue mobilization is central to nation building and sustainable development.
                        African Govts pursuing various economic and domestic taxation
                        programs towards self-sustaining development, need a technological partner with a
                        tax and revenue collection background to optimize revenue generation.
                        The large spending needs on human development, education, health, and job creation
                        are indeed very expensive for any nation. Going to the capital markets, private finance
                        and aid alone simply cannot sustain any country’s developmental needs.

                    </p>


<!--                    <div class="flex space-x-2 mt-2">-->

<!--                        <div class="w-10 h-10 bg-white rounded-full flex justify-center items-center">-->
<!--                            <img src="/gifs/gov-coins.gif" class="h-9 w-9" />-->
<!--                        </div>-->

<!--                        <div class="flex flex-col">-->
<!--                            <h2 class="font-bold text-sm text-gray-800">Mobile Wallet</h2>-->
<!--                            <span class="text-gray-400 text-xs">-->
<!--                                Transact via your mobile wallet in easy and simple steps-->
<!--                            </span>-->
<!--                        </div>-->
<!--                    </div>-->


<!--                    <div class="flex space-x-2 mt-2">-->

<!--                        <div class="w-10 h-10 bg-white rounded-full flex justify-center items-center">-->
<!--                            <img src="/gifs/gov-QR.gif" class="h-9 w-9 p-1" />-->
<!--                        </div>-->


<!--                        <div class="flex flex-col">-->
<!--                            <h2 class="font-bold text-sm text-gray-800">QR code payments</h2>-->
<!--                            <span class="text-gray-400 text-xs">-->
<!--                                Transact via your mobile wallet in easy and simple steps-->
<!--                            </span>-->
<!--                        </div>-->
<!--                    </div>-->




                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-black text-green-600 text-6xl" style="color: #6CC24A;">
                            2
                        </h2>

                        <h3 class="font-bold text-xl">The Challenge</h3>


                    </div>

                    <p style="font-weight: lighter;" class="font-light text-lg text-gray-500">
                        The current macroeconomic factors such as large agricultural sectors and the large informal
                        sectors found in most African economies makes it hard for Govts to tax, thereby falling short
                        of their developmental goals. The absence of proper database and consistent data on revenues and,
                        businesses and people at the municipalities and cities is another barrier to efficient revenue mobilization.
                         Effective domestic revenue mobilization is important in financing domestic investments, educational,
                        technological, and social programs which are essential for economic growth and for eradicating poverty.
                    </p>

<!--                    <div class="flex space-x-2 mt-2">-->

<!--                        <div class="w-10 h-10 bg-white rounded-full flex justify-center items-center">-->
<!--                            <img src="/gifs/gov-revenue.gif" class="h-9 w-9 p-1" />-->
<!--                        </div>-->



<!--                        <div class="flex flex-col">-->
<!--                            <h2 class="font-bold text-sm text-gray-800">Revenue optimization</h2>-->
<!--                            <span class="text-gray-400 text-xs">-->
<!--                                Transact via your mobile wallet in easy and simple steps-->
<!--                            </span>-->
<!--                        </div>-->
<!--                    </div>-->


                </div>

                <div class="flex flex-col">

                    <div class="relative" style="
                     background-size: 35px;
                     background-image: url('/images/item_bg.png');
                     background-repeat: no-repeat;
                     background-position: 0% 85%; ">
                        <h2 class="font-bold text-green-600 text-5xl" style="color: #6CC24A;">
                            3
                        </h2>

                        <h3 class="font-bold text-xl">Our Solution</h3>


                    </div>

                    <p class="font-light text-lg text-gray-500">
                        Our approach to domestic revenue mobilization is based on a proprietary revenue system which is equitable, inclusive,
                        gender balanced, and accountable. We help Govts build a proper database with access to consistent data on revenues and
                        its people. Javolin’s goal is to assist African Govts in optimizing domestic revenue generation by effectively capturing
                        all areas of taxation and earnings, This provides them the needed income to undertake developmental, educational,
                        health, social, economic and technological developments for their countries and their people.
                    </p>


<!--                    <div class="mt-5 font-bold text-xs text-gray-600">-->
<!--                        Contact us today for all your tax and revenue collection needs-->
<!--                        Javolin-your development partner!-->
<!--                    </div>-->



                </div>

            </div>

        </div>




    </div>


</section>