<style xmlns="http://www.w3.org/1999/html">
    .partner-items > div > img {
        filter: grayscale(100%);
        cursor: pointer;
    }
    .partner-items > div > img:hover  {
        filter: grayscale(0%);
    }
</style>





<section style="background: #0032A0" class="flex flex-col lg:flex-row justify-between pt-10 text-white md:items-center px-10 xl:px-32">

    <div class="flex flex-col">

        <h2 class="font-black leading-tight" style="font-size: 36px;">The On-Ramp to Financial Products and<br/> Services for Consumers,
            Businesses, and<br/> Government Entities.
        </h2>
        <span class="my-6 text-sm font-light">
            Javolin is a  financial services technology company providing digital services and<br/>
            products through our mobile applications focused on the continent of Africa and<br/> other emerging areas
        </span>

        <div class="flex my-4 space-x-2">

            <button class="flex-none">
                <img class="h-12 xl:h-14" src="images/dw_javolin.png" />
            </button>

            <button class="flex-none">
                <img class="h-12 xl:h-14" src="images/dw_playstore.png" />
            </button>

            <button class="flex-none">
                <img class="h-12 xl:h-14" src="images/dw_appstore.png" />
            </button>

        </div>
    </div>


    <div class="relative"
         x-data="{ shown: false }" x-intersect="shown = true"
         style="background: url('images/Design.png'); ">


        <img
                x-show="shown"
                x-transition:enter="transition ease-out duration-1000"
                x-transition:enter-start="opacity-0 scale-0"
                x-transition:enter-end="opacity-100 scale-100"

                src="images/header.png">


        <div x-show="shown" x-on:click="togglePlayer()" :aria-expanded="open"
             :aria-controls="$id('dropdown-button')" class="absolute flex justify-center bottom-32 left-0 right-0 ">
            <button class="flex bg-gradient-to-r from-green-600 p-2 rounded-full justify-center items-center">
                <div class="p-2 bg-gradient-to-r from-green-600 rounded-full bg-yellow-600 mr-2">
                    <img src="images/ic_play.png" class="h-6 w-6"/>
                </div>
                <span style="font-family: Product-Sans" class="font-bold text-sm">Watch Video</span>
            </button>
        </div>
    </div>


</section>



<section class="flex flex-col justify-center items-center h-64 px-10 lg:px-32">

    <h3 class="py-2 text-sm" style="color: gray">
        WE ARE THE BANKING POWERHOUSE
    </h3>

    <h2 class="font-bold text-4xl px-20 text-center" >
        Connecting banks on the continent of Africa with their customers on the continent and in the diaspora.
    </h2>


</section>


<section style="background: #E9F6E4" class="p-10 xl:p-32 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">

    <div class="flex flex-col">
        <h2 class="font-bold text-xl">Digitally integrated solutions powered by ONE WALLET</h2>
        <p class="text-sm">
            Hardware and Software solutions empower financial participation by the banked and unbanked sectors
        </p>
    </div>

    <div class="flex flex-col bg-white px-4 py-8 rounded-xl shadow-lg">
        <h2 class="font-bold text-xl">Digital Infrastructure & Products</h2>
        <p class="text-sm my-2 font-light text-gray-500">
            We provide an integrated digital infrastructure for customers that include web and mobile-based applications,
            a secure Cloud-based platform for storing data, and distinct proprietary APIs.
            Our traditional and non-traditional products and and services are easily accessible.
        </p>
        <div class="flex items-center">
            <span class="text-sm"> More </span>
            <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>
        </div>
    </div>

    <div class="flex flex-col bg-white px-4 py-8 rounded-xl shadow-lg">
        <h2 class="font-bold text-xl">Digital Payments & Remittances</h2>
        <p class="text-sm my-2 font-light text-gray-500">
            We facilitates cross border remittance and foreign exchange settlement services.
            We also provide payment and collections services for businesses and government entities in areas historically collected with cash.
            We reduce losses from cash leakage and increase margins on cash collected
        </p>
        <div class="flex items-center">
            <span class="text-sm"> More </span>
            <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>
        </div>
    </div>


    <div class="flex flex-col bg-white px-4 py-8 rounded-xl shadow-lg">
        <h2 class="font-bold text-xl">Javolin Loans</h2>
        <p class="text-sm my-2 font-light text-gray-500">
            We facilitate loans via our banking partners and make loans in fiat and cryptocurrencies to businesses and small
            financial institutions.  We particularly focus on loans to traders in the import and export
            markets flowing to and from the continent. Our clients can make payments to each other by transferring fiat
            or crypto from one Jav wallet to the other.
        </p>
        <div class="flex items-center">
            <span class="text-sm"> More </span>
            <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>
        </div>
    </div>

    <div class="flex flex-col bg-white px-4 py-8 rounded-xl shadow-lg">
        <h2 class="font-bold text-xl">Cryptocurrency products</h2>
        <p class="text-sm my-2 font-light text-gray-500">
            Our crypto platform via our partnership with FireBlocks facilitates crypto wallets for our customers and business
            clients and allows purchases of cryptocurrencies
            and access to lending pools or fiat and crypto loans.
        </p>
        <div class="flex items-center">
            <span class="text-sm"> More </span>
            <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>
        </div>
    </div>
    <div class="flex flex-col bg-white px-4 py-8 rounded-xl shadow-lg">
        <h2 class="font-bold text-xl">Diaspora Digital Bank</h2>
        <p class="text-sm my-2 font-light text-gray-500">
            We connect customers living outside their home countries with banking products.
            Whether it’s applying for a mortgage to buy a house by home or a loan to assist a loved one,
            our API connections facilitate direct access to the underwriters at the bank.
            Post-closing the Javolin App is used to service the loan by submitting payments directly to the bank.
        </p>
        <div class="flex items-center">
            <span class="text-sm"> More </span>
            <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>
        </div>
    </div>


</section>


<div x-data="{ shown: false }" x-intersect="shown = true" class="p-10 xl:p-32 relative">


    <h4 class="text-sm" x-show="shown"
        x-transition:enter="transition ease-out duration-1000"
        x-transition:enter-start="scale-0"
        x-transition:enter-end="scale-100"

        style="color: gray">JAVOLIN’S PROPRIETY PLATFORM</h4>
    <h2 x-transition class="mt-0 font-bold text-3xl">Secured banking transactions you can trust</h2>


    <img style="height: 480px; width: 480px" class="absolute hidden lg:block  right-0 top-0 object-right object-contain" src="images/security_bg.png" />


    <div class="flex">

        <div class="grid grid-cols-1 md:grid-cols-2 w-3/3 lg:w-2/3 gap-8 mt-10">

            <div class="flex">

                <div class="flex-none w-12 h-12 rounded-full flex justify-center items-center" style="background: #F0F5ED">
                    <img src="/images/ic_analytics.png" class="w-6 h-6 i" />
                </div>

                <div class="flex flex-col ml-5">
                    <h2 class="font-bold text-xl">Bank-grade security</h2>
                    <span class="text-sm text-gray-500 font-light">
                        Our Bank-Grade security means that we adhere to the security protocols that regulate the operations at your bank.
                        We go further by strictly ensuring that all client-server communications are
                        served on HTTPS to protect the integrity and confidentiality of users’ data.
                        Our regular security audits help us ensure that SSL is configured properly.
                    </span>
                </div>



            </div>
            <div class="flex">

                <div class="flex-none w-12 h-12 rounded-full flex justify-center items-center" style="background: #F0F5ED">
                    <img src="/images/ic_analytics.png" class="w-6 h-6 i" />
                </div>

                <div class="flex flex-col ml-5">
                    <h2 class="font-bold text-xl">Insightful Analytics</h2>
                    <span class="text-sm text-gray-500 font-light">
                        Businesses in the modern-day rely heavily on data to make the next innovative move.
                        Data can help us to understand trends and make predictions for the future.
                        Hence, the Javolin platform is with a data-centric approach where every process has been designed to extract quality data for data analytics purposes.
                        We provide reporting and analytics dashboards for our partners and clients to  take insights that affect their line of operation
                        </span>
                </div>



            </div>
            <div class="flex">

                <div class="flex-none w-12 h-12 rounded-full flex justify-center items-center" style="background: #F0F5ED">
                    <img src="/images/ic_analytics.png" class="w-6 h-6 i" />
                </div>

                <div class="flex flex-col ml-5">
                    <h2 class="font-bold text-xl">Cloud-based platform</h2>
                    <span class="text-sm text-gray-500 font-light">
                        Javolin provides a Software as a Service (SAAS) solution that is easy to use and reliable.
                        With access to the internet, all our customers can enjoy the benefit of our products and services.
                        We provide a multi-platform service. Our customers can access the app from anywhere on their mobile phones,
                        personal computers, iPads, and tablets. No matter the device and location, you are not limited in security, reliability,
                        scalability, and availability.

                    </span>
                </div>



            </div>
            <div class="flex">

                <div class="flex-none w-12 h-12 rounded-full flex justify-center items-center" style="background: #F0F5ED">
                    <img src="/images/ic_analytics.png" class="w-6 h-6 i" />
                </div>

                <div class="flex flex-col ml-5">
                    <h2 class="font-bold text-xl">Proprietary APIs</h2>
                    <span class="text-sm text-gray-500 font-light">
                            Javolin provides application programming interfaces (API) that are secure to our customers
                        who want to build on top of our system. Developers who want to leverage the Javolin technology can get proprietary
                        access to our APIs.
                        </span>
                </div>



            </div>

        </div>


    </div>



</div>

<section class="bg-gray-100 flex" style="height: 500px;">

    <div class="w-1/3 hidden lg:block bg-indigo-200 relative">
        <div class="absolute flex justify-end overflow-hidden items-center top-0 bottom-0 w-full -right-16">

            <img src="/images/card.png" class="w-96 shadow-lg rounded-md" />

        </div>
    </div>

    <div class="w-2/3 px-10 lg:px-44 flex flex-none flex-col justify-center flex-center">

        <h3 class="text-gray-400 my-2">THE JAVOLIN DIGITAL CARD </h3>
        <h2 class="font-bold text-2xl mb-2">Diaspora Digital Bank</h2>
        <p class="flex-none font-light text-sm my-2">
            Flexible financial product that’s the intersection of financial services. Earn interest on deposits, remit funds to other, buy products and services, available in multiple currencies
            Living abroad but still desire banking relationships and products from abroad. We facilitate the account opening process and applications for financial products and services from bank on the continent of Africa in multiple countries.

        </p>


    </div>

</section>

<section class="p-10 lg:px-32 py-20" style="background: #F9F9F9">

    <div class="flex flex-col justify-center items-center">
        <h4 class="text-sm" style="color: gray">WE ARE TRUSTED BY</h4>
        <h2 class="font-bold text-3xl">Our partners</h2>
    </div>


    <div class="flex flex-col mt-10">

        <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-5 gap-4 partner-items">

            <div class="flex justify-center">
                <img src="images/ecobank.png" style="height: 63px;"/>
            </div>

            <div class="flex justify-center">
                <img src="images/uba.png" style="height: 85px;"/>
            </div>

            <div class="flex justify-center">
                <img src="images/appruve.png" style="height: 73px;"/>
            </div>

            <div class="flex justify-center">
                <img src="images/zenith.png" class="hover:h-10" style="height: 100px;"/>
            </div>

            <div class="flex justify-center">
                <img src="images/e-transactions.png" style="height: 73px;"/>
            </div>


            <div class="hidden xl:block"></div>
            <div class="flex justify-center">
                <img src="images/integral.png" style="height: 51px;"/>
            </div>

            <div class="flex justify-center">
                <img src="images/lexis.png" style="height: 68px;"/>
            </div>

            <div class="flex justify-center">
                <img src="images/fireblocks.png" style="height: 69px;"/>
            </div>

            <div></div>




        </div>



    </div>



</section>

{{>community}}

<section class="p-10 lg:p-32">


    <div>
        <h2 class="font-bold text-2xl">Latest news on our blog</h2>
    </div>
    <span class="text-sm text-black">
                Et ornare leo eu eget scelerisque id. Integer libero ipsum quis lorem sed <br>sed. Elementum.
            </span>


    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-5">

        <div class="rounded-xl relative">
            <img src="images/news-01.png" class="h-full w-full object-cover" />

            <div class="absolute bottom-5 p-3 shadow-xl flex flex-col bg-white rounded-xl left-5 right-5">
                <h2 class="font-bold text-lg text-gray-700">Javolin set to launch on April 6, 2022</h2>
                <p class="text-sm font-light my-1 text-gray-500">
                    Vestibulum rhoncus nunc nisl nibh vulputate vel. Fringilla nec porta
                    quis eget euismod scelerisque urna, sit ultrices. Massa turpis convallis
                </p>

                <div class="flex items-center mt-1">
                    <span class="text-xs font-bold"> Read More </span>
                    <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>
                </div>

            </div>
        </div>
        <div class="rounded-xl relative">
            <img src="images/news-02.png" class="h-full w-full object-cover" />

            <div class="absolute bottom-5 p-3 shadow-xl flex flex-col bg-white rounded-xl left-5 right-5">
                <h2 class="font-bold text-lg text-gray-700">Javolin partners with ecobank on diaspora loans</h2>
                <p class="text-sm font-light my-1 text-gray-500">
                    Vestibulum rhoncus nunc nisl nibh vulputate vel. Fringilla nec porta
                    quis eget euismod scelerisque urna, sit ultrices. Massa turpis convallis
                </p>

                <div class="flex items-center mt-1">
                    <span class="text-xs font-bold"> Read More </span>
                    <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>
                </div>

            </div>
        </div>
        <div class="rounded-xl relative">
            <img src="images/news-03.png" class="h-full w-full object-cover" />

            <div class="absolute bottom-5 p-3 shadow-xl flex flex-col bg-white rounded-xl left-5 right-5">
                <h2 class="font-bold text-lg text-gray-700">Javolin secured cards got you</h2>
                <p class="text-sm font-light my-1 text-gray-500">
                    Vestibulum rhoncus nunc nisl nibh vulputate vel. Fringilla nec porta
                    quis eget euismod scelerisque urna, sit ultrices. Massa turpis convallis
                </p>

                <div class="flex items-center mt-1">
                    <span class="text-xs font-bold"> Read More </span>
                    <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>
                </div>

            </div>
        </div>


    </div>

</section>