    <section style="height: 100vh;" class="relative">
            <div  class="absolute top-0 w-full h-full" >
                <div id="myHero" class="w-full h-full ZoomOut bg-cover">

                </div>
            </div>
        <div class="absolute top-0 left-0 right-0 bottom-0 z-10" style="background: linear-gradient(90.18deg, #0032A0 0.14%, rgba(0, 50, 160, 0.7) 59.23%, rgba(0, 50, 160, 0) 124.53%);">

        </div>

    <div class="flex absolute top-0 left-0 flex-col text-white justify-center z-20 h-full mx-10 lg:mx-24 xl:w-5/12 xl:mt-16">
         <h3 id="heading-module" class="text-green-600 font-bold my-1 text-3xl"></h3>
        <h2 id="heading" class="font-black leading-tight" style="font-size: 49px;">
            
        </h2>

        <span id="heading-content" class="my-6 text-gray-200 text-2xl font-light">
        </span>

        <a href="/solutions/government" id="industryLink">
        <div class="flex flex-row rounded-full py-4 px-8 w-max text-[#0032A0] bg-white justify-center items-center mt-8 cursor-pointer">
             <div style="font-weight: bold;" class="mr-2 text-bold">
                Learn more
            </div>
        </div>
        </a>
    </div>
</section>


<section class="p-4 flex flex-col lg:flex-row lg:px-24 py-20  bg-[#BAD2FD]" >
    <div class="grid lg:grid-cols-2 md:grid-cols-2 justify-center items-center">
        
        <div class="fadeLeft animation-element">
            <img src="/images/value.png" alt="african map"/>
        </div>
        <div class="slide fadeRight animation-element">
            <h2 class="text-[56px] text-[#000B6B] font-bold">
                The Value We Deliver
            </h2>
            <p class="text-[28px] text-[28px] text-[#3B404A]">
Javolin is a financial services technology company providing services and products through our digital platform and mobile and web-based applications for Businesses, Banks, Government Entities, and Consumers            </p>
            <a href="/about/company">
            <div class="flex flex-row rounded-full py-4 px-8 w-max bg-[#0032A0] text-white justify-center items-center mt-8 cursor-pointer">
             <div class="mr-2">
                More about us
            </div>
                <div>
                    <img src="/images/ArrowSquareOut.svg"/>
                </div>
            </div>
            </a>
        </div>
    </div>
   
   
</section>

<section id="solutions" class="p-10 flex flex-col justify-center  items-center lg:flex-row lg:px-24 py-20" style="background: url('/images/bg_section.png') no-repeat; background-size: cover; background-attachment: fixed;">
    <div class="flex flex-col justify-center  items-center">
        <div class="text-center w-full text-white  flex flex-col justify-center items-center">
            <h1 class="text-4xl font-bold my-6">
                Our Solutions
            </h1>
            <p class="text-lg">
                Our customizable solutions empower broader participation across borders for our clients.
            </p>
        </div>
        <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-8 my-12 justify-center">
            <div class="flex flex-col p-4 bg-white rounded-3xl fadeLeft animation-element">
                <div class="border border-green-600 w-20 h-20 p-4 rounded-full">
                    <img src="/images/icons/payment.gif" alt="icon payment" />
                </div>
                <div class="text-[#000C26] font-bold text-xl py-6">
                    Digital Payments & Remmitances
                </div>
                <div class="text-[#5D6066] pb-6">
                    We facilitate cross-border remittance and foreign exchange settlement services.


                </div>

                <div class="flex mt-16">
                    <div
                        class="flex text-center flex-row rounded-full  w-max bg-white justify-center items-center mt-8 cursor-pointer">
                        <a href="/solutions/digital-payments">
                
                        <div style="font-weight: bold;" class="mr-2 text-[#0032A0] text-lg ">
                            Learn More
                        </div>
                        </a>
                        
                            <div>
                                <img src="/images/icons/ArrowSquareOutBlue.svg" />
                            </div>
                    </div>
                </div>

                

            </div>
            <div class="flex flex-col p-4 bg-white rounded-3xl fadeLeft animation-element">
                <div class="border border-green-600 w-20 h-20 p-4 rounded-full">
                    <img src="/images/icons/api.gif" alt="icon payment" />
                </div>
                <div class="text-[#000C26] font-bold text-xl py-6">
                    Digital Infrastructure & Products
                </div>
                <div class="text-[#5D6066] pb-6">
                    We provide an integrated digital infrastructure for customers that include web and mobile-based applications, a secure Cloud-based platform for storing data, and distinct proprietary APIs.
                </div>
            <div class="flex">
                <div
                    class="flex text-center flex-row rounded-full  w-max bg-white justify-center items-center mt-8 cursor-pointer">
            
                    <a href="/solutions/digital-infrastructure">
                    <div style="font-weight: bold;" class="mr-2 text-[#0032A0] text-lg ">
                            Learn More
                        </div>
                        </a>
                        
                            <div>
                                <img src="/images/icons/ArrowSquareOutBlue.svg" />
                            </div>
                </div>
            </div>

            </div>
            <div class="flex flex-col p-4 bg-white rounded-3xl fadeRight animation-element">
                <div class="border border-green-600 w-20 h-20 p-4 rounded-full">
                    <img src="/images/icons/exchange.gif" alt="icon payment" />
                </div>
                <div class="text-[#000C26] font-bold text-xl py-6">
                    Foreign Exchange
                </div>
                <div class="text-[#5D6066] pb-6">
                Through our integrated partner program, we provide our clients access to 145+ currencies delivered to over 200+ countries with up-to-the minute trading information through our foreign exchange platform.
                </div>

                <div class="flex">
                    <div
                        class="flex text-center flex-row rounded-full w-max bg-white justify-center items-center mt-8 cursor-pointer">
                        <a href="/solutions/foreign-exchange">
                
                       <div style="font-weight: bold;" class="mr-2 text-[#0032A0] text-lg ">
                            Learn More
                        </div>
                        </a>
                        
                            <div>
                                <img src="/images/icons/ArrowSquareOutBlue.svg" />
                            </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col p-4 bg-white rounded-3xl fadeRight animation-element">
                <div class="border border-green-600 w-20 h-20 p-4 rounded-full">
                    <img src="/images/icons/Collections.gif" alt="icon payment" />
                </div>
                <div class="text-[#000C26] font-bold text-xl py-6">
                    Collections
                </div>
                <div class="text-[#5D6066] pb-6">
                    We provide payment and collections services for businesses and government entities in areas historically collected with cash. We reduce losses from cash leakage and increase margins on cash collected.
                </div>
                <div class="flex">
                    <div
                        class="flex text-center flex-row rounded-full w-max bg-white justify-center items-center mt-8 cursor-pointer">

                        <a href="/solutions/collections">
                        <div style="font-weight: bold;" class="mr-2 text-[#0032A0] text-lg ">
                            Learn More
                        </div>
                        </a>
                        
                            <div>
                                <img src="/images/icons/ArrowSquareOutBlue.svg" />
                            </div>
                    </div>
                </div>
            </div>
            
            
        </div>
        
    </div>
</section>

{{!-- <section class="flex flex-col justify-center items-center h-64 px-10 lg:px-32">

    <h3 class="py-2 text-lg text-gray-700 font-bold ">
        THE ONE WALLET THAT WORKS FOR YOU
    </h3>

    <h2 class="font-bold text-2xl lg:text-4xl lg:px-20 text-center">
        Connecting consumers, businesses, government entities and banks on the continent of Africa with their customers across the globe
    </h2>


</section> --}}


{{!-- <section style="background: #E9F6E4" class="p-10 xl:p-32 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">

    <div class="flex flex-col">
        <h2 class="font-bold text-xl">Integrated solutions powered by ONE WALLET</h2>
        <p class="text-sm">
            Software solutions empower financial freedom and economic participation by the banked and unbanked sectors.
        </p>
    </div>

    <div class="flex flex-col bg-white px-4 py-8 rounded-xl shadow-lg">
        <h2 class="font-bold text-xl">Digital Infrastructure & Products</h2>
        <p class="text-sm my-2 font-light text-gray-500">
            We provide an integrated digital infrastructure for customers that include web and mobile-based applications,
                        a secure Cloud-based platform for storing data, and distinct proprietary APIs.
                        Our traditional and non-traditional products and services are easily accessible.
        </p>
        <!--        <div class="flex items-center">-->
    <!--            <span class="text-sm"> More </span>-->
        <!--            <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>-->
        <!--        </div>-->
    </div>

    <div class="flex flex-col bg-white px-4 py-8 rounded-xl shadow-lg">
        <h2 class="font-bold text-xl">Digital Payments & Remittances</h2>
        <p class="text-sm my-2 font-light text-gray-500">
            We facilitate cross-border remittance and foreign exchange settlement services.
                        We also provide payment and collections services for businesses and government entities in areas historically collected with cash.
                        We reduce losses from cash leakage and increase margins on cash collected.
        </p>
    </div>
    <div></div>


    <div class="flex flex-col bg-white px-4 py-5 rounded-xl shadow-lg">

        <div class="flex items-center justify-between">
            <h2 class="font-bold text-xl">Javolin Loans</h2>
            <div class="rounded-full p-2 text-white text-xs text-center w-28" style="background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%); box-shadow: 0px 4px 10px rgba(211, 35, 121, 0.3);">
                <span>Coming Soon</span>
            </div>
        </div>

        <p class="text-sm my-2 font-light text-gray-500">
            We facilitate loans via our banking partners in fiat to businesses and small financial institutions. We particularly focus on loans to traders in the import and export markets flowing to and from the continent. Our clients can make payments to each other by transferring fiat
                        from one Jav wallet to the other.
        </p>
    </div>


    <!--
        <div class="flex flex-col bg-white px-4 py-5 rounded-xl shadow-lg">
            <div class="flex items-center justify-between">
                <h2 class="font-bold text-xl">Cryptocurrency products</h2>
    
                <div class="rounded-full p-2 text-white text-xs w-28 text-center"
                     style="background: linear-gradient(90deg, #EC008C 0%, #FC6767 100%); box-shadow: 0px 4px 10px rgba(211, 35, 121, 0.3);">
                    <span>Coming Soon</span>
                </div>
    
            </div>
            <p class="text-sm my-2 font-light text-gray-500">
                Our crypto platform facilitates crypto wallets for our consumer and business clients enabling the purchase, sale,
                and transfer of the most popular cryptocurrencies on the market. Customers are also be able to stake their digital assets for
                highly attractive yields.
    
                <div class="text-xs text-red-300 mt-5">
                    *Available in select markets only
                </div>
            </p>
    
        </div>
        -->
    <div class="flex flex-col bg-white px-4 py-5 rounded-xl shadow-lg">
        <h2 class="font-bold text-xl">Diaspora Digital Bank</h2>
        <p class="text-sm my-2 font-light text-gray-500">
            We connect customers from around the globe with banking products on the continent of Africa.
                        Whether it’s applying for a mortgage to buy a home or a loan to assist a loved one,
                        our API connections facilitate direct access to the underwriters at the bank.
                        Post-closing the Javolin App is used to service the loan by submitting payments directly to the bank.
        </p>
    </div>


</section> --}}


<div id="platform" x-data="{ shown: false }" x-intersect="shown = true" class="p-10 leading-none xl:p-24 relative bg-[#F6F6F6]">


    {{!-- <h4 class="text-sm py-2 text-lg text-gray-700 font-bold" x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="scale-0" x-transition:enter-end="scale-100" style="color: gray">JAVOLIN’S PROPRIETARY PLATFORM</h4> --}}
    <h2 class="mt-0 font-bold text-5xl text-[#000B6B] fadeUp animation-element">Our Platform</h2>
    <p class="text-[24px] text-[#595959] mt-4 leading-[32px]">Advanced Technology across integrated platforms.</p>


    <img style="width: 800px;" class="absolute hidden lg:block bottom-0  right-0 object-right object-contain" src="images/platform.png"/>


    <div class="flex z-10">

        <div class="grid grid-cols-1 md:grid-cols-2 w-3/3 lg:w-2/3 gap-8 mt-10">

            <div class="flex flex-col fadeLeft animation-element">

                <div class="flex-none w-12 h-12 rounded-full flex justify-center items-center" style="background: #E1E7F6">
                    <img src="/images/api.png" class="w-6 h-6 i"/>
                </div>

                <div class="flex flex-col">
                    <h2 class="font-bold text-[22px] py-4">Proprietory APIs</h2>
                    <span class="text-[18px] leading-[23px] text-gray-500 font-light">
                        Javolin provides application programming interfaces (API) that are secure to our customers who want to build on top of our system. Developers who want to leverage the Javolin technology can get proprietary access to our APIs.
                    </span>
                </div>
            </div>
            {{!-- <div class="flex flex-col fadeRight animation-element">

                <div class="flex-none w-12 h-12 rounded-full flex justify-center items-center" style="background: #E1E7F6">
                    <img src="/images/cloud_icon.png" class="w-6 h-6 i"/>
                </div>

                <div class="flex flex-col">
                    <h2 class="font-bold text-4xl py-4">White Label Platform</h2>
                    <span class="text-[18px] leading-[23px] text-gray-500 font-light">
                        Javolin provides a Business to Business to Consumer (B2B2C) solution that is easily accessible.
                                                With access to the internet, all our customers can enjoy the benefit of our products and services.
                                                We provide a multi-platform service. Our customers can access the app from anywhere on their mobile phones,
                                                personal computers, iPads, and tablets. All data is stored safely using Secured Cloud Services.
                    </span>
                </div>


            </div> --}}
            <div class="flex flex-col fadeRight animation-element">

                <div class="flex-none w-12 h-12 rounded-full flex justify-center items-center" style="background: #E1E7F6">
                    <img src="/images/api.png" class="w-6 h-6 i"/>
                </div>

                <div class="flex flex-col">
                    <h2 class="font-bold text-[22px] py-4">Municipal & Business Collection</h2>
                    <span class="text-[18px] leading-[23px] text-gray-500 font-light">
Our platform facilitates collections in all revenue areas and provides supportive analytics to optimize the process. Via our proprietary APIs, we integrate with government entities, mobile carriers and banking partners to reduce areas of fraud and collection leakage. The digital wallets offered to our government partners integrates into current systems, facilitating access and insight.                    </span>
                </div>
            </div>
            <div class="flex flex-col fadeLeft animation-element">

                <div class="flex-none w-12 h-12 rounded-full flex justify-center items-center" style="background: #E1E7F6">
                    <img src="/images/api.png" class="w-6 h-6 i"/>
                </div>

                <div class="flex flex-col">
                    <h2 class="font-bold text-[22px] py-4">Payments & Settlements</h2>
                    <span class="text-[18px] leading-[23px] text-gray-500 font-light">
                        Odio ut id amet integer id risus. Nibh orci nisl id lacinia nunc pellentesque purus viverra. Proin porttitor at vel porttitor vel montes. Habitant scelerisque adipiscing vestibulum ac eros dui placerat tortor. Posuere at vel arcu odio sem non id lobortis pellentesque. Magnis mollis vitae tincidunt ac risus tortor diam penatibus dapibus. Feugiat erat etiam sem.
                    </span>
                </div>


            </div>

        </div>


    </div>
    <!--
    <div class="flex text-center flex-row rounded-full py-4 px-8 w-max bg-[#0032A0] text-white justify-center items-center mt-8 cursor-pointer">
             <div style="font-weight: bold;" class="mr-2">
                learn more
            </div>
                <div>
                    <img src="/images/ArrowSquareOut.svg"/>
                </div>
            </div>
            -->


</div>

<section class="flex flex-col lg:flex-row  relative" >

    <div class="lg:grid grid-cols-2">

        <div class="relative">
            <video autoplay muted loop id="myVideo" class="absolute top-0 w-full h-full object-cover">
                <source src="/videos/Forex_globe.mov" type="video/mp4">
            </video>
            <div class="absolute left-0 right-0 w-full h-full" style="background: rgba(0, 11, 107, 0.7);;">
            </div>
        </div>

         <div class="flex text-left px-2  justify-center items-center   z-20 lg:px-24 bg-[#E2ECFE]">
        <div class="slide fadeRight animation-element flex text-left  flex-col ">
            
            <h2 class="text-[56px] text-[#000B6B] font-bold">
                Foreign Exchange
            </h2>
            <div class="mx-auto">
                    <p class="text-[28px] text-[28px] text-[#3B404A]">
                        Through our integrated partner program,
                         we provide our clients access to 145+ 
                         currencies delivered to over 200+ countries 
                         with up-to-the minute trading information 
                         through our foreign exchange platform.
                    </p>
            </div>
            
            <a href="/solutions/foreign-exchange" >
            <div class="flex text-center flex-row rounded-full py-4 px-8 w-max bg-[#0032A0] text-white justify-center items-center mt-8 cursor-pointer">
             <div style="font-weight: bold;" class="mr-2">
                learn more
            </div>
                <div>
                    <img src="/images/ArrowSquareOut.svg"/>
                </div>
            </div>
            </a>
            
        </div>
        <div  class="fadeLeft animation-element min-h-[800px]">
            {{!-- <img src="/images/AfricaGraphic.png" alt="african map"/> --}}
        </div>
    </div>
    </div>
    
    

   

</section>


{{!-- <section x-data="{ shown: false }" x-intersect="shown = true" class="bg-gray-100 flex" style="height: 500px;">

    <div class="w-1/3 hidden lg:block bg-indigo-200 relative">
        <div class="absolute flex justify-end overflow-hidden items-center top-0 bottom-0 w-full -right-16">

            <img x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0" src="/images/javolin_card.png" class="w-96 shadow-lg rounded-md"/>

        </div>
    </div>

    <div class="w-2/3 px-10 lg:px-44 flex flex-none flex-col justify-center flex-center">

        <h3 class="py-2 text-lg text-gray-700"></h3>
        <h2 class="font-bold text-2xl mb-2">Our Javolin VISA Card</h2>
        <p class="flex-none font-light text-sm my-2">
            The Javolin One Pre-Paid Visa card is a virtual and physical card. It leverages the financial and technology capabilities of
                        both the Javolin and Visa brands, creating a financial product that’s useful for both businesses and consumers.
                        The Jav Business Card is issued exclusively to those businesses on the continent of Africa or
                        international companies doing business with importers and exporters on the Continent.
                        The Jav Consumer Card can be used to save, remit or purchase products across the globe.
        </p>


    </div>

</section> --}}


{{!-- {{>community}} --}}


{{!-- <section class="p-10 flex flex-col lg:flex-row lg:px-32 py-20" style=" background: url('/images/pattern.png') ">
    <div class="flex lg:w-1/4 flex-col justify-center">
        <h4 class="text-sm" style="color: gray">WE ARE TRUSTED BY</h4>
        <h2 class="font-bold text-3xl">Our partners around the world</h2>
    </div>
    <div class="flex lg:w-3/4 flex-col mt-10">
        <div class="grid grid-cols-2 md:grid-cols-3 gap-8 lg:gap-16  xl:grid-cols-3 partner-items">
            <div class="flex items-center justify-center lg:ml-32 rounded-2xl shadow-lg border bg-white" style="height: 119px; width: 188px">
                <img src="/images/partners/zenith.png" style="width: 94px; height: 94px;"/>
            </div>
            <div class="flex items-center justify-center lg:ml-32 rounded-2xl shadow-lg border bg-white" style="height: 119px; width: 188px">
                <img src="/images/partners/ecobank.png" style="width: 130px; height: 63px;"/>
            </div>
            <div class="flex items-center justify-center lg:ml-32 rounded-2xl shadow-lg border bg-white" style="height: 119px; width: 188px">
                <img src="/images/partners/integral.png" style="width: 156px; height: 39px;"/>
            </div>

            <div class="flex items-center justify-center lg:ml-20 rounded-2xl shadow-lg border bg-white" style="height: 119px; width: 188px">
                <img src="/images/partners/equifax.png" style="width: 145px; height: 60px;"/>
            </div>
            <div class="flex items-center justify-center lg:ml-20 rounded-2xl shadow-lg border bg-white" style="height: 119px; width: 188px">
                <img src="/images/partners/corpay.png" style="width: 151px; height: 44px;"/>
            </div>
            

            <div class="flex items-center justify-center lg:ml-20 rounded-2xl shadow-lg border bg-white" style=" height: 119px; width: 188px">
                <img src="/images/partners/e-transactions.png" style="width: 152px; height: 57px;"/>
            </div>


            <div class="flex items-center justify-center lg:ml-10 rounded-2xl shadow-lg border bg-white" style=" height: 119px; width: 188px">
                <img src="/images/partners/lexus-nexis.png" style="width: 169px; height: 46px;"/>
            </div>

            <div class="flex items-center justify-center lg:ml-10 rounded-2xl shadow-lg border bg-white" style="height: 119px; width: 188px">
                <img src="/images/partners/uba.png" style="width: 155px; height: 85px;"/>
            </div>
        </div>
    </div>

</section> --}}
<section class="p-10 flex flex-col lg:flex-row lg:px-24 py-20 mt-6" >
    <div class="grid lg:grid-cols-2 md:grid-cols-2 justify-center items-center">
        
        <div class="fadeLeft animation-element -z-10">
             <video loop autoplay muted>
                <source src="/videos/vid_app.mp4" type="video/mp4">
            </video>
        </div>
        <div class="fadeRight animation-element">
            <h2 class="text-[56px] text-[#000B6B] font-bold">
                Integrated Solutions Powered by One Wallet
            </h2>
            <p class="text-[28px] text-[28px]">Our Wallet based system allows a user-friendly interactive process that’s accessible on iOS and Android devices, via USSD and our website. 
            </p>
        </div>
    </div>
   
</section>

<section x-data="{ shown: false }" x-intersect="shown = true" class="p-10 flex flex-col lg:flex-row lg:px-24 py-20" style="background: url('/images/partners_bg.png') no-repeat; background-size: cover; background-attachment: fixed;">
    <div class="w-full ">
        <div class="flex flex-col justify-center items-center fadeUp animation-element">
            <div class="text-[42px] font-bold text-center text-[#000B6B]">
                Our Partners Around the World
            </div>
            <div class="text-[24px] text-center text-center text-[#3B404A]">
                Software Solutions empower financial participation by the banked and the unbanked sector
            </div>
        </div>

            <div class="w-full" >
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10 mt-10">
                   

                    <div x-show="shown" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                            <div class="bg-white w-32 h-32 lg:w-52 lg:h-52  rounded-full flex flex-col justify-center items-center p-4">
                                <img class="relative" src="/images/partners/corpay.png" class="p-6 object-fit"/>
                            </div>
                    </div>
                    <div x-show="shown" x-transition:enter="transition ease-out duration-3000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                            <div class="bg-white w-32 h-32 lg:w-52 lg:h-52 rounded-full flex flex-col justify-center items-center">
                                <img src="/images/partners/uba_logo.png" class="p-4 object-fit"/>
                            </div>
                    </div>
                    <div x-show="shown" x-transition:enter="transition ease-out duration-3000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                        <div class="bg-white w-32 h-32 lg:w-52 lg:h-52 rounded-full flex flex-col justify-center items-center">
                            <img src="/images/partners/zenith.png" class="p-12 object-fit" />
                        </div>
                    </div>
                    <div x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center ">
                            <div class="bg-white w-32 h-32 lg:w-52 lg:h-52 rounded-full flex flex-col justify-center items-center">
                                <img src="/images/partners/paps.png"  class="p-4 object-fit"//>
                            </div>
                    </div>
                    <div x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center ">
                        <div class="bg-white w-32 h-32 lg:w-52 lg:h-52 rounded-full flex flex-col justify-center items-center p-4">
                            <img src="/images/partners/e-transactions.png" class="object-fit"//>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-10 mt-10 justify-center">
                    <div x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                            <div class="bg-white w-32 h-32 lg:w-52 lg:h-52 rounded-full flex flex-col justify-center items-center">
                                <img src="/images/partners/google_logo.png" class="object-fit"//>
                            </div>
                        </div>
                    <div x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                            <div class="bg-white w-32 h-32 lg:w-52 lg:h-52  rounded-full flex flex-col justify-center items-center px-4">
                                <img src="/images/partners/integral.png" class="object-fit"//>
                            </div>
                    </div>
                    <div x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                            <div class="bg-white w-32 h-32 lg:w-52 lg:h-52  rounded-full flex flex-col justify-center items-center">
                            <img src="/images/partners/multi_logo.svg" class="object-fit"//>
                        </div>
                        </div>
                    <div x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                            <div class="bg-white w-32 h-32 lg:w-52 lg:h-52  rounded-full flex flex-col justify-center items-center">
                            <img src="/images/partners/absa_logo.png" class="object-fit" />
                    </div>
                    </div>
                    <div x-show="shown" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="opacity-100 scale-0"
                        x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                        <div class="bg-white w-32 h-32 lg:w-52 lg:h-52  rounded-full flex flex-col justify-center items-center p-6">
                            <img class="relative" src="/images/monex_logo_head_b.png" class="object-fit" />
                        </div>
                    </div>
                </div>
            </div>
            


                {{!-- <div class="grid  mt-0 grid-cols-1 gap-6 lg:grid-cols-2 md:grid-cols-2 justify-center items-center lg:-mt-12 md:mt-0 ">
                    <div x-show="shown" x-transition:enter="transition ease-out duration-3000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                        <div class="bg-white w-64 h-64  rounded-full flex flex-col justify-center items-center">
                            <img src="/images/partners/uba_logo.png" style="width: 130px; height: 63px;"/>
                        </div>
                    </div>
                    <div x-show="shown" x-transition:enter="transition ease-out duration-3000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                        <div class="bg-white w-64 h-64 rounded-full flex flex-col justify-center items-center">
                            <img src="/images/partners/zenith.png" class="p-12" style="width: 100%; height: 100%;"/>
                        </div>
                    </div>
                </div> --}}

                {{!-- <div class="grid grid-cols-1 gap-6 grid-x-8 justify-center items-center md:grid-cols-2 md:gap-10 lg:grid-cols-4 lg:gap-10">
                    <div x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center ">
                        <div class="bg-white w-64 h-64  rounded-full flex flex-col justify-center items-center">
                            <img src="/images/partners/paps.png"  style="width: 130px; height: 63px;"/>
                        </div>
                    </div>
                    <div x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center ">
                        <div class="bg-white w-64 h-64 rounded-full flex flex-col justify-center items-center">
                            <img src="/images/partners/e-transactions.png" style="height: 63px;"/>
                        </div>
                    </div>
                     <div x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                        <div class="bg-white w-64 h-64  rounded-full flex flex-col justify-center items-center">
                            <img src="/images/partners/google_logo.png"/>
                        </div>
                    </div>
                    <div x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                        <div class="bg-white w-64 h-64  rounded-full flex flex-col justify-center items-center">
                            <img src="/images/partners/integral.png" style=" height: 50px;"/>
                        </div>
                    </div>
                </div>

                 <div class="grid  mt-0 grid-cols-1 gap-6 lg:grid-cols-2 md:grid-cols-2 justify-center items-center  ">
                    <div x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                        <div class="bg-white w-64 h-64  rounded-full flex flex-col justify-center items-center">
                        <img src="/images/partners/multi_logo.svg" />
                    </div>
                    </div>
                    <div x-show="shown" x-transition:enter="transition ease-out duration-1000" x-transition:enter-start="opacity-100 scale-0" x-transition:enter-end="opacity-100 scale-100" class="grid justify-center items-center">
                         <div class="bg-white w-64 h-64  rounded-full flex flex-col justify-center items-center">
                        <img src="/images/partners/absa_logo.png" />
                    </div>
                    </div>
                </div> --}}

                
            
        </div>
    </div>
</section>
<section id="news" class="p-10 lg:p-32">

    <div class="flex justify-center flex-col items-center fadeDown animation-element">
        <div>
            <h2 class="text-[56px] text-center text-[#000B6B] font-bold">In The News</h2>
        </div>
        <div class="text-center text-lg max-w-[800px] text-gray-600">
            Read the latest news & stories about Javolin and what’s happening in the fintech industry.
        </div>
    </div>

    <div class="grid lg:grid-cols-2 gap-4  md:grid-cols-1 gap-x-24 ">
        <div class="fadeLeft animation-element" >
            <div class="mt-6 lg:py-12 md:py-10">
                <div class="h-[300px] lg:h-[300px] md:h-[300px] rounded-t-2xl bg-[url('/images/blog/podcast.jpg')] bg-cover"></div>
                <div class="py-16 px-12 bg-[#000638] text-white relative rounded-b-2xl">
                    <a href="/blog/developing-fintech-in-africa-with-carl-powell" class="h-24 w-24 rounded-full bg-white absolute right-8 -top-12 flex justify-center items-center">
                        <img src="/images/ArrowUpRight.svg"/>
                    </a>
                    <div class="font-bold text-[2em] text-left">
                        Developing Fintech in Africa with Carl Powell
                    </div>
                    <div class="text-[21px] text-left ">
                        Hosts Kevin Plunkett and Lenna Turner talk to Carl about how he went from small-town Mississippi, to Harvard Business
                        School, to International businessman, developing fintech in western and southern Africa.
                    </div>
                </div>
            </div>

        </div>

        <div class="py-12 fadeRight animation-element mt-2">
            <div class=" border-[#AAAEB6]">
                <a target="_blank" href="https://www.myjoyonline.com/local-government-service-partners-javolin-group-to-plug-5-6-billion-tax-loophole/">
                <div class="text-[28px] text-[#274DD2] text-left">
                    Local Government Service partners with Javolin Group to plug ₵5.6 billion tax loophole
                </div>
                <div class="text-[24px] text-left text-[#5D6066]">
                    An estimated ¢5.6 billion is lost annually from the revenue collection kitty of Metropolitan, Municipal and District Assemblies (MMDAs). 
                </div>
                <div target="_blank" href="https://www.myjoyonline.com/local-government-service-partners-javolin-group-to-plug-5-6-billion-tax-loophole/" class="flex flex-row py-4 justify-end">
                    <div style="font-weight: bold;" class="text-[20px] text-[#0032A0] mr-4">
                        Read More
                    </div>
                    
                    <div class="flex rounded-full w-9 h-9 justify-center items-center bg-[#0032A0]">
                        <img src="/images/ArrowSquareOut.svg"/>
                    </div>
                    
                </div>
                </a>
            </div>
            <div class="mt-8 border-[#AAAEB6]">
                <a href="/blog/javolin-opens-new-office-in-dakar-senegal">
                    <div class="text-[28px] text-[#B5490D] text-left">
                    Javolin Opens New Office In Dakar, Senegal
                </div>
                <div class="text-[24px] text-left text-[#5D6066]">
                    We are expanding on the continent of Africa with a new office in Dakar, Senegal to serve the digital banking needs of the French speaking West Africa. 
                </div>
                <div class="flex flex-row py-4 justify-end">
                    <div style="font-weight: bold;" class="text-[20px] text-[#0032A0] mr-4">
                        Read More
                    </div>
                    
                    <div class="flex rounded-full w-9 h-9 justify-center items-center bg-[#0032A0]">
                        <img src="/images/ArrowSquareOut.svg"/>
                    </div>
                </div>
                </a>
            </div>
            
            <div class="flex justify-end">
            <div class="flex text-center flex-row rounded-full py-4 px-8 w-max bg-[#0032A0] text-white justify-center items-center mt-8 cursor-pointer">
             <div class="mr-2">
                <a href="/blog/javolin-opens-new-office-in-dakar-senegal">
                Read all news
                </a>
                
            </div>
                <div>
                    <img src="/images/ArrowSquareOut.svg"/>
                </div>
        </div>
        </div>
        </div>
        
        
    </div>

</section>
