<section id="heroSec" style="height: 100vh; position: relative;">

    <!-- Video for hero background -->
    <video id="heroVideo" class="absolute top-0 w-screen h-screen object-cover" autoplay muted loop
        style="z-index: -1;">
        <source id="videoSource" src="/images/hero_vid.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Hero overlay -->
    <div id="hero-overlay" class="absolute top-0 left-0 right-0 bottom-0"
        style="background: rgba(0, 11, 107, 0.60); z-index: 0;">
    </div>

    <!-- Hero text content -->
    <div id="textSection"
        class="z-10 w-full absolute text-center text-white top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <!-- Your hero text content here -->
    </div>

</section>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const texts = [
            { heading: "Our Financial Institutions Trust Us", video: "/images/hero_vid.mp4" },
            { heading: "Upgrade your business.", video: "/images/hero_forex.mp4" },
            { heading: "Empower Your Agri-Business", video: "/images/hero_agri.mp4" }
        ];

        const textSection = document.getElementById('textSection');
        const videoSource = document.getElementById('videoSource');
        const heroVideo = document.getElementById('heroVideo');
        let index = 0;

        function displayNextText() {
            const text = texts[index];
            textSection.innerHTML = `
        <div class="imageTextHero">
            <div style="width: 100%; text-align: center; color: white; font-size: 76px; font-family: 'Satoshi', sans-serif; font-weight: 900;">${text.heading}</div>
        </div>
        `;
            // Update the video source
            videoSource.src = text.video;
            heroVideo.load(); // Needed to reload the video with new source
            heroVideo.play(); // Ensure the video plays after source change

            index = (index + 1) % texts.length;
        }

        displayNextText();
        setInterval(displayNextText, 5000);
    });
</script>






<style>
    #heroSec {
        height: 100vh;
        position: relative;
        z-index: 2;
        /* Ensures the hero section is above the carousel */
        overflow: hidden;
    }

    .carousel-container {
        position: relative;
        transform: translateY(-100vh) scale(0.5);
        /* Start scaled down and moved up */
        transition: transform 0.5s ease-out;
        /* Smooth transition for both moving and scaling */
        z-index: 1;
        visibility: hidden;
        /* Initially hidden */
        width: 100%;
        /* Full width */
        height: 800px;
        /* Fixed height */
    }

    html {
        scroll-behavior: smooth;
    }
</style>


{{!--
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const heroSec = document.getElementById('heroSec');
        const carousel = document.querySelector('.carousel-container');
        let lastKnownScrollPosition = 0;
        let ticking = false;

        function handleScroll(scrollPos) {
            const heroHeight = heroSec.offsetHeight;
            const scrollFraction = scrollPos / heroHeight;
            const translateY = Math.max(-heroHeight, scrollPos - heroHeight);
            let scale = 0.5 + scrollFraction * 0.5;

            if (scrollPos < heroHeight) {
                carousel.style.transform = `translateY(${translateY}px) scale(${scale})`;
                carousel.style.visibility = 'visible';
            } else {
                carousel.style.transform = 'translateY(0px) scale(1)';
            }
        }

        // Ensure carousel is in place before making it visible
        carousel?.style?.transform = 'translateY(-100vh) scale(0.5)';
        setTimeout(() => {
            carousel.style.visibility = 'visible'; // Only reveal after transform
        }, 50); // Smaller delay to reduce initial flicker

        window.addEventListener('scroll', function () {
            lastKnownScrollPosition = window.pageYOffset || document.documentElement.scrollTop;

            if (!ticking) {
                window.requestAnimationFrame(() => {
                    handleScroll(lastKnownScrollPosition);
                    ticking = false;
                });
                ticking = true;
            }
        });
    });
</script> --}}








<section class="relative py-4 lg:px-24 bg-cover bg-center bg-no-repeat" x-data="carousel()" x-init="init()"
    style="height: 800px; overflow: hidden; background-image: url('/images/new-value-bg.png'); background-attachment: fixed;">
    <!-- Carousel Title -->
    <h2 class="slide fadeRight animation-element"
        style="margin-top: 50px; width: 689px; margin-left: auto; margin-right: auto; text-align: center; color: #000638; font-size: 44px; font-family: 'Satoshi'; font-weight: 700; line-height: 55.20px; word-wrap: break-word;">
        Aliquet tortor pulvinar egestas pellentesque enim pellentesque.
    </h2>
    <!-- Carousel container -->
    <div class="flex justify-center items-center h-full slide fadeRight animation-element"
        style="perspective: 1000px; position: relative; overflow: visible; width: 90%; margin: 0 auto; margin-top: -2rem;">

        <!-- Left navigation arrow with circle -->
        {{{leftArrowSVG}}}

        <!-- Right navigation arrow with circle -->
        {{{ rightArrowSVG }}}

        <!-- Carousel slides -->
        <template x-for="(slide, index) in slides" :key="index">
            <div @click="setActiveSlide(index)" @mouseenter="flipCard(index)" @mouseleave="flipCard(index)"
                class="absolute transition-transform duration-300 ease-in-out cursor-pointer"
                :class="{ 'active': slide.active, 'inactive': !slide.active }" :style="slideStyles(index).style">

                <!-- Card -->
                <div :class="slideStyles(index).class"
                    style="position: relative; padding: 1rem; border-radius: 1rem; margin-top: -6rem; perspective: 1000px;">
                    <div :class="{ 'flip-card-inner': true, 'flipped': slide.flipped }"
                        style="transition: transform 0.8s;">
                        <div class="flip-card-front"
                            style="position: absolute; width: 100%; height: 100%; backface-visibility: hidden;">
                            <img :src="slide.image" class="object-contain" :style="' width: 100%;'" />
                            <!-- Text Label -->
                            <div class="absolute bottom-15 left-0 w-full text-center"
                                style="padding: 1rem; bottom: 3rem;">
                                <span x-text="slide.label" class="text-xl font-bold font-['Satoshi']"></span>
                            </div>
                        </div>
                        <div class="flip-card-back js-tilt bg-blue-800"
                            style="border-radius: 1rem;position: absolute; width: 100%; height: 100%;  color: white; display: flex; align-items: center; justify-content: center; backface-visibility: hidden; transform: rotateY(180deg);">
                            <span class="text-xl items-center text-center">
                                <p>Quam vitae fermentum sit nibh tempus auctor amet. Risus ac venenatis sit cras commodo
                                    integer et. At et et sit non
                                    tortor morbi fusce. Pretium eu congue a ut viverra aliquet.</p>
                            </span>
                        </div>
                    </div>

                    <!-- Arrow -->
                    <div class="arrow-container"
                        style="position: absolute; bottom: 15px; left: 50%; transform: translateX(-50%) rotate(-45deg); transform-origin: center;">
                        <!-- SVG for active card's arrow {{{activeCardArrowSVG}}} -->


                        <!-- SVG for non-active card's arrow <template x-if="!slide.active">
                            <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="19" cy="19" r="19" fill="#E0EAFF" />
                                <path
                                    d="M24.6204 19.4001L19.5311 24.4893C19.425 24.5955 19.2811 24.6551 19.131 24.6551C18.981 24.6551 18.8371 24.5955 18.7309 24.4893C18.6248 24.3832 18.5652 24.2393 18.5652 24.0893C18.5652 23.9392 18.6248 23.7953 18.7309 23.6892L22.8554 19.5655H11.7798C11.6299 19.5655 11.486 19.5059 11.38 19.3998C11.2739 19.2938 11.2144 19.15 11.2144 18.9999C11.2144 18.85 11.2739 18.7062 11.38 18.6001C11.486 18.4941 11.6299 18.4345 11.7798 18.4345H22.8554L18.7309 14.3108C18.6248 14.2047 18.5652 14.0608 18.5652 13.9107C18.5652 13.7606 18.6248 13.6167 18.7309 13.5106C18.8371 13.4045 18.981 13.3449 19.131 13.3449C19.2811 13.3449 19.425 13.4045 19.5311 13.5106L24.6204 18.5999C24.673 18.6524 24.7147 18.7148 24.7431 18.7834C24.7716 18.8521 24.7862 18.9257 24.7862 18.9999C24.7862 19.0742 24.7716 19.1478 24.7431 19.2165C24.7147 19.2851 24.673 19.3475 24.6204 19.4001Z"
                                    fill="#0032A0" />
                            </svg>
                        </template> -->

                    </div>
                </div>
            </div>
        </template>

    </div>

    <!-- Navigation Dots -->
    <div class="absolute bottom-16 left-1/2 transform -translate-x-1/2 flex space-x-2">
        <template x-for="(slide, index) in slides" :key="index">
            <div @click="setActiveSlide(index)" class="cursor-pointer">
                <!-- Active dot with slight raise -->
                <div x-show="slide.active" class="transform -translate-y-0.5">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8" cy="8" r="8" fill="#6CC24A" />
                    </svg>
                </div>
                <!-- Non-active dot -->
                <div x-show="!slide.active">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6" cy="6" r="6" fill="#CAD9C5" />
                    </svg>
                </div>
            </div>
        </template>
    </div>
</section>

<script>
    function carousel() {
        return {
            slides: [
                { label: 'Javolin Finance', image: '/images/javolin_finance.png', active: false, flipped: false },
                { label: 'Javolin Tech', image: '/images/javolin_tech.png', active: false, flipped: false },
                { label: 'Logistics & Infrastructure', image: '/images/middle.png', active: true, flipped: false },
                { label: 'FX & Payments', image: '/images/fx.png', active: false, flipped: false },
                { label: 'Javolin Commodities', image: '/images/commodities.png', active: false, flipped: false },
            ],
            activeSlide: 2, // Initially active slide

            init() {
                this.arrangeSlides();
            },
            setActiveSlide(index) {
                this.activeSlide = index;
                this.arrangeSlides();
            },
            nextSlide() {
                this.setActiveSlide((this.activeSlide + 1) % this.slides.length);
            },
            previousSlide() {
                this.setActiveSlide((this.activeSlide - 1 + this.slides.length) % this.slides.length);
            },
            arrangeSlides() {
                this.slides.forEach((slide, index) => {
                    slide.active = index === this.activeSlide;
                    slide.flipped = false; // Reset flipped state when arranging slides
                });
            },
            flipCard(index) {
                if (this.slides[index].active) {
                    this.slides[index].flipped = !this.slides[index].flipped;

                    // Ensure the DOM updates are processed before initializing or destroying tilt
                    /**this.$nextTick(() => {
                        if (this.slides[index].flipped) {
                            // Initialize tilt on the flipped back of the card
                            $(`.flip-card-inner[data-index="${index}"] .flip-card-back`)({
                                scale: 1.2,  // Scale the card back on hover
                                maxTilt: 10,
                                perspective: 1000,   // Transform perspective, the lower the more extreme the tilt gets.
                                easing: "cubic-bezier(.03,.98,.52,.99)",  // Easing on enter/exit.
                                speed: 300,    // Speed of the enter/exit transition.
                                transition: true,   // Set a transition on enter/exit.
                                reset: true    // If the tilt effect has to be reset on exit.
                            });
                        } else {
                            // Destroy tilt instance when card is flipped back
                            $(`.flip-card-inner[data-index="${index}"] .flip-card-back`).destroy();
                        }
                    });**/
                }
            },


            slideStyles(index) {
                const numSlides = this.slides.length;
                const distance = Math.abs(index - this.activeSlide);
                let zIndex = numSlides - distance;
                let scale = 1.099 - 0.095 * distance; // Each non-active card is slightly smaller than the one before it
                let textColor = index === this.activeSlide ? 'text-white' : 'text-gray-800';

                if (index === this.activeSlide) {
                    scale = 1.1;
                }

                let opacity = index === this.activeSlide ? 1.2 : 1.1;

                return {
                    style: `transform: scale(${scale}); z-index: ${zIndex}; opacity: ${opacity}; transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1), opacity 1s ease-in; position: absolute; left: ${index * 18.5}%;`,
                    class: `${index === this.activeSlide ? 'w-80 bg-blue-800 ' + textColor : 'w-72 bg-white border border-blue-800 ' + textColor} h-96 rounded-2xl overflow-hidden shadow-lg relative`
                };
            }
        };
    }

</script>

<style>
    .flip-card-inner {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
    }

    .flip-card-inner.flipped {
        transform: rotateY(180deg);
    }

    .flip-card-front,
    .flip-card-back {
        backface-visibility: hidden;
    }
</style>






<style>
    /* Add this to your <style> tag or CSS file */
    .card-hover-content {
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        transform: translateY(100%);
        opacity: 0;
    }

    .card:hover .card-hover-content {
        transform: translateY(0%);
        opacity: 1;
    }

    .card-title {
        transition: opacity 0.5s ease-in-out;
    }

    .card:hover .card-title {
        opacity: 0;
    }
</style>



<section x-data="{ shown: true }" x-intersect="shown = true"
    class="relative flex justify-center items-center p-[59px] min-h-screen" style="background: #6CC24A">
    <!-- Video Background Container -->
    <div class="w-[1247px] h-[696px] relative rounded-58 overflow-hidden flex flex-col justify-start items-start">
        <!-- Video Placeholder (Replace with actual video source) -->
        <video class="absolute inset-0 w-full h-full object-cover" autoplay loop muted>
            <source src="/images/agri-vid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <!-- Overlay Content -->
        <div
            class="mb-10mt-10 w-[631.87px] h-[306.10px] absolute bg-slate-900/60 rounded-20 border-2 border-blue-800 blur-34 p-[34.20px] top-[298px] left-[89px]">
            <div class="flex flex-col justify-start items-start gap-[20.52px]">
                <div class="text-white text-[35.91px] font-black">Agribusiness Trading Platform</div>
                <div class="text-neutral-50/80 text-[20.52px] font-medium">
                    Quam vitae fermentum sit nibh tempus auctor amet. Risus ac venenatis sit cras commodo integer et. At
                    et sit non tortor morbi fusce. Pretium eu congue a ut viverra aliquet.
                </div>
                <div class="relative w-[169.30px] h-[56.43px]">
                    <div
                        class="absolute bg-blue-800/50 rounded-[85.50px] blur-85 w-[147.07px] h-[49.59px] left-[12.83px] top-[6.84px]">
                    </div>

                    <div
                        class="h-12 mb-2 flex text-center flex-row rounded-3xl py-4 px-8 w-44 bg-[#0032A0] text-white justify-center items-center mt-2 cursor-pointer">
                        <div style="font-weight: bold;" class="mr-2">
                            Read more
                        </div>
                        <div>
                            <img src="/images/ArrowSquareOut.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="solutions" class="p-10 flex flex-col justify-center items-center lg:flex-row lg:px-24"
    style="bg-white no-repeat; background-size: cover; background-attachment: fixed;">
    <div class="flex flex-col justify-center items-center">
        <div class="slide fadeLeft animation-element"
            style="text-align: center; color: #0032A0; font-size: 20px; font-family: 'Satoshi', sans-serif; font-weight: 500; letter-spacing: 1.2px;">
            OUR SOLUTION
        </div>

        <div class="slide fadeRight animation-element"
            style="width: 725px; margin: 0 auto; text-align: center; color: #000638; font-size: 44px; font-family: 'Satoshi', sans-serif; font-weight: 700; line-height: 55.2px;">
            Quisque ut lorem aliquam vestibulum enim vel diam hend.
        </div>

        <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-12 my-12 justify-center relative">

            <!-- Foreign Exchange Card -->
            <div class="card slide fadeRight animation-element"
                style="width: 398px; height: 467px; position: relative; box-shadow: 0px 10px 20px rgba(37.73, 40.08, 60.57, 0.30); border-radius: 16px; overflow: hidden">
                <div style="width: 398px; height: 467px; position: absolute; background: #000638"></div>
                <img style="width: 398px; height: 467px; position: absolute" src="/images/forexS.png"
                    alt="Foreign Exchange" />
                <div class="card-title"
                    style="width: 337px; position: absolute; left: 32px; top: 281px; color: white; font-size: 40px; font-family: 'Satoshi', sans-serif; font-weight: 700; word-wrap: break-word">
                    Foreign exchange services
                </div>
                <div class="card-hover-content"
                    style="width: 398px; height: 362px; position: absolute; bottom: 0; background: white;">

                    <div
                        class="absolute bottom-8 right-8 bg-blue-900 rounded-full w-9 h-9 flex items-center justify-center">
                        <!-- Arrow in white -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 19 19" fill="white">
                            <path
                                d="M14.1407 4.52498V11.8781C14.1407 12.0281 14.0811 12.172 13.975 12.2781C13.8689 12.3841 13.7251 12.4437 13.575 12.4437C13.425 12.4437 13.2812 12.3841 13.1751 12.2781C13.069 12.172 13.0094 12.0281 13.0094 11.8781V5.89025L4.92523 13.9752C4.81909 14.0813 4.67514 14.1409 4.52505 14.1409C4.37495 14.1409 4.231 14.0813 4.12487 13.9752C4.01873 13.869 3.95911 13.7251 3.95911 13.575C3.95911 13.4249 4.01873 13.2809 4.12487 13.1748L12.2098 5.0906H6.22192C6.07191 5.0906 5.92804 5.03101 5.82196 4.92493C5.71589 4.81886 5.6563 4.67499 5.6563 4.52498C5.6563 4.37496 5.71589 4.23109 5.82196 4.12502C5.92804 4.01894 6.07191 3.95935 6.22192 3.95935H13.575C13.7251 3.95935 13.8689 4.01894 13.975 4.12502C14.0811 4.23109 14.1407 4.37496 14.1407 4.52498Z" />
                        </svg>
                    </div>

                    <div
                        style="left: 32px; top: 32px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                        <div
                            style="width: 334px; color: #000C26; font-size: 28px; font-family: Satoshi; font-weight: 700; word-wrap: break-word">
                            Foreign exchange services</div>
                        <div
                            style="width: 334px; height: 203px; color: #5D6066; font-size: 16px; font-family: Satoshi; font-weight: 500; word-wrap: break-word">
                            Risus eu aliquet eu dignissim scelerisque leo adipiscing tincidunt. Integer sed purus tempus
                            aliquam. Felis convallis
                            ante faucibus sed ipsum. Platea viverra justo consequat arcu fringilla id. Ac facilisi porta
                            varius egestas.
                        </div>
                    </div>
                </div>
            </div>

            <div class="card slide fadeRight animation-element"
                style="width: 398px; height: 467px; position: relative; box-shadow: 0px 10px 20px rgba(37.73, 40.08, 60.57, 0.30); border-radius: 16px; overflow: hidden">
                <div style="width: 398px; height: 467px; position: absolute; background: #000638"></div>
                <img style="width: 398px; height: 467px; position: absolute" src="/images/remi.png"
                    alt="Foreign Exchange" />
                <div class="card-title"
                    style="width: 337px; position: absolute; left: 32px; top: 281px; color: white; font-size: 40px; font-family: 'Satoshi', sans-serif; font-weight: 700; word-wrap: break-word">
                    Remittance services
                </div>


                <div class="card-hover-content"
                    style="width: 398px; height: 362px; position: absolute; bottom: 0; background: white;">
                    <div
                        style="left: 32px; top: 32px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                        <!-- Arrow container adjusted to the far right bottom corner -->
                        <div
                            class="absolute bottom-0 right-0 bg-blue-900 rounded-full w-9 h-9 flex items-center justify-center">
                            <!-- Arrow in white -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 19 19"
                                fill="white">
                                <path
                                    d="M14.1407 4.52498V11.8781C14.1407 12.0281 14.0811 12.172 13.975 12.2781C13.8689 12.3841 13.7251 12.4437 13.575 12.4437C13.425 12.4437 13.2812 12.3841 13.1751 12.2781C13.069 12.172 13.0094 12.0281 13.0094 11.8781V5.89025L4.92523 13.9752C4.81909 14.0813 4.67514 14.1409 4.52505 14.1409C4.37495 14.1409 4.231 14.0813 4.12487 13.9752C4.01873 13.869 3.95911 13.7251 3.95911 13.575C3.95911 13.4249 4.01873 13.2809 4.12487 13.1748L12.2098 5.0906H6.22192C6.07191 5.0906 5.92804 5.03101 5.82196 4.92493C5.71589 4.81886 5.6563 4.67499 5.6563 4.52498C5.6563 4.37496 5.71589 4.23109 5.82196 4.12502C5.92804 4.01894 6.07191 3.95935 6.22192 3.95935H13.575C13.7251 3.95935 13.8689 4.01894 13.975 4.12502C14.0811 4.23109 14.1407 4.37496 14.1407 4.52498Z" />
                            </svg>
                        </div>
                        <div
                            style="width: 334px; color: #000C26; font-size: 28px; font-family: Satoshi; font-weight: 700; word-wrap: break-word">
                            Remittance services
                        </div>
                        <div
                            style="width: 334px; height: 203px; color: #5D6066; font-size: 16px; font-family: Satoshi; font-weight: 500; word-wrap: break-word">
                            Risus eu aliquet eu dignissim scelerisque leo adipiscing tincidunt. Integer sed purus tempus
                            aliquam. Felis
                            convallis ante faucibus sed ipsum. Platea viverra justo consequat arcu fringilla id. Ac
                            facilisi porta
                            varius egestas.
                        </div>
                    </div>
                </div>


            </div>


            <div class="card slide fadeRight animation-element"
                style="width: 398px; height: 467px; position: relative; box-shadow: 0px 10px 20px rgba(37.73, 40.08, 60.57, 0.30); border-radius: 16px; overflow: hidden">
                <div style="width: 398px; height: 467px; position: absolute; background: #000638"></div>
                <img style="width: 398px; height: 467px; position: absolute" src="/images/agricom.png"
                    alt="Foreign Exchange" />
                <div class="card-title"
                    style="width: 337px; position: absolute; left: 32px; top: 281px; color: white; font-size: 40px; font-family: 'Satoshi', sans-serif; font-weight: 700; word-wrap: break-word">
                    Agri-commodities exchange
                </div>
                <div class="card-hover-content"
                    style="width: 398px; height: 362px; position: absolute; bottom: 0; background: white;">
                    <div
                        style="left: 32px; top: 32px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">

                        <div
                            class="absolute bottom-2 right-2 bg-blue-900 rounded-full w-9 h-9 flex items-center justify-center">
                            <!-- Arrow in white -->
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 19 19"
                                fill="white">
                                <path
                                    d="M14.1407 4.52498V11.8781C14.1407 12.0281 14.0811 12.172 13.975 12.2781C13.8689 12.3841 13.7251 12.4437 13.575 12.4437C13.425 12.4437 13.2812 12.3841 13.1751 12.2781C13.069 12.172 13.0094 12.0281 13.0094 11.8781V5.89025L4.92523 13.9752C4.81909 14.0813 4.67514 14.1409 4.52505 14.1409C4.37495 14.1409 4.231 14.0813 4.12487 13.9752C4.01873 13.869 3.95911 13.7251 3.95911 13.575C3.95911 13.4249 4.01873 13.2809 4.12487 13.1748L12.2098 5.0906H6.22192C6.07191 5.0906 5.92804 5.03101 5.82196 4.92493C5.71589 4.81886 5.6563 4.67499 5.6563 4.52498C5.6563 4.37496 5.71589 4.23109 5.82196 4.12502C5.92804 4.01894 6.07191 3.95935 6.22192 3.95935H13.575C13.7251 3.95935 13.8689 4.01894 13.975 4.12502C14.0811 4.23109 14.1407 4.37496 14.1407 4.52498Z" />
                            </svg>
                        </div>
                        <div
                            style="width: 334px; color: #000C26; font-size: 28px; font-family: Satoshi; font-weight: 700; word-wrap: break-word">
                            Agri-commodities exchange</div>
                        <div
                            style="width: 334px; height: 203px; color: #5D6066; font-size: 16px; font-family: Satoshi; font-weight: 500; word-wrap: break-word">
                            Risus eu aliquet eu dignissim scelerisque leo adipiscing tincidunt. Integer sed purus tempus
                            aliquam. Felis convallis
                            ante faucibus sed ipsum. Platea viverra justo consequat arcu fringilla id. Ac facilisi porta
                            varius egestas.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>




<style>
    .rounded-58 {
        border-radius: 58.65px;
    }

    .rounded-20 {
        border-radius: 20.52px;
    }

    .blur-34 {
        backdrop-filter: blur(34.20px);
    }

    .blur-85 {
        filter: blur(85.50px);
    }
</style>




<section
    style="background: url('/images/tech_bg.png') no-repeat; background-size: cover; background-color: #00007E; background-blend-mode: overlay;"
    class="p-10 relative  lg:px-24 py-20 bg-[#1A1A40]">
    <div class="flex flex-col lg:flex-col h-[550px]">
        <div class="grid lg:grid-cols-2 md:grid-cols-2 justify-center items-center relative t-service">
            <div class="fadeLeft animation-element z-30 transition duration-150 ease-in-out absolute top-0">
                <h3 class="text-[#6CC24A] text-[20px] ">TECHNOLOGY AS A SERVICE</h3>
                <div class="opacity-100 transition duration-150 ease-in-out absolute tech-service w-[500px]">
                    <p id="tech-subtitle" class="text-[44px] text-white mt-2 font-bold l">Digital KYC</p>
                    <p id="tech-content" class="text-[24px] text-[#FAFAFA] mt-4 max-w-xl opacity-70">
                        1 Vel ultrices magna sit potenti vel commodo a sapien enim. Et viverra diam nibh at. Adipiscing
                        mauris
                        massa et dignissim. Eget leo dui risus quam turpis et. At elit vivamus rhoncus at. Sit faucibus
                        ut
                        fringilla accumsan.
                        Placerat amet ultricies eu urna pretium pharetra
                    </p>
                </div>
                <div class="opacity-0 transition duration-150 ease-in-out absolute tech-service w-[500px]">
                    <p id="tech-subtitle" class="text-[44px] text-white mt-2 font-bold max-w-xl">CountryCxt</p>
                    <p id="tech-content" class="text-[24px] text-[#FAFAFA] mt-4 max-w-xl opacity-70">
                        2 Vel ultrices magna sit potenti vel commodo a sapien enim. Et viverra diam nibh at. Adipiscing
                        mauris
                        massa et dignissim. Eget leo dui risus quam turpis et. At elit vivamus rhoncus at. Sit faucibus
                        ut
                        fringilla accumsan.
                        Placerat amet ultricies eu urna pretium pharetra
                    </p>
                </div>
                <div class="opacity-0 transition duration-150 ease-in-out absolute tech-service w-[500px]">
                    <p id="tech-subtitle" class="text-[44px] text-white mt-2 font-bold max-w-xl">Proprietory API</p>
                    <p id="tech-content" class="text-[24px] text-[#FAFAFA] mt-4 max-w-xl opacity-70">
                        3 Vel ultrices magna sit potenti vel commodo a sapien enim. Et viverra diam nibh at. Adipiscing
                        mauris
                        massa et dignissim. Eget leo dui risus quam turpis et. At elit vivamus rhoncus at. Sit faucibus
                        ut
                        fringilla accumsan.
                        Placerat amet ultricies eu urna pretium pharetra
                    </p>
                </div>
                <div class="opacity-0 transition duration-150 ease-in-out absolute tech-service w-[500px]">
                    <p id="tech-subtitle" class="text-[44px] text-white mt-2 font-bold max-w-xl">Proprietory AI</p>
                    <p id="tech-content" class="text-[24px] text-[#FAFAFA] mt-4 max-w-xl opacity-70">
                        3 Vel ultrices magna sit potenti vel commodo a sapien enim. Et viverra diam nibh at. Adipiscing
                        mauris
                        massa et dignissim. Eget leo dui risus quam turpis et. At elit vivamus rhoncus at. Sit faucibus
                        ut
                        fringilla accumsan.
                        Placerat amet ultricies eu urna pretium pharetra
                    </p>
                </div>
            </div>
            <div class="ts-icons grid grid-cols-4 grid-rows-4 grid-flow-col gap-4 col-start-2">
                <div class="ts w-40 h-40 bg-white rounded-2xl flex flex-col items-center justify-center ">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="53" height="51" viewBox="0 0 53 51" fill="none">
                            <g clip-path="url(#clip0_4288_1448)">
                                <path
                                    d="M0.5 2.73684C0.5 1.22533 1.72533 0 3.23684 0H35.7653C37.3939 0 38.6621 1.41354 38.4862 3.03258L35.5488 30.0564C35.4522 30.9446 34.9282 31.7298 34.1451 32.1598L4.55397 48.4059C2.73004 49.4072 0.5 48.0876 0.5 46.0068V2.73684Z"
                                    fill="url(#paint0_angular_4288_1448)" />
                                <circle cx="35.3943" cy="32.158" r="17.1053" fill="#6EDB64" fill-opacity="0.7" />
                            </g>
                            <defs>
                                <radialGradient id="paint0_angular_4288_1448" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(19.6579 25.3158) rotate(57.5336) scale(23.9233 18.1041)">
                                    <stop stop-color="#D1A03F" />
                                    <stop offset="1" stop-color="#D2B241" />
                                </radialGradient>
                                <clipPath id="clip0_4288_1448">
                                    <rect width="52" height="50.6316" fill="white" transform="translate(0.5)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="art-text text-black text-lg">
                        Digital KYC
                    </div>
                </div>
                <div
                    class="ts unfocus-tech w-40 h-40 bg-white rounded-2xl flex flex-col items-center justify-center col-start-4 ">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="63" height="63" viewBox="0 0 63 63" fill="none">
                            <g clip-path="url(#clip0_4244_3553)">
                                <path
                                    d="M33.4324 36.9645C31.2565 38.2748 28.4654 36.8165 28.2982 34.282L26.3645 4.95933C26.1903 2.31814 28.9737 0.504141 31.3197 1.72989L58.428 15.8934C60.774 17.1192 60.8746 20.44 58.607 21.8054L33.4324 36.9645Z"
                                    fill="#D2AC41" />
                                <circle cx="25.0934" cy="40.5231" r="22.4762" fill="url(#paint0_angular_4244_3553)"
                                    fill-opacity="0.9" />
                            </g>
                            <defs>
                                <radialGradient id="paint0_angular_4244_3553" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(25.0934 40.5231) rotate(73.0725) scale(35.2411)">
                                    <stop stop-color="#CF52B4" />
                                    <stop offset="1" stop-color="#AD2C91" />
                                </radialGradient>
                                <clipPath id="clip0_4244_3553">
                                    <rect width="63" height="63" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="art-text text-black text-lg ">
                        CountryCxt
                    </div>
                </div>
                <div
                    class="ts unfocus-tech w-40 h-40 bg-white rounded-2xl flex flex-col items-center justify-center row-start-2 col-start-3 ">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="77" height="59" viewBox="0 0 77 59" fill="none">
                            <g clip-path="url(#clip0_4244_3620)">
                                <path
                                    d="M66.4288 11.7692C65.6893 9.68755 63.4023 8.59947 61.3206 9.33895L23.691 22.7061C22.2633 23.2133 21.2447 24.4835 21.0599 25.9873L19.2305 40.8681C19.0731 42.1485 19.5428 43.4262 20.4921 44.2997L30.9678 53.9391C32.0594 54.9436 33.6173 55.2615 35.0152 54.7649L72.7017 41.3775C74.7834 40.6381 75.8714 38.351 75.132 36.2693L66.4288 11.7692Z"
                                    fill="url(#paint0_angular_4244_3620)" />
                                <path
                                    d="M0 4C0 1.79086 1.79086 0 4 0H43.9333C45.4484 0 46.8334 0.856009 47.511 2.21115L54.216 15.6212C54.7929 16.775 54.778 18.1362 54.1758 19.2771L47.5311 31.867C46.8387 33.179 45.4771 34 43.9936 34H4C1.79086 34 0 32.2091 0 30V4Z"
                                    fill="#6EDB64" fill-opacity="0.7" />
                            </g>
                            <defs>
                                <radialGradient id="paint0_angular_4244_3620" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(44.8031 33.2472) rotate(-129.149) scale(21.2754 34.5006)">
                                    <stop stop-color="#4AC2C2" />
                                    <stop offset="1" stop-color="#449C9C" />
                                </radialGradient>
                                <clipPath id="clip0_4244_3620">
                                    <rect width="76.4709" height="58.4944" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="art-text text-black">
                        API
                    </div>
                </div>
                <div
                    class="ts unfocus-tech w-40 h-40 bg-white rounded-2xl flex flex-col items-center justify-center row-start-3 col-start-1">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="69" viewBox="0 0 65 69" fill="none">
                            <path
                                d="M38.1328 19.0664C38.1328 29.5965 30.9829 38.7286 19.0664 48.8577C5.95825 36.3453 0 29.5965 0 19.0664C0 8.53632 8.53632 0 19.0664 0C29.5965 0 38.1328 8.53632 38.1328 19.0664Z"
                                fill="url(#paint0_angular_4244_3672)" fill-opacity="0.9" />
                            <path
                                d="M25.198 61.3312C17.7513 54.1649 16.1591 42.8937 17.1057 27.5732C34.875 26.8186 43.7026 27.1979 51.1493 34.3642C58.5961 41.5304 58.8234 53.3766 51.6572 60.8233C44.4909 68.27 32.6448 68.4974 25.198 61.3312Z"
                                fill="url(#paint1_angular_4244_3672)" fill-opacity="0.8" />
                            <defs>
                                <radialGradient id="paint0_angular_4244_3672" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(19.0664 24.4288) rotate(76.6376) scale(37.6629 30.4028)">
                                    <stop stop-color="#CF52B4" />
                                    <stop offset="1" stop-color="#AD2C91" />
                                </radialGradient>
                                <radialGradient id="paint1_angular_4244_3672" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(34.3815 44.1983) rotate(16.8783) scale(59.4421 76.1602)">
                                    <stop offset="0.35566" stop-color="#2F61D0" />
                                    <stop offset="0.529116" stop-color="#3D75F0" />
                                    <stop offset="1" stop-color="#12398F" />
                                </radialGradient>
                            </defs>
                        </svg>
                    </div>
                    <div class="art-text text-black">
                        AI
                    </div>
                </div>

            </div>
            <div class="bg-white">
                <svg class="javLineLink" data-js-controller="javLineLink" data-js-id="Sticky-techConnection"
                    style="position: absolute; z-index: 0; left: 901px; top: 40px; height: 104px; width: 413px;">
                    <defs>
                        <linearGradient class="RotatingGradient" id="Sticky-techmovement" gradientUnits="userSpaceOnUse"
                            data-js-controller="RotatingGradient" data-js-start-rotation="" data-js-speed=""
                            x1="82.37275434096986" x2="17.627245659029725" y1="88.1051804401871" y2="11.89481955981325">
                            <stop offset="0" stop-color="#11EFE3"></stop>
                            <stop offset="1" stop-color="#9966FF"></stop>
                        </linearGradient>
                    </defs>
                    <!-- Horizontal line -->
                    <path stroke="url(#Sticky-techmovement)" stroke-width="2" fill="none"
                        data-js-target="javLineLink.path" d="M1,52 L503,52"
                        style="stroke-dasharray: 503px; stroke-dashoffset: 503px;"></path>
                </svg>
            </div>
            <div>
                <svg class="javLineLink HomepageFrontdoorSuiteAnimation__connection--paymentsTerminal"
                    data-js-controller="javLineLink" data-js-id="Sticky-techConnection"
                    style="position: absolute; z-index: 0; left: 1203px; top: 140px; height: 104px;">
                    <defs>
                        <linearGradient class="RotatingGradient" id="Sticky-techConnectionGradient"
                            gradientUnits="userSpaceOnUse" data-js-controller="RotatingGradient"
                            data-js-start-rotation="" data-js-speed="" x1="82.37275434096986" x2="17.627245659029725"
                            y1="88.1051804401871" y2="11.89481955981325">
                            <stop offset="0" stop-color="#11EFE3"></stop>
                            <stop offset="1" stop-color="#9966FF"></stop>
                        </linearGradient>
                    </defs>
                    <path stroke="url(#Sticky-techConnectionGradient)" stroke-width="2" fill="none"
                        data-js-target="javLineLink.path" d="M200,20 L200,100 L80,100"
                        style="stroke-dasharray: 300px; stroke-dashoffset: 300px;"></path>
                </svg>
            </div>
            <div>
                <svg class="javLineLink HomepageFrontdoorSuiteAnimation__connection--paymentsTerminal"
                    data-js-controller="javLineLink" data-js-id="Sticky-techConnection"
                    style="position: absolute; z-index: 0; left: 723px; top: 250px; height: 104px; width:400px;">
                    <defs>
                        <linearGradient class="RotatingGradient" id="Sticky-techConnectionGradient"
                            gradientUnits="userSpaceOnUse" data-js-controller="RotatingGradient"
                            data-js-start-rotation="" data-js-speed="" x1="82.37275434096986" x2="17.627245659029725"
                            y1="88.1051804401871" y2="11.89481955981325">
                            <stop offset="0" stop-color="#11EFE3"></stop>
                            <stop offset="1" stop-color="#9966FF"></stop>
                        </linearGradient>
                    </defs>
                    <path stroke="url(#Sticky-techConnectionGradient)" stroke-width="2" fill="none"
                        data-js-target="javLineLink.path" d="M500,20 L100,20 L100,400"
                        style="stroke-dasharray: 500px; stroke-dashoffset: 500px;"></path>
                </svg>
            </div>
            <div>
                <svg class="javLineLink HomepageFrontdoorSuiteAnimation__connection--paymentsTerminal"
                    data-js-controller="javLineLink" data-js-id="Sticky-techConnection"
                    style="position: absolute; z-index: 0; left: 803px; top: 160px; height:300px;">
                    <defs>
                        <linearGradient class="RotatingGradient" id="Sticky-techConnectionGradient"
                            gradientUnits="userSpaceOnUse" data-js-controller="RotatingGradient"
                            data-js-start-rotation="" data-js-speed="" x1="82.37275434096986" x2="17.627245659029725"
                            y1="88.1051804401871" y2="11.89481955981325">
                            <stop offset="0" stop-color="#11EFE3"></stop>
                            <stop offset="1" stop-color="#9966FF"></stop>
                        </linearGradient>
                    </defs>
                    <path stroke="url(#Sticky-techConnectionGradient)" stroke-width="2" fill="none"
                        data-js-target="javLineLink.path" d="M10,196 L10,0"
                        style="stroke-dasharray: 300px; stroke-dashoffset: 300px;"></path>
                </svg>
            </div>

        </div>

    </div>

</section>

<section class="p-10 relative  lg:px-24 py-20">
    <div>
        <div class="flex justify-center items-center">
            <h3 class="text-[#0032A0] text-[20px]">COMMUNITY IMPACT</h3>
        </div>
        <div class="flex justify-center items-center mb-16 flex-row h-[350px]">
            <div class="text-[#000638] text-[44px] font-bold max-w-6xl text-center"> <span
                    class="text-[#6CC24A]">"</span>
                We improve the
                communities in
                which we
                live
                and work by
                increasing access to healthcare,
                essential resources, education, and athletics <span class="text-[#6CC24A]">"</span></div>
        </div>
        <div class="grid grid-cols-3 lg:px-32">
            <div>
                <img src="/images/com1.png" alt="community service" />
            </div>
            <div class="grid grid-rows-2 gap-2">
                <div><img src="/images/com2.png" alt="community service 2" /></div>
                <div><img src="/images/com21.png" alt="community service 21" /></div>
            </div>
            <div>
                <div><img src="/images/com3.png" alt="community service 3" /></div>
            </div>
        </div>
    </div>

</section>
<section class="p-10 relative  lg:px-24 py-20 mt-6 bg-[#1A1A40] overflow-hidden">
    <div class="top-0 absolute left-[400px]" id="globe">
    </div>
    <div class="flex flex-col lg:flex-col">
        <div class="grid lg:grid-cols-2 md:grid-cols-2 justify-center items-center">

            <div class="fadeLeft animation-element z-50">
                <h3 class="text-[#6CC24A] text-[20px] ">GLOBAL FORIEGN EXCHANGE</h3>
                <p class="text-[44px] text-white mt-2 font-bold">Amet auctor erat accumsan sed massa. Faucibus a
                    orci
                    aliquam molestie ridiculus.</p>
                <p class="text-[24px] text-[#FAFAFA] mt-4 max-w-xl opacity-70">
                    Vel ultrices magna sit potenti vel commodo a sapien enim. Et viverra diam nibh at. Adipiscing mauris
                    massa et dignissim. Eget leo dui risus quam turpis et. At elit vivamus rhoncus at. Sit faucibus ut
                    fringilla accumsan.
                    Placerat amet ultricies eu urna pretium pharetra
                </p>
            </div>
            <div>

            </div>
        </div>
        <div class="grid lg:grid-cols-5 text-white mt-40 ">

            <div class="flex flex-row">
                <div class="h-10 w-[5px] bg-green-500 rounded-r-full mr-4"></div>
                <div class="flex flex-col mt-[6px] ">
                    <div class="font-bold text-[20px] ">Exchange Rate</div>
                    <p class="text-[#FAFAFA] text-base max-w-[170px] mt-2 opacity-60">Foreign exchange rate available
                        24/7</p>
                </div>
            </div>
            <div class="flex flex-row z-10">
                <div class="h-10 w-[5px] bg-[#FFA500] rounded-r-full mr-4"></div>
                <div class="flex flex-col mt-[6px] ">
                    <div class="font-bold text-[20px]">Payment services</div>
                    <p class="text-[#FAFAFA] text-base max-w-[170px] mt-2 opacity-60">130 currencies (SWIFT, Wires, ACH)
                    </p>
                </div>
            </div>
            <div class="flex flex-row z-10">
                <div class="h-10 w-[5px] bg-[#EB00FF] rounded-r-full mr-4"></div>
                <div class="flex flex-col mt-[6px] ">
                    <div class="font-bold text-[20px]">Payment Tracker</div>
                    <p class="text-[#FAFAFA] text-base max-w-[170px] mt-2 opacity-60">Track status via our online
                        platform</p>
                </div>
            </div>
            <div class="flex flex-row z-10">
                <div class="h-10 w-[5px] bg-[#00B2FF] rounded-r-full mr-4"></div>
                <div class="flex flex-col mt-[6px] ">
                    <div class="font-bold text-[20px] z-30">Real time validation</div>
                    <p class="text-[#FAFAFA] text-base max-w-[170px] mt-2 opacity-60">Validation of beneficiary banking
                        information
                    </p>
                </div>
            </div>
        </div>
</section>
<section class="p-10 relative  lg:px-24 py-20">
    <div>
        <h2 class="text-[#0032A0] text-[40px] my-8 font-bold">In The News</h2>
    </div>
    <div class="rounded-[20px] grid grid-cols-2 border-[0.29px] border-[#95989D] h-[300px]">
        <div class="bg-cover" style="background-image: url('/images/new-01a.png'); ">
            {{!-- <img src="/images/new-01a.png" /> --}}
        </div>
        <div class="flex flex-col justify-center w-[700px] p-9">
            <div class="text-[#000C26] text-[34px]">Javolin Launches Collections Program</div>
            <div>
                <p class="text-[#3A3A3A] text-[18px]">
                    Embarking on a new journey, Javolin unveils its ground-breaking Collections Program, a strategic
                    move set to redefine the industry.
                </p>
            </div>
            <div class="flex flex-row text-[13px] items-center mt-4 font-bold">
                <div class="py-2 px-4 text-[#6CC24A] bg-[#E9F6E4] rounded-3xl ">
                    BUSINESS
                </div>
                <div class="text-[#5D6066] ml-6">
                    April 6  8mins read
                </div>
            </div>
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-10">
        <div class="grid grid-rows-2 border-[0.29px] border-[#95989D] rounded-[20px]">
            <div class="bg-cover" style="background-image: url('/images/new-01a.png');">

            </div>
            <div class="flex flex-col justify-center w-[700px] p-9">
                <div class="text-[#000C26] text-[34px]">Javolin Launches Collections Program</div>
                <div>
                    <p class="text-[#3A3A3A] text-[18px]">
                        Embarking on a new journey, Javolin unveils its ground-breaking Collections Program, a strategic
                        move set to redefine the industry.
                    </p>
                </div>
                <div class="flex flex-row text-[13px] items-center mt-4 font-bold">
                    <div class="py-2 px-4 text-[#6CC24A] bg-[#E9F6E4] rounded-3xl ">
                        BUSINESS
                    </div>
                    <div class="text-[#5D6066] ml-6">
                        April 6  8mins read
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-rows-2 border-[0.29px] border-[#95989D] rounded-[20px]">
            <div class="bg-cover" style="background-image: url('/images/new-01a.png');">

            </div>
            <div class="flex flex-col justify-center w-[700px] p-9">
                <div class="text-[#000C26] text-[34px]">Javolin Launches Collections Program</div>
                <div>
                    <p class="text-[#3A3A3A] text-[18px]">
                        Embarking on a new journey, Javolin unveils its ground-breaking Collections Program, a strategic
                        move set to redefine the industry.
                    </p>
                </div>
                <div class="flex flex-row text-[13px] items-center mt-4 font-bold">
                    <div class="py-2 px-4 text-[#6CC24A] bg-[#E9F6E4] rounded-3xl ">
                        BUSINESS
                    </div>
                    <div class="text-[#5D6066] ml-6">
                        April 6  8mins read
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>