<section class="h-96 px-10 lg:px-32" style="background: #E0EAFF;">


    <div class="leading-none py-10">
        <h2 class="text-2xl text-black">
            Javolin set to launch on April 6, 2022
        </h2>
        <span class="text-gray-500 text-sm"> Published: 16 March 2021 </span>
    </div>

    <img src="/images/blog-item/header-launch.png" class="h-full object-cover lg:object-fit w-full mt-4">




</section>

<section class="px-10 lg:px-32 pt-36 flex flex-col text-gray-700 mt-5 space-y-2 text-sm pb-10">

    <p>
        Hurrayyyy!!! The Fintech for Africa, JAVOLIN, is finally here on the continent! JAVOLIN is officially
        launching on April 6th.  Are you a consumer?, a business or a Govt entity? , Javolin is here to help you grow
        and stay a head of the curve. Javolin is unlike any other Fintech company currently on the market. Did you just
        ask Why?  Download the Javolin app and let’s take you this remarkable financial ride of your life.
        Experience what all the ruckus is about.
    </p>

    <p>
        We are a technology company with a mission to serve financial services partners (FSP) (FINTECH) on the Continent of
        Africa with its mobile digital platform that allows consumers to easily apply for financial loans and debit/credit
        cards, to perform certain remittance and money transfer services, create stored monetary value accounts, pay bills
        and make investments into certain securities by working directly with banks, other FSPs, government entities and private
        companies and allow FSP to share data in an
        open banking environment and better perform KYC/AML functions.
    </p>

    <p>
        Hurry download the Javolin App today and start using Javolin for all your financial needs.
    </p>

</section>


<div class="flex items-center justify-center py-5">


    <div style="height: 3px; background: #E5E9F1; width: 319px; " >

    </div>

</div>


<section class="px-10 lg:px-32 py-5">

    <div>
        <h2 class="font-bold text-2xl">Other Blog Post</h2>
    </div>
    <span class="text-sm text-black text-gray-600">
        Read our other articles
    </span>


    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-5">



        <div class="rounded-xl relative cursor-pointer" onclick="location.href = '/blog/javolin-partners-with-ecobank'">
            <img src="/images/blog/ecobank.png" class="h-full w-full object-cover" />

            <div class="absolute bottom-5 p-3 shadow-xl flex flex-col bg-white rounded-xl left-5 right-5">
                <h2 class="font-bold text-lg text-gray-700">Javolin partners with ecobank on diaspora loans</h2>
                <p class="text-sm font-light my-1 text-gray-500">
                    The future of mankind is digital. Digital banking is now and here to stay. We have invested heavily in digital infrastructure, security....
                </p>

                <div class="flex items-center mt-1">
                    <span class="text-xs text-gray-600 font-bold"> Read More </span>
                    <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>
                </div>

            </div>
        </div>


        <div class="rounded-xl relative cursor-pointer" onclick="location.href = '/blog/javolin-secure-card'">
            <img src="/images/blog/secured-card.png" class="h-200 w-200 object-cover" />

            <div class="absolute bottom-5 p-3 shadow-xl flex flex-col bg-white rounded-xl left-5 right-5">
                <h2 class="font-bold text-lg text-gray-700">Javolin secured cards got you</h2>
                <p class="text-sm font-light my-1 text-gray-500">
                    THE JAVOLIN ONE secured visa card is for a virtual and physical card for the banked and the Unbanked population in Africa, US and the world....
                </p>

                <div class="flex items-center mt-1">
                    <span class="text-xs text-gray-600 font-bold"> Read More </span>
                    <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>
                </div>

            </div>
        </div>

    </div>

</section>