<section class="h-96 px-10 lg:px-32" style="background: #E0EAFF;">


    <div class="leading-none py-10">
        <h2 class="text-2xl text-black">
            Javolin Launching Soon
        </h2>
        <span class="text-gray-500 text-sm"> Published: 1 August 2022 </span>
    </div>

    <img src="/images/blog-item/Launch_new.jpeg" class="h-full object-cover lg:object-fit w-full mt-4">




</section>

<section class="px-10 lg:px-32 pt-36 flex flex-col text-gray-700 mt-5 space-y-2 text-sm pb-10">

    <p>
        Thanks to those who have supported us over the past several months in creating a dynamic company.
        From our offices in Atlanta Georgia and Accra Ghana, we look forward to serving our world-wide customers.
        A major thanks to our key strategic partners – Ecobank, ETransactions, Integral  and  Zenith Bank.
    </p>

    <p>
        We are a technology company with a mission to serve Consumers, 
        Financial Services Partners (FSP), other FinTech companies, Businesses, and Government Entities on the Continent of Africa 
        with our mobile digital platform. We facilitate our customers ability to easily apply for financial loans and debit/credit cards, 
        to perform certain remittance and money transfer services, create stored monetary value accounts, digital payments and collections, 
        and make investments into certain securities by working directly with partners.  We are creating an open banking environment where our 
        partners share data analytics, credit information and KYC/AML insights without border constraints.
    </p>



</section>


<div class="flex items-center justify-center py-5">


    <div style="height: 3px; background: #E5E9F1; width: 319px; " >

    </div>

</div>


<section class="px-10 lg:px-32 py-5">

    <div>
        <h2 class="font-bold text-2xl">Other Blog Post</h2>
    </div>
    <span class="text-sm text-black text-gray-600">
        Read our other articles
    </span>

    <!--
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-5">



        <div class="rounded-xl relative cursor-pointer" onclick="location.href = '/blog/javolin-partners-with-ecobank'">
            <img src="/images/blog/ecobank.jpg" class="h-full w-full object-cover rounded-xl" />

            <div class="absolute bottom-5 p-3 shadow-xl flex flex-col bg-white rounded-xl left-5 right-5">
                <h2 class="font-bold text-lg text-gray-700">Javolin partners with ecobank on diaspora loans</h2>
                <p class="text-sm font-light my-1 text-gray-500">
                    Javolin announces a strategic partnership with Ecobank focused on the growing Real Estate and Home ownership sector on the continent of Africa.
                    The partnership will allow for consumers living across the globe to apply for mortgages, to purchase homes or invest
                    in the Real Estate sector in Ecobank's market countries.
                </p>

                <div class="flex items-center mt-1">
                    <span class="text-xs text-gray-600 font-bold"> Read More </span>
                    <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>
                </div>

            </div>
        </div>

        <div class="rounded-xl relative cursor-pointer" onclick="location.href = '/blog/javolin-secure-card'" >

            <img src="/images/blog/secured-card.png" class="h-full w-full object-cover rounded-xl" />

            <div class="absolute bottom-5 p-3 shadow-xl flex flex-col bg-white rounded-xl left-5 right-5">
                <h2 class="font-bold text-lg text-gray-700">Javolin secured cards got you</h2>
                <p class="text-sm font-light my-1 text-gray-500">
                    Coming soon ...
                </p>

<!               <div class="flex items-center mt-1">-->
<!--                    <span class="text-xs text-gray-600 font-bold"> Read More </span>-->
<!--                    <svg class="w-6 h-6 mx-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M17 8l4 4m0 0l-4 4m4-4H3" /></svg>-->
<!--                </div>-->
            <!--
            </div>
        </div>

    </div>
    -->

</section>