<section class="h-96 px-10 lg:px-32 bg-[#0032A0]">


    <div class="leading-none py-20">
        <h2 style="font-weight: bold;" class="text-2xl text-white">
            Javolin Opens New Office In Dakar, Senegal
        </h2>
        <span class="text-gray-500 text-sm"> Published: 1 August 2022 </span>
    </div>

    <img src="/images/blog/dakar.png" class="h-full object-fill lg:object-fit w-6/12 mx-auto mt-4">





</section>

<section class="px-10 lg:px-32 pt-36 flex flex-col text-gray-700 mt-32 space-y-2 text-sm pb-10">
    <h2 style="font-weight: bold;" class="mx-auto text-2xl text-black">
            Javolin Opens New Office In Dakar, Senegal
    </h2>
   
    <p class="mx-auto text-lg">
        We are expanding on the continent of Africa with a new office in Dakar, Senegal to serve the digital banking needs of the French speaking West Africa. This is in direct fulfillment of our vision to provide digital financial products and services to empower economic participation by consumers, government entities, banks and businesses in Africa and other emerging markets.
    </p>



</section>


<div class="flex items-center justify-center py-5">


    <div style="height: 3px; background: linear-gradient(90.18deg, #0032A0 0.14%, rgba(0, 50, 160, 0.7) 59.23%, rgba(0, 50, 160, 0) 124.53%); width: 319px; " >

    </div>

</div>


