<header class="bg-[#0032A0] p-10">

</header>
  
  <main class="max-w-2xl h-full m-auto">
                <h1 class="text-4xl my-16 font-bold">
                    PRIVACY POLICY
                </h1>
                <p class="text-gray-500 text-md my-2">Last updated December 01, 2021
                </p>
                <section>
                    <p>
                        Thank you for choosing to be part of our community at Javolin Group, LLC ("Company," "we," "us," or "our"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy notice or our practices with regard to your personal information, please contact us at support@javolin.com.
                    </p>
                    <p>This privacy notice describes how we might use your information if you:
                    </p>
                    <ul style="list-style-type: square;">
                        <li>Visit our website at
                            <a href="/" rel="noreferrer" target="_blank">http://javolin.com</a>
                        </li>
                        <li>Download and use our mobile application — Javolin App
                        </li>
                        <li>Engage with us in other related ways ― including any sales, marketing, or events
                        </li>

                    </ul>

                    <p>In this privacy notice, if we refer to:
                    </p>
                    <ul style="list-style-type: square;">
                        <li>"<b>Website</b>," we are referring to any website of ours that references or links to this policy
                        </li>
                        <li>"<b>App</b>," we are referring to any application of ours that references or links to this policy, including any listed above

                        </li>
                        <li>"<b>Services</b>," we are referring to our Website, App, and other related services, including any sales, marketing, or events

                        </li>
                    </ul>
                    <p>
                        <b>
                            The purpose of this privacy notice is to explain to you in the clearest way possible what information we collect, how we use it, and what rights you have in relation to it. If there are any terms in this privacy notice that you do not agree with, please discontinue use of our Services immediately.
                        </b>
                    </p>

                </section>

                <section>
                    <h2 class="font-semibold  my-5">1. WHAT INFORMATION DO WE COLLECT?</h2>

                    <section>

                        <h3>Personal information you disclose to us</h3>

                        <p>
                            <em>
                                <b>In Short</b>
                                :  We collect personal information that you provide to us.
                            </em>
                        </p>
                        <p>
                            We collect personal information that you voluntarily provide to us when you register on the Services, express an interest in obtaining information about us or our products and Services, when you participate in activities on the Services or otherwise when you contact us.

                        </p>
                        <p>
                            The personal information that we collect depends on the context of your interactions with us and the Services, the choices you make and the products and features you use. The personal information we collect may include the following:
                        </p>
                        <p>
                            <b>
                                Personal Information Provided by You.</b>
                            We collect names; phone numbers; email addresses; mailing addresses; job titles; usernames; passwords; contact preferences; contact or authentication data; billing addresses; debit/credit card numbers; and other similar information.
                        </p>
                        <p>
                            <b>
                                Social Media Login Data.
                            </b>We may provide you with the option to register with us using your existing social media account details, like your Facebook, Twitter or other social media account. If you choose to register in this way, we will collect the information described in the section called
                            <a href="/terms" target="_blank" rel="noreferrer">"HOW DO WE HANDLE YOUR SOCIAL LOGINS?"</a>
                            below.
                        </p>

                        <p>All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information.
                        </p>
                    </section>

                    <section>
                        <h3>Personal information you disclose to us</h3>
                        <p>
                            <em>
                                <b>In Short:  </b>
                                Some information — such as your Internet Protocol (IP) address and/or browser and device characteristics — is collected automatically when you visit our Services.
                            </em>
                        </p>
                        <p>We automatically collect certain information when you visit, use or navigate the Services. This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our Services and other technical information. This information is primarily needed to maintain the security and operation of our Services, and for our internal analytics and reporting purposes.
                        </p>
                        <p>Like many businesses, we also collect information through cookies and similar technologies.
                        </p>
                        <p>The information we collect includes:
                        </p>

                        <ul style="list-style-type: square;"
                        >
                            <li>
                                <em>
                                    Log and Usage Data.</em>
                                Log and usage data is service-related, diagnostic, usage and performance information our servers automatically collect when you access or use our Services and which we record in log files. Depending on how you interact with us, this log data may include your IP address, device information, browser type and settings and information about your activity in the Services (such as the date/time stamps associated with your usage, pages and files viewed, searches and other actions you take such as which features you use), device event information (such as system activity, error reports (sometimes called 'crash dumps') and hardware settings).
                            </li>
                            <li>
                                <em>
                                    Device Data.</em>
                                We collect device data such as information about your computer, phone, tablet or other device you use to access the Services. Depending on the device used, this device data may include information such as your IP address (or proxy server), device and application identification numbers, location, browser type, hardware model Internet service provider and/or mobile carrier, operating system and system configuration information.
                            </li>
                            <li>
                                <em>
                                    Location Data.</em>
                                We collect location data such as information about your device's location, which can be either precise or imprecise. How much information we collect depends on the type and settings of the device you use to access the Services. For example, we may use GPS and other technologies to collect geolocation data that tells us your current location (based on your IP address). You can opt out of allowing us to collect this information either by refusing access to the information or by disabling your Location setting on your device. Note however, if you choose to opt out, you may not be able to use certain aspects of the Services.
                            </li>
                        </ul>

                    </section>

                    <section>
                        <h3>Information collected through our App
                        </h3>
                        <p>
                            <em>
                                <b>In Short:  </b>
                                We may collect limited data from public databases, marketing partners, social media platforms, and other outside sources.
                            </em>
                        </p>

                        <p>
                            In order to enhance our ability to provide relevant marketing, offers and services to you and update our records, we may obtain information about you from other sources, such as public databases, joint marketing partners, affiliate programs, data providers, social media platforms, as well as from other third parties. This information includes mailing addresses, job titles, email addresses, phone numbers, intent data (or user behavior data), Internet Protocol (IP) addresses, social media profiles, social media URLs and custom profiles, for purposes of targeted advertising and event promotion. If you interact with us on a social media platform using your social media account (e.g. Facebook or Twitter), we receive personal information about you such as your name, email address, and gender. Any personal information that we collect from your social media account depends on your social media account's privacy settings.
                        </p>


                    </section>

                    <section>
                        <h2 class="font-semibold  my-5">
                            2. HOW DO WE USE YOUR INFORMATION?

                        </h2>
                        <p>
                            <em>
                                <b>In Short:  </b>
                                We process your information for purposes based on legitimate business interests, the fulfillment of our contract with you, compliance with our legal obligations, and/or your consent.
                            </em>
                        </p>

                        <p>
                            We use personal information collected via our Services for a variety of business purposes described below. We process your personal information for these purposes in reliance on our legitimate business interests, in order to enter into or perform a contract with you, with your consent, and/or for compliance with our legal obligations. We indicate the specific processing grounds we rely on next to each purpose listed below.
                        </p>
                        <p>
                            We use the information we collect or receive:
                        </p>

                        <ul style={
                            {listStyleType: "square"}
                        }>
                            <li>
                                <b>
                                    To facilitate account creation and logon process.</b>
                                If you choose to link your account with us to a third-party account (such as your Google or Facebook account), we use the information you allowed us to collect from those third parties to facilitate account creation and logon process for the performance of the contract. See the section below headed
                                <a href="/terms" target="_blank" rel="noreferrer">"HOW DO WE HANDLE YOUR SOCIAL LOGINS?"</a>
                                for further information.
                            </li>

                            <li>
                                <b>
                                    To post testimonials.</b>
                                We post testimonials on our Services that may contain personal information. Prior to posting a testimonial, we will obtain your consent to use your name and the content of the testimonial. If you wish to update, or delete your testimonial, please contact us at privacy@javolin.com and be sure to include your name, testimonial location, and contact information.
                            </li>

                            <li>
                                <b>
                                    Request feedback.</b>
                                We may use your information to request feedback and to contact you about your use of our Services.
                            </li>
                            <li>
                                <b>
                                    To enable user-to-user communications.</b>
                                We may use your information in order to enable user-to-user communications with each user's consent.
                            </li>

                            <li>
                                <b>To manage user accounts.</b>
                                We may use your information for the purposes of managing our account and keeping it in working order.
                            </li>

                            <li>
                                <b>To send administrative information to you.</b>
                                We may use your personal information to send you product, service and new feature information and/or information about changes to our terms, conditions, and policies.
                            </li>

                            <li>
                                <b>To protect our Services.</b>
                                We may use your information as part of our efforts to keep our Services safe and secure (for example, for fraud monitoring and prevention).
                            </li>

                            <li>
                                <b>To enforce our terms, conditions and policies for business purposes, to comply with legal and regulatory requirements or in connection with our contract.</b>
                            </li>

                            <li>
                                <b>To respond to legal requests and prevent harm.</b>
                                If we receive a subpoena or other legal request, we may need to inspect the data we hold to determine how to respond.
                            </li>
                            <li>
                                <b>Fulfill and manage your orders.</b>
                                We may use your information to fulfill and manage your orders, payments, returns, and exchanges made through the Services.
                            </li>

                            <li>
                                <b>Administer prize draws and competitions.
                                </b>
                                We may use your information to administer prize draws and competitions when you elect to participate in our competitions.
                            </li>

                            <li>
                                <b>To respond to user inquiries/offer support to users.
                                </b>
                                We may use your information to respond to your inquiries and solve any potential issues you might have with the use of our Services.
                            </li>

                            <li>
                                <b>
                                    To send you marketing and promotional communications.
                                </b>
                                We and/or our third-party marketing partners may use the personal information you send to us for our marketing purposes, if this is in accordance with your marketing preferences. For example, when expressing an interest in obtaining information about us or our Services, subscribing to marketing or otherwise contacting us, we will collect personal information from you. You can opt-out of our marketing emails at any time (see the "WHAT ARE YOUR PRIVACY RIGHTS?" below).
                            </li>


                            <li>
                                <b>Deliver targeted advertising to you.
                                </b>
                                We may use your information to develop and display personalized content and advertising (and work with third parties who do so) tailored to your interests and/or location and to measure its effectiveness.
                            </li>


                        </ul>

                    </section>


                    <section>
                        <h2 class="font-semibold  my-5">3. WILL YOUR INFORMATION BE SHARED WITH ANYONE?</h2>
                        <p>
                            <em>
                                <b>In Short</b>
                                We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations.
                            </em>
                        </p>

                        <p>We may process or share your data that we hold based on the following legal basis:
                        </p>
                        <ul style={
                            {listStyleType: "square"}
                        }>
                            <li>
                                <b>
                                    Consent:</b>
                                We may process your data if you have given us specific consent to use your personal information for a specific purpose.
                            </li>
                            <li>
                                <b>
                                    Legitimate Interests:
                                </b>
                                We may process your data when it is reasonably necessary to achieve our legitimate business interests.
                            </li>
                            <li>
                                <b>Performance of a Contract:
                                </b>
                                Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract.
                            </li>
                            <li>
                                <b>Legal Obligations:
                                </b>
                                We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements).
                            </li>
                            <li>
                                <b>Vital Interests:
                                </b>
                                We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.
                            </li>
                            <li>

                                <b>Vital Interests:
                                </b>
                                We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.
                            </li>
                            <p>More specifically, we may need to process your data or share your personal information in the following situations:
                            </p>
                            <li>
                                <b>Business Transfers.
                                </b>
                                We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company.
                            </li>
                            <li>
                                <b>Google Maps Platform APIs.
                                </b>
                                We may share your information with certain Google Maps Platform APIs (e.g., Google Maps API, Place API). To find out more about Google’s Privacy Policy, please refer to this
                                <a target="_blank" href="https://policies.google.com/privacy" rel="noreferrer">link</a>
                                . We obtain and store on your device ('cache') your location. You may revoke your consent anytime by contacting us at the contact details provided at the end of this document.
                            </li>

                            <li>
                                <b>Vendors, Consultants and Other Third-Party Service Providers.</b>
                                We may share your data with third-party vendors, service providers, contractors or agents who perform services for us or on our behalf and require access to such information to do that work. Examples include: payment processing, data analysis, email delivery, hosting services, customer service and marketing efforts. We may allow selected third parties to use tracking technology on the Services, which will enable them to collect data on our behalf about how you interact with our Services over time. This information may be used to, among other things, analyze and track data, determine the popularity of certain content, pages or features, and better understand online activity. Unless described in this notice, we do not share, sell, rent or trade any of your information with third parties for their promotional purposes
                            </li>

                            <li>
                                <b>Affiliates.</b>
                                We may share your information with our affiliates, in which case we will require those affiliates to honor
                                                         this privacy notice. Affiliates include our parent company and any subsidiaries, joint venture partners or other 
                                                         companies that we control or that are under common control with us.
                            </li>

                            <li>
                                <b>Business Partners.</b>
                                We may share your information with our business partners to offer you certain products, services or promotions.
                            </li>

                        </ul>


                    </section>


                    <section>
                        <h2 class="font-semibold  my-5">
                            4. WHO WILL YOUR INFORMATION BE SHARED WITH?

                        </h2>
                        <p>
                            <em>
                                <b>
                                    In Short:
                                </b>
                                We only share information with the following categories of third parties.
                            </em>
                        </p>

                        <p>
                            We only share and disclose your information with the following categories of third parties. If we have processed your data based on your consent and you wish to revoke your consent, please contact us using the contact details provided in the section below titled "HOW CAN YOU CONTACT US ABOUT THIS NOTICE?".
                        </p>


                        <ul>
                            <li>Finance & Accounting Tools</li>
                            <li>Data Storage Service Providers
                            </li>
                            <li>Data Analytics Services
                            </li>
                            <li>Cloud Computing Services
                            </li>
                            <li>Payment Processors
                            </li>
                            <li>User Account Registration & Authentication Services
                            </li>
                            <li>Website Hosting Service Providers
                            </li>
                            <li>
                                Testing Tools
                            </li>
                            <li>
                                Performance Monitoring Tools
                            </li>
                        </ul>
                    </section>


                    <section>
                        <h2 class="font-semibold  my-5">
                            5. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES?
                        </h2>
                        <p>
                            <em>
                                <b>
                                    In short:
                                </b>
                                If you choose to register or log in to our services using a social media account, we may have access to certain information about you.
                            </em>
                        </p>
                        <p>
                            Our Services offers you the ability to register and login using your third-party social media account details (like your Facebook or Twitter logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile information we receive may vary depending on the social media provider concerned, but will often include your name, email address, friends list, profile picture as well as other information you choose to make public on such social media platform.

                        </p>
                        <p>
                            We will use the information we receive only for the purposes that are described in this privacy notice or that are otherwise made clear to you on the relevant Services. Please note that we do not control, and are not responsible for, other uses of your personal information by your third-party social media provider. We recommend that you review their privacy notice to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their sites and apps.
                        </p>

                    </section>

                    <section>
                        <h2 class="font-semibold  my-5">
                            7. HOW LONG DO WE KEEP YOUR INFORMATION?

                        </h2>
                        <p>
                            <em>
                                <b>
                                    In Short:
                                </b>
                                We keep your information for as long as necessary to fulfill the purposes outlined in this privacy notice unless otherwise required by law.
                            </em>
                        </p>
                        <p>
                            We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy notice, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this notice will require us keeping your personal information for longer than twelve (12) months past the termination of the user's account.

                        </p>
                        <p>
                            When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize such information, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.
                        </p>
                    </section>

                    <section>
                        <h2 class="font-semibold  my-5">
                            8. HOW DO WE KEEP YOUR INFORMATION SAFE?

                        </h2>
                        <p>
                            <em>
                                <b>
                                    In Short:
                                </b>
                                We aim to protect your personal information through a system of organizational and technical security measures.
                            </em>
                        </p>
                        <p>
                            We have implemented appropriate technical and organizational security measures designed to protect the security of any personal information we process. However, despite our safeguards and efforts to secure your information, no electronic transmission over the Internet or information storage technology can be guaranteed to be 100% secure, so we cannot promise or guarantee that hackers, cybercriminals, or other unauthorized third parties will not be able to defeat our security, and improperly collect, access, steal, or modify your information. Although we will do our best to protect your personal information, transmission of personal information to and from our Services is at your own risk. You should only access the Services within a secure environment.

                        </p>

                    </section>

                    <section>
                        <h2 class="font-semibold  my-5">
                            9. DO WE COLLECT INFORMATION FROM MINORS?
                        </h2>
                        <p>
                            <em>
                                <b>
                                    In Short:
                                </b>
                                We do not knowingly collect data from or market to children under 18 years of age.
                            </em>
                        </p>
                        <p>
                            We do not knowingly solicit data from or market to children under 18 years of age. By using the Services, you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the Services. If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we may have collected from children under age 18, please contact us at privacy@javolin.com.

                        </p>

                    </section>


                    <section>
                        <h2 class="font-semibold  my-5">
                            10. WHAT ARE YOUR PRIVACY RIGHTS?
                        </h2>
                        <p>
                            <em>
                                <b>
                                    In Short:
                                </b>
                                You may review, change, or terminate your account at any time.

                            </em>
                        </p>

                        <p>
                            If you are a resident in the EEA or UK and you believe we are unlawfully processing your personal information, you also have the right to complain to your local data protection supervisory authority. You can find their contact details here:
                            <a rel="noreferrer" target="_blank" href="https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm.">https://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm.</a>
                        </p>

                        <p>
                            If you are a resident in Switzerland, the contact details for the data protection authorities are available here:
                            <a rel="noreferrer" target="_blank" href="https://www.edoeb.admin.ch/edoeb/en/home.html">https://www.edoeb.admin.ch/edoeb/en/home.html</a>
                            .

                        </p>

                        <p>
                            If you have questions or comments about your privacy rights, you may email us at privacy@javolin.com.

                        </p>
                        <h3>
                            Account Information

                        </h3>
                        <p>
                            If you would at any time like to review or change the information in your account or terminate your account, you can:
                        </p>
                        <ul style={
                            {listStyleType: "square"}
                        }>
                            <li>
                                Contact us using the contact information provided.
                            </li>
                        </ul>
                        <p>
                            Upon your request to terminate your account, we will deactivate or delete your account and information from our active databases. However, we may retain some information in our files to prevent fraud, troubleshoot problems, assist with any investigations, enforce our Terms of Use and/or comply with applicable legal requirements.

                        </p>
                        <p>
                            <u>
                                <b>Cookies and similar technologies:</b>
                            </u>
                            Most Web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject cookies, this could affect certain features or services of our Services. To opt-out of interest-based advertising by advertisers on our Services visit http://www.aboutads.info/choices/.

                        </p>
                        <p>
                            <u>
                                <b>Opting out of email marketing:</b>
                            </u>
                            You can unsubscribe from our marketing email list at any time by clicking on the unsubscribe link in the emails that we send or by contacting us using the details provided below. You will then be removed from the marketing email list — however, we may still communicate with you, for example to send you service-related emails that are necessary for the administration and use of your account, to respond to service requests, or for other non-marketing purposes. To otherwise opt-out, you may:

                        </p>
                        <ul style={
                            {listStyleType: "square"}
                        }>
                            <li>
                                Contact us using the contact information provided.

                            </li>
                        </ul>
                    </section>

                    <section>
                        <h2 class="font-semibold  my-5">
                            11. CONTROLS FOR DO-NOT-TRACK FEATURES
                        </h2>
                        <p>
                            Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track ("DNT") feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. At this stage no uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this privacy notice.
                        </p>

                    </section>

                    <section>
                        <h2 class="font-semibold  my-5">
                            12. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?
                        </h2>
                        <p>
                            <em>
                                <b>
                                    In Short:
                                </b>
                                Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information.
                            </em>
                        </p>
                        <p>
                            California Civil Code Section 1798.83, also known as the "Shine The Light" law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below.
                        </p>
                        <p>
                            If you are under 18 years of age, reside in California, and have a registered account with a Service, you have the right to request removal of unwanted data that you publicly post on the Services. To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the Services, but please be aware that the data may not be completely or comprehensively removed from all our systems (e.g. backups, etc.).
                        </p>

                    </section>

                    <section>
                        <h2 class="font-semibold  my-5">
                            13. DO WE MAKE UPDATES TO THIS NOTICE?
                        </h2>
                        <p>
                            <em>
                                <b>
                                    In Short:
                                </b>
                                Yes, we will update this notice as necessary to stay compliant with relevant laws.

                            </em>
                        </p>
                        <p>
                            We may update this privacy notice from time to time. The updated version will be indicated by an updated "Revised" date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy notice, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy notice frequently to be informed of how we are protecting your information.

                        </p>
                    </section>

                    <section>
                        <h2 class="font-semibold  my-5">
                            14. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?
                        </h2>
                        <p>
                            If you have questions or comments about this notice, you may email us at support@javolin.com
                        </p>
                    </section>


                </section>


                <address>
                    <div>
                        <b>Javolin Group, LLC</b>
                    </div>
                    <a href="mailto:support@javolin.com">support@javolin.com</a>

                </address>

            </main>